@mixin hdu-selector-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  

  app-hdu-selector {
    .list-wrapper {
      box-shadow: 2px 2px 2px 2px mat-color($background, background);
    }

    .mat-selection-list {
      max-height: 200px;
      overflow: auto;
    }

    
  }
}
