<nav class="navbar-header" role="navigation" aria-label="primary">
  <a mat-button class="afterglow-button afterglow-logo" routerLink="/" aria-label="Home" routerLinkActive="active">
    <span>Afterglow Access</span>
  </a>

  <div class="flex-spacer"></div>
  <!-- <theme-picker></theme-picker> -->
  <!-- <button mat-icon-button class="afterglow-button" matTooltip="Select a theme!" tabindex="-1">
    <mat-icon>format_color_fill</mat-icon>
  </button> -->

  <ng-container *ngIf="!authenticated">
      <a mat-button class="afterglow-button" routerLink="login" aria-label="Login" routerLinkActive="active">
        Login
      </a>
  </ng-container>
  <ng-container *ngIf="authenticated">
      <!-- <button mat-icon-button class="afterglow-button" matTooltip="View User Profile" tabindex="-1">
        <mat-icon>account_box</mat-icon>
      </button> -->
      <a mat-button class="afterglow-button" routerLink="workbench" aria-label="Workbench" routerLinkActive="active">
          Workbench
        </a>
      <a mat-button class="afterglow-button" routerLink="import" aria-label="Import" routerLinkActive="active">
          Import
        </a>
      <a mat-button class="afterglow-button" routerLink="logout" aria-label="Logout" routerLinkActive="active">
        Logout
      </a>
  </ng-container>
</nav>