@use "@angular/material" as mat;
@mixin jobs-page-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-jobs-page {
        .grabber{
            width:10px;
            background-color: mat.get-color-from-palette($background, unselected-chip);
          }
          .grabber:hover{
            cursor: e-resize;
          }
    }
}
