<div mat-dialog-title class="dialog-title">
  <h4 i18n>Open File</h4>
</div>

<!-- See https://js.devexpress.com/Demos/WidgetsGallery/Demo/FileManager/UICustomization/Angular/Light/ for customization -->
<mat-dialog-content>
  <app-file-manager [create]="true" [copy]="true" [move]="true" [delete]="true" [rename]="true" [upload]="true"
    [download]="true" (onAssetSelectionChange)="selectedAssets$.next($event)"
    (onSelectedAssetOpened)="openSelectedAssets()">
  </app-file-manager>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;" class="pb-4">
  <button mat-raised-button (click)="openSelectedAssets()" [disabled]="!(openBtnEnabled$ | async)">Open</button>
  <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
</mat-dialog-actions>
