<ng-template #invalidHduTypeBlock>
  <div i18n class="alert alert-info" i18n>This layer type is not yet supported by the custom marker tool.</div>
</ng-template>

<ng-template #fileNotSelectedBlock>
  <div i18n class="alert alert-info" i18n>Select an file or image layer to see the custom marker tool.</div>
</ng-template>

<ng-container *ngIf="file$ | async; else fileNotSelectedBlock">
  <div fxLayout="column" fxLayoutGap="10px"
    *ngIf="!(hdu$ | async) || (hdu$ | async).type == HduType.IMAGE; else invalidHduTypeBlock">
    <ng-container *ngIf="config$ | async; let config">
      <div fxLayout="row" fxLayoutGap="15px">
        <mat-slide-toggle [checked]="config?.centroidClicks" [labelPosition]="'before'"
          (change)="onCentroidClicksChange($event)" color="primary" i18n>
          Centroid clicks
        </mat-slide-toggle>
        <mat-slide-toggle [checked]="config?.usePlanetCentroiding" [disabled]="!config?.centroidClicks" color="primary"
          [labelPosition]="'before'" (change)="onPlanetCentroidingChange($event)" i18n>
          Planet Centroiding
        </mat-slide-toggle>
      </div>
    </ng-container>

    <p i18n>Add custom markers by clicking on your image.</p>
    <p i18n class="pb-2" i18n>Tip: Hold <span class="kbd">Alt</span> to click beneath existing markers</p>

    <ng-container *ngIf="selectedMarkers$ | async; let selectedMarkers">
      <ng-container *ngIf="selectedMarkers.length == 1">
        <hr />
        <h3 i18n>Marker Customization</h3>
        <app-circle-marker-editor *ngIf="selectedMarkers[0] | guardType: isCircleMarker as circleMarker"
          [marker]="circleMarker" (onChange)="onMarkerChange($event, selectedMarkers[0])">
        </app-circle-marker-editor>
        <app-rectangle-marker-editor *ngIf="selectedMarkers[0] | guardType: isRectangleMarker as rectangleMarker"
          [marker]="rectangleMarker" (onChange)="onMarkerChange($event, selectedMarkers[0])">
        </app-rectangle-marker-editor>
      </ng-container>
      <button mat-raised-button i18n-aria-label aria-label="Delete Selected Markers" i18n-matTooltip
        matTooltip="Delete Selected Markers" color="warn" (click)="deleteSelectedMarkers(selectedMarkers)"
        [disabled]="selectedMarkers.length == 0">
        <mat-icon>delete</mat-icon> <span i18n>Delete Selected Markers</span>
      </button>
    </ng-container>
  </div>
</ng-container>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>