<ng-template #invalidHduTypeBlock>
  <div i18n class="alert alert-info" i18n>This tool does not yet support tabular data. Please select an image HDU.</div>
</ng-template>

<ng-template #fileNotSelectedBlock>
  <div i18n class="alert alert-info" i18n>Select an HDU or composite file to see the display settings.</div>
</ng-template>

<ng-container *ngIf="viewerState$ | async; let vs">
  <ng-container *ngIf="vs.file; else fileNotSelectedBlock">
    <ng-container *ngIf="!vs.hdu || vs.imageHdu; else invalidHduTypeBlock">
      <div *ngIf="config$ | async; let config" class="row pb-1">
        <div class="col-6">
          <div class="form-group">
            <mat-slide-toggle
              [checked]="config?.centroidClicks"
              [labelPosition]="'before'"
              (change)="onCentroidClicksChange($event)"
              color="primary"
              i18n
            >
              Centroid clicks
            </mat-slide-toggle>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <mat-slide-toggle
              [checked]="config?.usePlanetCentroiding"
              [disabled]="!config?.centroidClicks"
              color="primary"
              [labelPosition]="'before'"
              (change)="onPlanetCentroidingChange($event)"
              i18n
            >
              Planet Centroiding
            </mat-slide-toggle>
          </div>
        </div>
      </div>

      <p i18n>Add custom markers by clicking on your image.</p>
      <p class="pb-2" i18n>Tip: Hold <span class="kbd">Alt</span> to click beneath existing markers</p>

      <ng-container *ngIf="selectedMarkers$ | async; let selectedMarkers">
        <ng-container *ngIf="selectedMarkers.length == 1">
          <hr />
          <h3 i18n>Marker Customization</h3>
          <app-circle-marker-editor
            *ngIf="circleMarker$ | async as circleMarker"
            [marker]="circleMarker"
            (changed)="onMarkerChange($event, selectedMarkers[0])"
          >
          </app-circle-marker-editor>
          <app-rectangle-marker-editor
            *ngIf="rectangleMarker$ | async as rectangleMarker"
            [marker]="rectangleMarker"
            (changed)="onMarkerChange($event, selectedMarkers[0])"
          >
          </app-rectangle-marker-editor>
        </ng-container>
        <button
          mat-raised-button
          i18n-aria-label
          aria-label="Delete Selected Markers"
          i18n-matTooltip
          matTooltip="Delete Selected Markers"
          color="warn"
          (click)="deleteSelectedMarkers(selectedMarkers)"
          [disabled]="selectedMarkers.length == 0"
        >
          <mat-icon>delete</mat-icon> <span i18n>Delete Selected Markers</span>
        </button>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
