@use '@angular/material' as mat;
@mixin image-viewer-status-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-image-viewer-status-bar {
    .tool-bar {
      background-color: mat.get-color-from-palette($background, card);
      color: mat.get-color-from-palette($foreground, text);
    }
  }

  app-image-viewer-status-bar.active {
    @if map-get($theme, is-dark) {
      .tool-bar {
        background-color: mat.get-color-from-palette($primary, darker);
        color: mat.get-color-from-palette($primary, 'darker-contrast');
        // border: solid 2px #d7d7d7;
      }

      .mat-icon {
        color: mat.get-color-from-palette($primary, 'darker-contrast');
      }
    } @else {
      .tool-bar {
        background-color: mat.get-color-from-palette($primary, lighter);
        color: mat.get-color-from-palette($primary, 'lighter-contrast');
        // border: solid 2px #d7d7d7;
      }

      .mat-icon {
        color: mat.get-color-from-palette($primary, 'lighter-contrast');
      }
    }
  }
}
