<div fxLayout="row wrap" fxLayout.sm="column" fxLayoutGap="10px" class="info-bar mono">
  <div fxFlex="1 1 auto" fxFlexAlign="center">
    <div class="pr-4" style="min-width: 300px; display: inline-block;">
      <ng-container *ngIf="imageMouseX != null && imageMouseY != null; else noImageCoords">
        ({{imageMouseX | number : '1.3-3'}}, {{imageMouseY | number : '1.3-3'}})
        <ng-container *ngIf="pixelValue; else colorValueBlock"> : {{pixelValue | number : '1.1-3'}}</ng-container>
        <ng-template #colorValueBlock>
          <ng-container *ngIf="colorValue"> : RGBA({{colorValue.red}},{{colorValue.green}},{{colorValue.blue}},{{colorValue.alpha}})</ng-container>
        </ng-template>
        
      </ng-container>
      <ng-template #noImageCoords>
        (-.---, -.---): -.---
      </ng-template>
    </div>

    <div style="display: inline-block;">
      <ng-container *ngIf="raHours != null && decDegs != null; else noSkyCoords">
        RA: {{raHours | dms:'2.4-4'}} DEC: {{decDegs | dms:'2.3-3'}}
      </ng-container>
      <ng-template #noSkyCoords>
        
      </ng-template>

    </div>


  </div>
  <div fxFlex="1 1 auto" style="text-align: right;">
    <div class="tool-bar">
      <button mat-icon-button i18n-aria-label aria-label="Zoom In" (mousedown)="startZoomIn()" (mouseup)="stopZoomIn()"
        i18n-matTooltip matTooltip="Zoom In">
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button mat-icon-button i18n-aria-label aria-label="Zoom Out" (mousedown)="startZoomOut()"
        (mouseup)="stopZoomOut()" i18n-matTooltip matTooltip="Zoom Out">
        <mat-icon>zoom_out</mat-icon>
      </button>
      <button mat-icon-button i18n-aria-label aria-label="Zoom to Fit" (click)="zoomToFit()" i18n-matTooltip
        matTooltip="Zoom To Fit">
        <mat-icon>settings_overscan</mat-icon>
      </button>
      <button mat-icon-button i18n-aria-label aria-label="Reset Zoom" (click)="zoomTo(1)" i18n-matTooltip
        matTooltip="Reset Zoom">
        <mat-icon>all_out</mat-icon>
      </button>
      <button mat-icon-button i18n-aria-label aria-label="Download Viewer Snapshot" (click)="onDownloadSnapshotClick()"
        i18n-matTooltip matTooltip="Download Viewer Snapshot">
        <mat-icon>photo_camera</mat-icon>
      </button>
      <button mat-icon-button i18n-aria-label aria-label="Remove From Library" (click)="removeFromLibrary()"
        i18n-matTooltip matTooltip="Remove Image From Library">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

  </div>
</div>
