<div fxLayout="row" fxLayoutAlign="end stretch" fxLayout.sm="column" fxLayoutGap="10px" class="info-bar mono">
  <div fxFlex="1 1 auto" fxFlexAlign="center" fxLayout="row wrap">
    <div fxFlex="1 1 auto">
      <div class="pr-4" style="min-width: 300px; display: inline-block">
        <ng-container *ngIf="imageMouseX != null && imageMouseY != null; else noImageCoords">
          ({{ imageMouseX | number: '1.3-3' }}, {{ imageMouseY | number: '1.3-3' }})
          <ng-container *ngIf="pixelValue != null; else colorValueBlock">
            : {{ pixelValue | number: '1.1-3' }}</ng-container
          >
          <ng-template #colorValueBlock>
            <ng-container *ngIf="colorValue">
              : RGBA({{ colorValue.red }},{{ colorValue.green }},{{ colorValue.blue }},{{
                colorValue.alpha
              }})</ng-container
            >
          </ng-template>
        </ng-container>
        <ng-template #noImageCoords> (-.---, -.---): -.--- </ng-template>
      </div>
    </div>
    <div fxFlex="1 1 auto" fxFlexAlign="center" fxShow="raHours != null && decDegs != null">
      RA: {{ raHours | dms: '2.4-4' }} DEC: {{ decDegs | dms: '2.3-3' }}
    </div>
  </div>

  <div fxFlex="0 0 auto" style="text-align: right">
    <div class="tool-bar" style="height: 100%">
      <button
        mat-icon-button
        (click)="onDownloadSnapshotClick()"
        i18n-matTooltip
        matTooltip="Download Viewer Snapshot"
      >
        <mat-icon>photo_camera</mat-icon>
      </button>
      <button
        mat-icon-button
        (mousedown)="startZoomIn()"
        (mouseup)="stopZoomIn()"
        i18n-matTooltip
        matTooltip="Zoom In"
      >
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button
        mat-icon-button
        (mousedown)="startZoomOut()"
        (mouseup)="stopZoomOut()"
        i18n-matTooltip
        matTooltip="Zoom Out"
      >
        <mat-icon>zoom_out</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="zoomToFit()"
        i18n-matTooltip
        matTooltip="Zoom To Fit"
      >
        <mat-icon>settings_overscan</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="zoomTo(1)"
        i18n-matTooltip
        matTooltip="Reset Zoom"
      >
        <mat-icon>all_out</mat-icon>
      </button>
    </div>
  </div>
</div>
