<ng-template #fileNotSelectedBlock>
  <div i18n class="alert alert-info" i18n>Select a file or image layer to see the display settings.</div>
</ng-template>

<ng-template #invalidHduTypeBlock>
  <div i18n class="alert alert-info" i18n>Select an image layer to adjust brightness and contrast settings.</div>
</ng-template>

<ng-container *ngIf="file$ | async as file; else fileNotSelectedBlock">
  <ng-container *ngIf="activeHdu$ | async as hdu; else multiLayerBlock">
    <ng-container *ngIf="activeImageHdu$ | async as activeImageHdu; else invalidHduTypeBlock">
      <div>
        <h3 i18n>Brightness and Contrast Presets</h3>
        <div class="pb-1">
          <button mat-raised-button class="m-1" (click)="onPresetClick(activeImageHdu, 10, 95)" i18n-aria-label
            aria-label="Faint Target Preset">
            <mat-icon>brightness_3</mat-icon><span i18n>Faint Target</span>
          </button>
          <button mat-raised-button class="m-1" (click)="onPresetClick(activeImageHdu, 10, 99)" i18n-aria-label
            aria-label="Default Preset">
            <mat-icon>brightness_2</mat-icon><span i18n>Default</span>
          </button>
          <button mat-raised-button class="m-1" (click)="onPresetClick(activeImageHdu, 10, 99.999)" i18n-aria-label
            aria-label="Bright Target Preset">
            <mat-icon>brightness_5</mat-icon><span i18n>Bright Target</span>
          </button>
        </div>
      </div>

      <div *ngIf="activeImageHdu.hist?.loaded" class="pr-3 pl-3 pb-0">
        <app-image-hist-chart [width]="440" [height]="250" [hist]="activeImageHdu?.hist"
          [backgroundPercentile]="activeImageHdu?.normalizer?.backgroundPercentile"
          [peakPercentile]="activeImageHdu?.normalizer?.peakPercentile">
        </app-image-hist-chart>
        <div style="clear: both"></div>
      </div>

      <div class="pb-4 pt-1">
        <h3 i18n>Brightness and Contrast Settings</h3>
        <app-normalizer-form [normalizer]="activeImageHdu?.normalizer"
          (backgroundPercentileChange)="onBackgroundPercentileChange($event)"
          (peakPercentileChange)="onPeakPercentileChange($event)"
          (backgroundLevelChange)="onBackgroundLevelChange($event)" (peakLevelChange)="onPeakLevelChange($event)"
          (colorMapChange)="onColorMapChange(activeImageHdu, $event)"
          (stretchModeChange)="onStretchModeChange(activeImageHdu, $event)"
          (invertedChange)="onInvertedChange(activeImageHdu, $event)"
          (balanceChange)="onBalanceChange(activeImageHdu, $event)"
          (modeChange)="onNormalizerModeChange(activeImageHdu, $event)">
        </app-normalizer-form>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #multiLayerBlock>
    <ng-container *ngIf="hdus$ | async; let hdus">
      <!-- <div *ngIf="hdus.length > 1" fxFlexLayout="column" fxLayoutGap="10px">
        <div>
          <h3 i18n>Color Composite Tools</h3>
          <div class="pb-4">
            <button mat-raised-button class="m-1" (click)="openPsfMatchingDialog(file)" i18n-aria-label
              aria-label="Open PSF Matching Dialog">
              <mat-icon class="mr-1">balance</mat-icon><span i18n>PSF Matching Tool...</span>
            </button>
          </div>
        </div>
        <div fxFlexLayout="row" fxLayoutGap="5px">
          <button [(colorPicker)]="color" [cpSaveClickOutside]="true" (colorPickerOpen)="onColorPickerOpen()"
            (colorPickerClose)="onColorPickerClose()" [cpEyeDropper]="true"></button>
          <input [(colorPicker)]="color" [value]="color" [style.background]="color" [cpSaveClickOutside]="true"
            (colorPickerOpen)="onColorPickerOpen()" (colorPickerClose)="onColorPickerClose()" />
          <button mat-icon-button (click)="onResetWhiteBalance()">
            <mat-icon>format_color_reset</mat-icon>
          </button>
        </div>
      </div> -->
      <div *ngIf="hdus.length > 1" fxFlexLayout="column" fxLayoutGap="10px">
        <div fxFlexLayout="row" fxLayoutGap="15px">
          <div style="width: 100px;">Red</div>
          <mat-form-field style="width: 50px;">
            <mat-label>R</mat-label><input matInput type="number" [formControl]="channelMixerControls[0][0]"
              step="0.05" />
          </mat-form-field>
          <mat-form-field style="width: 50px;">
            <mat-label>G</mat-label><input matInput type="number" [formControl]="channelMixerControls[0][1]"
              step="0.05" />
          </mat-form-field>
          <mat-form-field style="width: 50px;">
            <mat-label>B</mat-label><input matInput type="number" [formControl]="channelMixerControls[0][2]"
              step="0.05" />
          </mat-form-field>
        </div>
        <div fxFlexLayout="row" fxLayoutGap="15px">
          <div style="width: 100px;">Green</div>
          <mat-form-field style="width: 50px;">
            <mat-label>R</mat-label><input matInput type="number" [formControl]="channelMixerControls[1][0]"
              step="0.05" />
          </mat-form-field>
          <mat-form-field style="width: 50px;">
            <mat-label>G</mat-label><input matInput type="number" [formControl]="channelMixerControls[1][1]"
              step="0.05" />
          </mat-form-field>
          <mat-form-field style="width: 50px;">
            <mat-label>B</mat-label><input matInput type="number" [formControl]="channelMixerControls[1][2]"
              step="0.05" />
          </mat-form-field>
        </div>
        <div fxFlexLayout="row" fxLayoutGap="15px">
          <div style="width: 100px;">Blue</div>
          <mat-form-field style="width: 50px;">
            <mat-label>R</mat-label><input matInput type="number" [formControl]="channelMixerControls[2][0]"
              step="0.05" />
          </mat-form-field>
          <mat-form-field style="width: 50px;">
            <mat-label>G</mat-label><input matInput type="number" [formControl]="channelMixerControls[2][1]"
              step="0.05" />
          </mat-form-field>
          <mat-form-field style="width: 50px;">
            <mat-label>B</mat-label><input matInput type="number" [formControl]="channelMixerControls[2][2]"
              step="0.05" />
          </mat-form-field>
        </div>
      </div>
    </ng-container>

  </ng-template>

  <hr>
  <div>
    <h3 i18n>Image Orientation Options</h3>
    <div class="pb-4">
      <app-image-orientation-toolbar [data]="(activeImageHdu$ | async) || (file$ | async)"
        [viewportSize]="viewportSize$ | async"></app-image-orientation-toolbar>
    </div>
  </div>
</ng-container>