<ng-template #fileNotSelectedBlock>
  <div i18n class="alert alert-info" i18n>Select a file or image layer to see the display settings.</div>
</ng-template>

<ng-template #invalidHduTypeBlock>
  <div i18n class="alert alert-info" i18n>Select an image layer to adjust brightness and contrast settings.</div>
</ng-template>

<ng-container *ngIf="file$ | async as file; else fileNotSelectedBlock">
  <ng-container *ngIf="activeHdu$ | async as hdu; else multiLayerBlock">
    <ng-container *ngIf="activeImageHdu$ | async as activeImageHdu; else invalidHduTypeBlock">

      <div *ngIf="activeImageHdu.hist?.loaded" class="pr-3 pl-3 pb-0 w-100" style="height: 400px;">
        <app-image-hist-chart [data]="[activeHistData$ | async]"
          [backgroundLevel]="activeImageHdu?.normalizer?.backgroundLevel"
          [peakLevel]="activeImageHdu?.normalizer?.peakLevel">
        </app-image-hist-chart>
        <div style="clear: both"></div>
      </div>


      <ng-container *ngIf="(file$ |async)?.syncLayerNormalizers; else notSyncedBlock">
        <div class="alert alert-warning" style="margin-top: 10px" i18n>
          Brightness and contrast settings for this layer are controlled by the file. To use unique settings in each
          layer, you must first disable normalization syncing
          in the file's display settings.
        </div>

        <app-normalizer-form [normalizer]="activeImageHdu?.normalizer" [showMode]="false" [showPercentiles]="false"
          [showLevels]="false" [showInverted]="false" (colorMapChange)="onColorMapChange(activeImageHdu, $event)"
          (channelScaleChange)="onChannelScaleChange(activeImageHdu, $event)"
          (stretchModeChange)="onStretchModeChange($event)"
          (channelOffsetChange)="onChannelOffsetChange(activeImageHdu, $event)">
        </app-normalizer-form>


      </ng-container>
      <ng-template #notSyncedBlock>
        <div class="pb-4 pt-1">
          <h3 i18n>Brightness and Contrast Settings</h3>
          <div class="pb-4">
            <button mat-raised-button class="m-1" (click)="onPresetClick( 10, 95)" i18n-aria-label
              aria-label="Faint Target Preset">
              <mat-icon>brightness_3</mat-icon><span i18n>Faint Target</span>
            </button>
            <button mat-raised-button class="m-1" (click)="onPresetClick(10, 99)" i18n-aria-label
              aria-label="Default Preset">
              <mat-icon>brightness_2</mat-icon><span i18n>Default Preset</span>
            </button>
            <button mat-raised-button class="m-1" (click)="onPresetClick(10, 99.999)" i18n-aria-label
              aria-label="Bright Target Preset">
              <mat-icon>brightness_5</mat-icon><span i18n>Bright Target</span>
            </button>
          </div>
          <app-normalizer-form [normalizer]="activeImageHdu?.normalizer"
            (backgroundPercentileChange)="onBackgroundPercentileChange($event)"
            (peakPercentileChange)="onPeakPercentileChange($event)"
            (backgroundLevelChange)="onBackgroundLevelChange($event)" (peakLevelChange)="onPeakLevelChange($event)"
            (colorMapChange)="onColorMapChange(activeImageHdu, $event)"
            (stretchModeChange)="onStretchModeChange($event)"
            (invertedChange)="onInvertedChange(activeImageHdu, $event)"
            (channelScaleChange)="onChannelScaleChange(activeImageHdu, $event)"
            (channelOffsetChange)="onChannelOffsetChange(activeImageHdu, $event)"
            (modeChange)="onNormalizerModeChange($event)">
          </app-normalizer-form>
        </div>
      </ng-template>




    </ng-container>
  </ng-container>


  <ng-template #multiLayerBlock>
    <ng-container *ngIf="hdus$ | async; let hdus">
      <div *ngIf="hdus.length > 1" fxFlexLayout="column" fxLayoutGap="10px">
        <div>
          <div class="pb-1">

            <button mat-raised-button class="m-1" (click)="neutralizeBackground()" i18n-aria-label
              aria-label="Neutralize Background">
              <mat-icon class="mr-2">balance</mat-icon><span i18n>Neutralize Background</span>
            </button>
            <button mat-raised-button class="m-1" (click)="balanceColors()" i18n-aria-label
              aria-label="Auto White Balance">
              <mat-icon class="mr-2">wb_auto</mat-icon><span i18n>Balance Colors</span>
            </button>

            <!-- <button mat-raised-button class="m-1" (click)="fitChannelScales()" i18n-aria-label
              aria-label="Fit Channel Scales">
              <mat-icon>linear_scale</mat-icon><span i18n>Fit Channel Scales</span>
            </button> -->
            <button mat-raised-button class="m-1" (click)="resetColorBalance()" i18n-aria-label
              aria-label="Reset Color Balance">
              <mat-icon>refresh</mat-icon><span i18n>Reset</span>
            </button>
          </div>
        </div>

        <div class="pr-3 pl-3 pb-0 w-100" style="height: 400px;">
          <app-image-hist-chart [data]="compositeHistData$ | async"
            [backgroundLevel]="(compositeNormalizer$ | async)?.backgroundLevel"
            [peakLevel]="(compositeNormalizer$ | async)?.peakLevel">
          </app-image-hist-chart>

        </div>
        <div style="clear: both"></div>

        <div class="p-4">
          <mat-slide-toggle [checked]="(file$ |async)?.syncLayerNormalizers"
            (change)="setFileNormalizerSyncEvent$.next($event.checked)" color="primary" i18n>
            Keep normalization settings synced across all layers
          </mat-slide-toggle>
        </div>

        <ng-container *ngIf="(file$ |async)?.syncLayerNormalizers">
          <div class="pb-4 pt-1" *ngIf="compositeNormalizer$ | async; let compositeNormalizer">
            <h3 i18n>Brightness and Contrast Settings</h3>
            <div class="pb-4">
              <button mat-raised-button class="m-1" (click)="onPresetClick( 10, 95)" i18n-aria-label
                aria-label="Faint Target Preset">
                <mat-icon>brightness_3</mat-icon><span i18n>Faint Target</span>
              </button>
              <button mat-raised-button class="m-1" (click)="onPresetClick(10, 99)" i18n-aria-label
                aria-label="Default Preset">
                <mat-icon>brightness_2</mat-icon><span i18n>Default Preset</span>
              </button>
              <button mat-raised-button class="m-1" (click)="onPresetClick(10, 99.999)" i18n-aria-label
                aria-label="Bright Target Preset">
                <mat-icon>brightness_5</mat-icon><span i18n>Bright Target</span>
              </button>
            </div>

            <app-normalizer-form [normalizer]="compositeNormalizer" [showMode]="false" [showPercentiles]="false"
              [showColorMap]="false" [showInverted]="false" [showStretchMode]="true" [showChannelOffset]="false"
              [showChannelScale]="false" (backgroundLevelChange)="onBackgroundLevelChange($event)"
              (peakLevelChange)="onPeakLevelChange($event)"
              (backgroundPercentileChange)="onBackgroundPercentileChange($event)"
              (peakPercentileChange)="onPeakPercentileChange($event)" (modeChange)="onNormalizerModeChange($event)"
              (stretchModeChange)="onStretchModeChange($event)">
            </app-normalizer-form>
          </div>

        </ng-container>

        <!-- <div fxFlexLayout="column" fxLayoutGap="10px">
          <div fxFlexLayout="row" fxLayoutGap="15px">
            <div style="width: 100px;">Red</div>
            <mat-form-field style="width: 50px;">
              <mat-label>R</mat-label><input matInput type="number" [formControl]="channelMixerControls[0][0]"
                step="0.05" />
            </mat-form-field>
            <mat-form-field style="width: 50px;">
              <mat-label>G</mat-label><input matInput type="number" [formControl]="channelMixerControls[0][1]"
                step="0.05" />
            </mat-form-field>
            <mat-form-field style="width: 50px;">
              <mat-label>B</mat-label><input matInput type="number" [formControl]="channelMixerControls[0][2]"
                step="0.05" />
            </mat-form-field>
          </div>
          <div fxFlexLayout="row" fxLayoutGap="15px">
            <div style="width: 100px;">Green</div>
            <mat-form-field style="width: 50px;">
              <mat-label>R</mat-label><input matInput type="number" [formControl]="channelMixerControls[1][0]"
                step="0.05" />
            </mat-form-field>
            <mat-form-field style="width: 50px;">
              <mat-label>G</mat-label><input matInput type="number" [formControl]="channelMixerControls[1][1]"
                step="0.05" />
            </mat-form-field>
            <mat-form-field style="width: 50px;">
              <mat-label>B</mat-label><input matInput type="number" [formControl]="channelMixerControls[1][2]"
                step="0.05" />
            </mat-form-field>
          </div>
          <div fxFlexLayout="row" fxLayoutGap="15px">
            <div style="width: 100px;">Blue</div>
            <mat-form-field style="width: 50px;">
              <mat-label>R</mat-label><input matInput type="number" [formControl]="channelMixerControls[2][0]"
                step="0.05" />
            </mat-form-field>
            <mat-form-field style="width: 50px;">
              <mat-label>G</mat-label><input matInput type="number" [formControl]="channelMixerControls[2][1]"
                step="0.05" />
            </mat-form-field>
            <mat-form-field style="width: 50px;">
              <mat-label>B</mat-label><input matInput type="number" [formControl]="channelMixerControls[2][2]"
                step="0.05" />
            </mat-form-field>
          </div>
        </div> -->

      </div>
    </ng-container>

  </ng-template>

  <hr>
  <div>
    <h3 i18n>Image Orientation Options</h3>
    <div class="pb-4">
      <app-image-orientation-toolbar [data]="(activeImageHdu$ | async) || (file$ | async)"
        [viewportSize]="viewportSize$ | async"></app-image-orientation-toolbar>
    </div>
  </div>
</ng-container>