<ng-template #fileNotSelectedBlock>
  <div i18n class="alert alert-info" i18n>Select a file or image layer to see the display settings.</div>
</ng-template>

<ng-template #invalidHduTypeBlock>
  <div i18n class="alert alert-info" i18n>Select an image layer to adjust brightness and contrast settings.</div>
</ng-template>

<ng-container *ngIf="file$ | async as file; else fileNotSelectedBlock">
  <ng-container *ngIf="activeHdu$ | async as hdu; else multiLayerBlock">
    <ng-container *ngIf="activeImageHdu$ | async as activeImageHdu; else invalidHduTypeBlock">

      <div *ngIf="activeImageHdu.hist?.loaded" class="pr-3 pl-3 pb-0">
        <app-image-hist-chart [width]="600" [height]="400" [data]="[activeHistData$ | async]"
          [backgroundLevel]="activeImageHdu?.normalizer?.backgroundLevel"
          [peakLevel]="activeImageHdu?.normalizer?.peakLevel">
        </app-image-hist-chart>
        <div style="clear: both"></div>
      </div>



      <div class="pb-4 pt-1">
        <h3 i18n>Brightness and Contrast Settings</h3>
        <div class="pb-4">
          <button mat-raised-button class="m-1" (click)="onPresetClick( 10, 95)" i18n-aria-label
            aria-label="Faint Target Preset">
            <mat-icon>brightness_3</mat-icon><span i18n>Faint Target Preset</span>
          </button>
          <button mat-raised-button class="m-1" (click)="onPresetClick(10, 99)" i18n-aria-label
            aria-label="Default Preset">
            <mat-icon>brightness_2</mat-icon><span i18n>Default Preset</span>
          </button>
          <button mat-raised-button class="m-1" (click)="onPresetClick(10, 99.999)" i18n-aria-label
            aria-label="Bright Target Preset">
            <mat-icon>brightness_5</mat-icon><span i18n>Bright Target Preset</span>
          </button>
        </div>
        <app-normalizer-form [normalizer]="activeImageHdu?.normalizer"
          (backgroundPercentileChange)="onBackgroundPercentileChange($event)"
          (peakPercentileChange)="onPeakPercentileChange($event)"
          (backgroundLevelChange)="onBackgroundLevelChange($event)" (peakLevelChange)="onPeakLevelChange($event)"
          (colorMapChange)="onColorMapChange(activeImageHdu, $event)" (stretchModeChange)="onStretchModeChange($event)"
          (invertedChange)="onInvertedChange(activeImageHdu, $event)"
          (channelScaleChange)="onChannelScaleChange(activeImageHdu, $event)"
          (channelOffsetChange)="onChannelOffsetChange(activeImageHdu, $event)"
          (modeChange)="onNormalizerModeChange($event)">
        </app-normalizer-form>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #multiLayerBlock>
    <ng-container *ngIf="hdus$ | async; let hdus">
      <div *ngIf="hdus.length > 1" fxFlexLayout="column" fxLayoutGap="10px">
        <div>
          <h3 i18n>Histogram</h3>
          <div class="pb-1">
            <button mat-raised-button class="m-1" (click)="neutralizeBackground()" i18n-aria-label
              aria-label="Neutralize Background">
              <mat-icon>balance</mat-icon><span i18n>Neutralize Background</span>
            </button>
            <!-- <button mat-raised-button class="m-1" (click)="fitChannelScales()" i18n-aria-label
              aria-label="Fit Channel Scales">
              <mat-icon>linear_scale</mat-icon><span i18n>Fit Channel Scales</span>
            </button> -->
            <button mat-raised-button class="m-1" (click)="resetChannelFitting()" i18n-aria-label
              aria-label="Reset Channel Fitting">
              <mat-icon>refresh</mat-icon><span i18n>Reset Fit</span>
            </button>
          </div>
        </div>

        <div class="pr-3 pl-3 pb-0">
          <app-image-hist-chart [width]="600" [height]="400" [data]="compositeHistData$ | async"
            [backgroundLevel]="(compositeNormalizer$ | async)?.backgroundLevel"
            [peakLevel]="(compositeNormalizer$ | async)?.peakLevel">
          </app-image-hist-chart>
          <div style="clear: both"></div>
        </div>

        <div class="pb-4 pt-1" *ngIf="compositeNormalizer$ | async; let compositeNormalizer">
          <h3 i18n>Brightness and Contrast Settings</h3>
          <div class="pb-4">
            <button mat-raised-button class="m-1" (click)="onPresetClick( 10, 95)" i18n-aria-label
              aria-label="Faint Target Preset">
              <mat-icon>brightness_3</mat-icon><span i18n>Faint Target Preset</span>
            </button>
            <button mat-raised-button class="m-1" (click)="onPresetClick(10, 99)" i18n-aria-label
              aria-label="Default Preset">
              <mat-icon>brightness_2</mat-icon><span i18n>Default Preset</span>
            </button>
            <button mat-raised-button class="m-1" (click)="onPresetClick(10, 99.999)" i18n-aria-label
              aria-label="Bright Target Preset">
              <mat-icon>brightness_5</mat-icon><span i18n>Bright Target Preset</span>
            </button>
          </div>
          <app-normalizer-form [normalizer]="compositeNormalizer" [showMode]="true" [showColorMap]="false"
            [showInverted]="false" [showStretchMode]="true" [showChannelOffset]="false" [showChannelScale]="false"
            (backgroundLevelChange)="onBackgroundLevelChange($event)" (peakLevelChange)="onPeakLevelChange($event)"
            (backgroundPercentileChange)="onBackgroundPercentileChange($event)"
            (peakPercentileChange)="onPeakPercentileChange($event)" (modeChange)="onNormalizerModeChange($event)"
            (stretchModeChange)="onStretchModeChange($event)">
          </app-normalizer-form>
        </div>

        <!-- <div fxFlexLayout="column" fxLayoutGap="10px">
          <div fxFlexLayout="row" fxLayoutGap="15px">
            <div style="width: 100px;">Red</div>
            <mat-form-field style="width: 50px;">
              <mat-label>R</mat-label><input matInput type="number" [formControl]="channelMixerControls[0][0]"
                step="0.05" />
            </mat-form-field>
            <mat-form-field style="width: 50px;">
              <mat-label>G</mat-label><input matInput type="number" [formControl]="channelMixerControls[0][1]"
                step="0.05" />
            </mat-form-field>
            <mat-form-field style="width: 50px;">
              <mat-label>B</mat-label><input matInput type="number" [formControl]="channelMixerControls[0][2]"
                step="0.05" />
            </mat-form-field>
          </div>
          <div fxFlexLayout="row" fxLayoutGap="15px">
            <div style="width: 100px;">Green</div>
            <mat-form-field style="width: 50px;">
              <mat-label>R</mat-label><input matInput type="number" [formControl]="channelMixerControls[1][0]"
                step="0.05" />
            </mat-form-field>
            <mat-form-field style="width: 50px;">
              <mat-label>G</mat-label><input matInput type="number" [formControl]="channelMixerControls[1][1]"
                step="0.05" />
            </mat-form-field>
            <mat-form-field style="width: 50px;">
              <mat-label>B</mat-label><input matInput type="number" [formControl]="channelMixerControls[1][2]"
                step="0.05" />
            </mat-form-field>
          </div>
          <div fxFlexLayout="row" fxLayoutGap="15px">
            <div style="width: 100px;">Blue</div>
            <mat-form-field style="width: 50px;">
              <mat-label>R</mat-label><input matInput type="number" [formControl]="channelMixerControls[2][0]"
                step="0.05" />
            </mat-form-field>
            <mat-form-field style="width: 50px;">
              <mat-label>G</mat-label><input matInput type="number" [formControl]="channelMixerControls[2][1]"
                step="0.05" />
            </mat-form-field>
            <mat-form-field style="width: 50px;">
              <mat-label>B</mat-label><input matInput type="number" [formControl]="channelMixerControls[2][2]"
                step="0.05" />
            </mat-form-field>
          </div>
        </div> -->

      </div>
    </ng-container>

  </ng-template>

  <hr>
  <div>
    <h3 i18n>Image Orientation Options</h3>
    <div class="pb-4">
      <app-image-orientation-toolbar [data]="(activeImageHdu$ | async) || (file$ | async)"
        [viewportSize]="viewportSize$ | async"></app-image-orientation-toolbar>
    </div>
  </div>
</ng-container>