<div class="flex flex-col gap-6">
    <div class="flex flex-col gap-6">
        <form [formGroup]="sourceExtractionForm">
            <h2>Source Extraction</h2>
            <div style="padding: 10px">
                <div fxLayout="column" fxLayoutGap="30px">
                    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutGap="20px">
                        <div>
                            <mat-form-field>
                                <mat-label i18n>Threshold</mat-label>
                                <input type="number" matInput formControlName="threshold" />
                                <mat-hint i18n>extraction threshold in units of RMS</mat-hint>
                            </mat-form-field>
                            <app-print-form-error
                                [control]="sourceExtractionForm.get('threshold')"></app-print-form-error>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label i18n>Background Size</mat-label>
                                <input type="number" matInput formControlName="bkSize" />
                                <mat-hint i18n>box size for background estimation</mat-hint>
                            </mat-form-field>
                            <app-print-form-error [control]="sourceExtractionForm.get('bkSize')"></app-print-form-error>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label i18n>Background Filter Size</mat-label>
                                <input type="number" matInput formControlName="bkFilterSize" />
                                <mat-hint i18n>window size of background median filter</mat-hint>
                            </mat-form-field>
                            <app-print-form-error
                                [control]="sourceExtractionForm.get('bkFilterSize')"></app-print-form-error>
                        </div>
                    </div>
                    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutGap="20px">
                        <div>
                            <mat-form-field>
                                <mat-label i18n>FWHM</mat-label>
                                <input type="number" matInput formControlName="fwhm" />
                                <mat-hint i18n>source FWHM [pixels]</mat-hint>
                            </mat-form-field>
                            <app-print-form-error [control]="sourceExtractionForm.get('fwhm')"></app-print-form-error>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label i18n>Min FWHM</mat-label>
                                <input type="number" matInput formControlName="minFwhm" />
                                <mat-hint i18n>mininum allowed FWHM [pixels]</mat-hint>
                            </mat-form-field>
                            <app-print-form-error
                                [control]="sourceExtractionForm.get('minFwhm')"></app-print-form-error>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label i18n>Max FWHM</mat-label>
                                <input type="number" matInput formControlName="maxFwhm" />
                                <mat-hint i18n>maximum allowed FWHM [pixels]</mat-hint>
                            </mat-form-field>
                            <app-print-form-error
                                [control]="sourceExtractionForm.get('maxFwhm')"></app-print-form-error>
                        </div>
                    </div>
                    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutGap="20px">
                        <div>
                            <mat-form-field>
                                <mat-label i18n>Min Pixel Count</mat-label>
                                <input type="number" matInput formControlName="minPixels" />
                                <mat-hint i18n>mininum pixels required per object</mat-hint>
                            </mat-form-field>
                            <app-print-form-error
                                [control]="sourceExtractionForm.get('minPixels')"></app-print-form-error>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label i18n>Max Ellipticity</mat-label>
                                <input type="number" matInput formControlName="maxEllipticity" />
                                <mat-hint i18n>maximum allowed ellipticity</mat-hint>
                            </mat-form-field>
                            <app-print-form-error
                                [control]="sourceExtractionForm.get('maxEllipticity')"></app-print-form-error>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label i18n>Clean</mat-label>
                                <input type="number" matInput formControlName="clean" />
                                <mat-hint i18n>cleaning parameter</mat-hint>
                            </mat-form-field>
                            <app-print-form-error [control]="sourceExtractionForm.get('clean')"></app-print-form-error>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px">
                        <div fxLayout="column">
                            <div>
                                <mat-slide-toggle formControlName="deblend" i18n>Deblend</mat-slide-toggle>
                            </div>
                            <div>
                                <mat-slide-toggle formControlName="centroid" i18n>Centroid</mat-slide-toggle>
                            </div>
                            <div>
                                <mat-slide-toggle formControlName="discardSaturated" i18n>Discard
                                    Saturated</mat-slide-toggle>
                            </div>
                        </div>

                        <div>
                            <mat-form-field>
                                <mat-label i18n>Deblend Levels</mat-label>
                                <input type="number" matInput formControlName="deblendLevels" />
                                <mat-hint i18n>number of deblending levels</mat-hint>
                            </mat-form-field>
                            <app-print-form-error
                                [control]="sourceExtractionForm.get('deblendLevels')"></app-print-form-error>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label i18n>Deblend Contrast</mat-label>
                                <input type="number" matInput formControlName="deblendContrast" />
                                <mat-hint i18n>deblending contrast</mat-hint>
                            </mat-form-field>
                            <app-print-form-error
                                [control]="sourceExtractionForm.get('deblendContrast')"></app-print-form-error>
                        </div>
                    </div>
                    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutGap="20px">
                        <div>
                            <mat-form-field>
                                <mat-label i18n>Saturation Level</mat-label>
                                <input type="number" matInput formControlName="satLevel" />
                                <mat-hint i18n>saturation level</mat-hint>
                            </mat-form-field>
                            <app-print-form-error
                                [control]="sourceExtractionForm.get('satLevel')"></app-print-form-error>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label i18n>Downsampling Factor</mat-label>
                                <input type="number" matInput formControlName="downsample" />
                                <mat-hint i18n>downsampling factor</mat-hint>
                            </mat-form-field>
                            <app-print-form-error
                                [control]="sourceExtractionForm.get('downsample')"></app-print-form-error>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label i18n>Low Clipping (pre-extraction)</mat-label>
                                <input type="number" matInput formControlName="clipLo" />
                                <mat-hint i18n>Low Clipping (pre-extraction)</mat-hint>
                            </mat-form-field>
                            <app-print-form-error [control]="sourceExtractionForm.get('clipLo')"></app-print-form-error>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label i18n>High Clipping (pre-extraction)</mat-label>
                                <input type="number" matInput formControlName="clipHi" />
                                <mat-hint i18n>High Clipping (pre-extraction)</mat-hint>
                            </mat-form-field>
                            <app-print-form-error [control]="sourceExtractionForm.get('clipHi')"></app-print-form-error>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <div fxFlex="1 1 auto" fxLayout="row" style="width: 100%" style="justify-content: flex-end">
            <div fxFlex="1 1 auto" fxLayout="row" style="width: 100%">
                <button mat-raised-button i18n (click)="restoreSourceExtractionDefaults()">Restore Photometry
                    Calibration
                    Defaults</button>
            </div>
        </div>
    </div>
</div>