<div *ngIf="hduIds">
  <form [formGroup]="alignForm">
    <div>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label i18n>Select Image(s) to Align</mat-label>
        <mat-select multiple formControlName="selectedHduIds">
          <mat-option *ngFor="let hduId of hduIds" [value]="hduId">
            {{ getHduOptionLabel(hduId) | async }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-icon-button (click)="onSelectAllBtnClick()">
        <mat-icon>select_all</mat-icon>
      </button>

      <button mat-icon-button (click)="onClearSelectionBtnClick()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>

    <div>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label i18n>Reference Image File</mat-label>
        <mat-select formControlName="refHduId" [value]="(refHdu$ | async)?.id">
          <mat-option *ngFor="let hduId of (config$ | async)?.alignFormData?.selectedHduIds" [value]="hduId">
            {{ getHduOptionLabel(hduId) | async }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label i18n>Mode</mat-label>
        <mat-select formControlName="mode">
          <mat-option [value]="'astrometric'">astrometric</mat-option>
          <!-- <mat-option  [value]="'manual_source'">manual</mat-option> -->
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-slide-toggle [labelPosition]="'after'" [checked]="(alignFormData$ | async).crop" color="primary"
        formControlName="crop">Crop to largest overlapping region</mat-slide-toggle>
    </div>

    <div *ngIf="refHeader$ | async">
      <div *ngIf="(refHeader$ | async).loading; else hasWcsBlock" class="alert alert-info" style="margin-top: 10px"
        i18n>
        Reference header loading...
      </div>
      <ng-template #hasWcsBlock>
        <div *ngIf="!(refHeader$ | async).loading && !(refHduHasWcs$ | async)" class="alert alert-warning"
          style="margin-top: 10px" i18n>
          This image does not have astrometric data in its header and cannot be aligned using the selected mode.
        </div>
      </ng-template>

    </div>
    <div style="clear: both"></div>
    <button mat-raised-button (click)="submit(alignForm.value)" [disabled]="!alignForm.valid" class="float-right" i18n>
      Submit
    </button>
    <div style="clear: both"></div>
  </form>

  <!-- <div *ngIf="showCurrentPixelOpsJobState$ | async" style="padding-top: 10px;"> -->
  <div *ngIf="alignmentJob$ | async; let job" style="margin-top: 10px">
    <div class="alert alert-info"
      *ngIf="!job.result || ['pending', 'in_progress'].includes(job.state.status); else jobComplete">
      <span i18n>Processing job</span> {{ job.id }} ... ({{ job.state.progress | number: "1.0-0" }}%)

      <ng-container *ngIf="job.state.status == 'in_progress'">
        <div style="margin-top: 5px">
          <mat-progress-bar mode="determinate" [value]="job.state.progress" [color]="'primary'"></mat-progress-bar>
        </div>
      </ng-container>
    </div>
    <ng-template #jobComplete>
      <div *ngIf="job.result.errors.length != 0; else noErrors" class="alert alert-danger">
        {{ job.result.errors }}
      </div>
      <ng-template #noErrors>
        <div class="alert alert-success" i18n>Processing is complete.</div>
      </ng-template>
    </ng-template>
  </div>
  <!-- </div> -->
</div>
