.workbench-config-panel {
  flex: 0 0 auto;
  position: relative;
  outline: none;
  width: 550px;
}

.workbench-outlet-wrapper {
  display: flex;
  flex: 1 1 0%;
  height: 100%;
  width: 100%;
  outline: none;
  overflow: hidden;
  user-select: text;
  flex-direction: row;
}

.image-viewer-grid-panel {
  flex: 1 1 0%;
  position: relative;
  outline: none;
}

dt {
  padding-right: 5px;
}

dd, dt {
  padding: 10px;
  margin: 0px;
}

dl {
  margin-bottom: 0px;
}

.dl-horizontal dt {
  float: left;
  width: 150px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
dt {
  font-weight: 700;
}
dd, dt {
  line-height: 1.42857143;
}


.mat-column-select, .cdk-column-select {
  overflow: visible;
  width: 50px;
  padding-left: 15px;
}

/* style mat-table with auto-sizing columns instead of equal distribution of whitespace to flex items */

.mat-table {
  display: table;
  width: 100%;
  padding: 5px;
}

.mat-header-row, .mat-row {
  display: table-row;
  padding: 0;
  border: none;
}

.mat-row {
  min-height: 30px;
}

.mat-header-cell, .mat-cell {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}