.workbench-outlet-wrapper {
  display: flex;
  flex: 1 1 0%;
  height: 100%;
  position: absolute;
  outline: none;
  overflow: hidden;
  user-select: text;
  flex-direction: row;
  left: 0px;
  right: 0px;
}

.image-viewer-panel {
  flex: 1 1 0%;
  position: relative;
  outline: none;
}

.workbench-config-panel {
  flex: 0 0 auto;
  position: relative;
  outline: none;
  max-width: 500px;
  min-width: 200px;
}
