<div id="image-viewer-wrapper" fxLayout="column" class="h-100">
  <!-- <div fxFlex="0 0 auto">
    <app-image-viewer-title-bar [imageFile]="(files$ | async)[fileId]" (downloadSnapshot)="handleDownloadSnapshot()"
      [class.active]="active"></app-image-viewer-title-bar>
  </div> -->
  <div fxFlex="1 1 100%">
    <div class="viewer-marker-wrapper h-100">
      <div app-pan-zoom-canvas #panZoomCanvas="panZoomCanvas" class="viewer" [imageFile]="(files$ | async)[fileId]"
      [normalization]="(imageFileState$ | async)?.normalization"
      [transformation]="(imageFileState$ | async)?.transformation" (onImageMove)="handleImageMove($event)"
      (onImageClick)="handleImageClick($event)">
      <app-image-viewer-marker-overlay *ngIf="(files$ | async)[fileId]" [imageFile]="(files$ | async)[fileId]"
        [svgWidth]="panZoomCanvas?.canvasWidth" [svgHeight]="panZoomCanvas?.canvasHeight"
        [transform]="(imageFileState$ | async)?.transformation?.imageToViewportTransform" [markers]="markers"
        (onMarkerClick)="handleMarkerClick($event)" style="pointer-events: none;" class="marker-overlay">
      </app-image-viewer-marker-overlay>
    </div>
    

    </div>
  </div>
  <div fxFlex="0 0 auto">
    <app-image-viewer-status-bar [class.active]="active" [imageFile]="(files$ | async)[fileId]" [imageMouseX]="imageMouseX" [imageMouseY]="imageMouseY" (downloadSnapshot)="handleDownloadSnapshot()"></app-image-viewer-status-bar>
  </div>
</div>



<!-- 
<app-pan-zoom-viewer [viewerId]="viewerId" [imageFile]="(fileEntities$ | async)[fileId]" [normalization]="(activeFileState$ | async)?.normalization"
  [transformation]="(activeFileState$ | async)?.transformation" [showInfoBar]="showInfoBar" [markers]="markers" (onImageClick)="onImageClick($event)"
  (onImageMove)="onImageMove($event)" (mousedown)="setActiveViewer(viewer)">
</app-pan-zoom-viewer> -->