<div class="viewer-panel" [class.focused]="hasFocus" style="height: 100%">
  <mat-tab-group class="mat-tab-fill-height" style="height: 100%" [animationDuration]="'0ms'"
    [selectedIndex]="selectedViewerIndex" (selectedIndexChange)="onSelectedViewerIndexChange($event)">
    <mat-tab *ngFor="
        let viewer of viewers$ | async;
        let i = index;
        trackBy: viewerTrackByFn
      ">
      <ng-template mat-tab-label>
        <div [id]="'tab-' + viewer.viewerId" class="viewer-tab-label"
          [class.active-viewer]="selectedViewerId == viewer.viewerId"
          [class.inactive-viewer]="selectedViewerId != viewer.viewerId"
          (mouseup)="$event.which === 2 ? closeViewer(viewer.viewerId) : null"
          (click)="setFocusedViewer($event, viewer.viewerId, viewer)"
          (mousedown)="setFocusedViewer($event, viewer.viewerId, viewer)" cdkDropList
          cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)"
          [cdkDropListConnectedTo]="dropListConnections$ | async" cdkDrag [cdkDragData]="viewer"
          (contextmenu)="onContextMenu($event, viewer)">
          <div fxLayout="row" fxFlexFill *ngIf="viewer.data; let viewerData;">

            <div fxFlex="1 1 auto" class="label" [style.font-style]="viewer.keepOpen ? 'normal' : 'italic'"
              matTooltipClass="file-path-tooltip" matTooltipShowDelay="500">
              <span *ngIf="getFileFromData(viewerData); let file;" class="ml-4" [matTooltip]="file?.assetPath">
                {{ getTabLabel(viewerData) }}
              </span>
            </div>
            <div fxFlex="0 0 auto" class="icon-group" (mouseenter)="mouseOverCloseViewerId = viewer.viewerId"
              (mouseleave)="mouseOverCloseViewerId = null">
              <span class="mr-2 ml-2">
                <button class="close-button" mat-icon-button aria-label="Close" (click)="closeViewer(viewer.viewerId)"
                  matTooltipClass="file-path-tooltip" matTooltip="Close Viewer" matTooltipShowDelay="500">
                  <mat-icon class="close-button">close</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </div>
      </ng-template>
      <app-workbench-viewer (mousedown)="setFocusedViewer($event, viewer.viewerId, viewer)" [viewerId]="viewer.viewerId" [data]="viewer.data"
        [active]="selectedViewerId == viewer.viewerId && hasFocus" [markers]="viewer.markers"
        (onImageMove)="handleImageMove($event, viewer.viewerId, viewer)"
        (onImageClick)="handleImageClick($event, viewer.viewerId, viewer)"
        (onMarkerClick)="handleMarkerClick($event, viewer.viewerId, viewer)">
      </app-workbench-viewer>
    </mat-tab>
  </mat-tab-group>
</div>

<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu"></div>

<mat-menu class="context-menu" #contextMenu="matMenu">
  <ng-template matMenuContent let-viewer="viewer">
    <div mat-menu-item fxLayout="row" fxFlexFill (click)="closeViewer(viewer.viewerId)">
      <div class="context-label" fxFlex="1 1 auto">Close</div>
      <div class="context-shortcut" fxFlex="0 0 auto">
        <span class="mr-2 ml-2"> Ctrl+K F4 </span>
      </div>
    </div>
    <div mat-menu-item fxLayout="row" fxFlexFill (click)="closeOtherViewers(viewer.viewerId)"
      [disabled]="viewers.length == 1">
      <div class="context-label" fxFlex="1 1 auto">Close Others</div>
      <div class="context-shortcut" fxFlex="0 0 auto">
        <span class="mr-2 ml-2"></span>
      </div>
    </div>
    <div mat-menu-item fxLayout="row" fxFlexFill (click)="closeViewersToTheRight(viewer.viewerId)"
      [disabled]="viewers.length == 1">
      <div class="context-label" fxFlex="1 1 auto">Close to the Right</div>
      <div class="context-shortcut" fxFlex="0 0 auto">
        <span class="mr-2 ml-2"></span>
      </div>
    </div>

    <div mat-menu-item fxLayout="row" fxFlexFill (click)="closeAllViewers()">
      <div class="context-label" fxFlex="1 1 auto">Close All</div>
      <div class="context-shortcut" fxFlex="0 0 auto">
        <span class="mr-2 ml-2">Ctrl+K W</span>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div mat-menu-item fxLayout="row" fxFlexFill [disabled]="viewer.keepOpen"
      (click)="keepViewerOpen(viewer.viewerId, 'left')">
      <div class="context-label" fxFlex="1 1 auto">Keep Open</div>
      <div class="context-shortcut" fxFlex="0 0 auto">
        <span class="mr-2 ml-2"> Ctrl+K Enter </span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div mat-menu-item fxLayout="row" fxFlexFill [disabled]="viewers.length == 1"
      (click)="splitViewerPanel(viewer.viewerId, 'up')">
      <div class="context-label" fxFlex="1 1 auto">Split Up</div>
      <div class="context-shortcut" fxFlex="0 0 auto">
        <span class="mr-2 ml-2"> </span>
      </div>
    </div>
    <div mat-menu-item fxLayout="row" fxFlexFill [disabled]="viewers.length == 1"
      (click)="splitViewerPanel(viewer.viewerId, 'down')">
      <div class="context-label" fxFlex="1 1 auto">Split Down</div>
      <div class="context-shortcut" fxFlex="0 0 auto">
        <span class="mr-2 ml-2"> </span>
      </div>
    </div>
    <div mat-menu-item fxLayout="row" fxFlexFill [disabled]="viewers.length == 1"
      (click)="splitViewerPanel(viewer.viewerId, 'left')">
      <div class="context-label" fxFlex="1 1 auto">Split Left</div>
      <div class="context-shortcut" fxFlex="0 0 auto">
        <span class="mr-2 ml-2"></span>
      </div>
    </div>
    <div mat-menu-item fxLayout="row" fxFlexFill [disabled]="viewers.length == 1"
      (click)="splitViewerPanel(viewer.viewerId, 'right')">
      <div class="context-label" fxFlex="1 1 auto">Split Right</div>
      <div class="context-shortcut" fxFlex="0 0 auto">
        <span class="mr-2 ml-2"></span>
      </div>
    </div>
  </ng-template>
</mat-menu>
