<ng-template #invalidHduTypeBlock>
  <div i18n class="alert alert-info" i18n>This layer type is not yet supported by the plotting tool.</div>
</ng-template>

<ng-template #fileNotSelectedBlock>
  <div i18n class="alert alert-info" i18n>Select an image layer or a file to see the plotting tool panel.</div>
</ng-template>

<ng-container *ngIf="config$ | async; let config">
  <ng-container *ngIf="file$ | async; else fileNotSelectedBlock">
    <ng-container *ngIf="!(hdu$ | async) || (hdu$ | async).type == HduType.IMAGE; else invalidHduTypeBlock">
      <p i18n>
        Click once on the image to set the measurement's start point, move your mouse, then click a second time to set
        the end point.
      </p>
      <div class="w-100" style="height: 400px;">
        <app-plotter #plotter [wcs]="(header$ | async)?.wcs" [imageData]="imageData$ | async"
          [plotMode]="config?.plotMode" [colorMode]="colorMode$ | async" [lineMeasureStart]="lineStart$ | async"
          [lineMeasureEnd]="lineEnd$ | async" [interpolatePixels]="config?.interpolatePixels">
        </app-plotter>
      </div>

      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label i18n>Mode</mat-label>
        <mat-select [value]="config?.plotMode" (selectionChange)="onModeChange($event.value)">
          <mat-option [value]="'1D'" i18n>1D Cross Section</mat-option>
          <mat-option [value]="'2D'" i18n>2D Heat Map</mat-option>
          <!-- <mat-option [value]="'3D'">3D Surface</mat-option> -->
        </mat-select>
      </mat-form-field>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <mat-slide-toggle [checked]="config?.centroidClicks" [labelPosition]="'before'"
              (change)="onCentroidClicksChange($event)" color="primary" i18n>
              Centroid clicks
            </mat-slide-toggle>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <mat-slide-toggle [checked]="config?.planetCentroiding" [disabled]="!config?.centroidClicks" color="primary"
              [labelPosition]="'before'" (change)="onPlanetCentroidingChange($event)" i18n>
              Planet Centroiding
            </mat-slide-toggle>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <mat-slide-toggle [checked]="config?.interpolatePixels" [labelPosition]="'before'"
              (change)="onInterpolatePixelsChange($event)" color="primary" i18n>
              Interpolate pixels
            </mat-slide-toggle>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group pt-2">
            <mat-slide-toggle [checked]="config?.plotterSyncEnabled" [labelPosition]="'after'"
              (change)="onPlotterSyncEnabledChange($event)" color="primary" i18n>
              Sync Plot Across Files
            </mat-slide-toggle>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th i18n>Measurement</th>
                <th i18n>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="lineStart$ | async">
                <th scope="row" i18n>Start</th>
                <td>
                  <div *ngIf="(lineStart$ | async)?.x !== null && (lineStart$ | async)?.y !== null">
                    {{ (lineStart$ | async)?.x | number: '1.0-3' }},
                    {{ (lineStart$ | async)?.y | number: '1.0-3' }}
                  </div>
                  <div *ngIf="(lineStart$ | async)?.raHours !== null && (lineStart$ | async)?.decDegs !== null">
                    {{ (lineStart$ | async)?.raHours | dms: '1.0-3' }},
                    {{ (lineStart$ | async)?.decDegs | dms: '1.0-3' }}
                  </div>
                </td>
              </tr>
              <tr *ngIf="lineEnd$ | async">
                <th scope="row" i18n>End</th>
                <td>
                  <div *ngIf="(lineEnd$ | async)?.x !== null && (lineEnd$ | async)?.y !== null">
                    {{ (lineEnd$ | async)?.x | number: '1.0-3' }},
                    {{ (lineEnd$ | async)?.y | number: '1.0-3' }}
                  </div>
                  <div *ngIf="(lineEnd$ | async)?.raHours !== null && (lineEnd$ | async)?.decDegs !== null">
                    {{ (lineEnd$ | async)?.raHours | dms: '1.0-3' }},
                    {{ (lineEnd$ | async)?.decDegs | dms: '1.0-3' }}
                  </div>
                </td>
              </tr>
              <tr *ngIf="vectorInfo$ | async">
                <th scope="row" i18n>Length</th>
                <td>
                  <div *ngIf="(vectorInfo$ | async)?.pixelSeparation !== null">
                    {{ (vectorInfo$ | async)?.pixelSeparation | number: '1.0-3' }}
                    pixels
                  </div>
                  <div *ngIf="(vectorInfo$ | async)?.skySeparation; let skySeparation">
                    <div>
                      {{ skySeparation | number: '1.0-3' }}
                      arcsecs
                    </div>
                    <div>
                      {{ skySeparation / 60 | number: '1.0-4' }}
                      arcmins
                    </div>
                  </div>
                </td>
              </tr>
              <tr *ngIf="vectorInfo$ | async">
                <th scope="row" i18n>Orientation</th>
                <td>
                  <div *ngIf="(vectorInfo$ | async)?.pixelPosAngle !== null">
                    {{ (vectorInfo$ | async)?.pixelPosAngle | number: '1.0-3' }}
                    <ng-container i18n>degrees CW of +Y</ng-container>
                  </div>
                  <div *ngIf="(vectorInfo$ | async)?.skyPosAngle !== null">
                    {{ (vectorInfo$ | async)?.skyPosAngle | number: '1.0-3' }}
                    <ng-container i18n>degrees E of N</ng-container>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>