@mixin image-viewer-title-bar-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
  
    app-image-viewer-title-bar {

      .image-viewer-header-wrapper  {
        background-color:  mat-color($background, card);
        color:  mat-color($foreground, text);
      }

        
          
        
          
    }

    app-image-viewer-title-bar.active {

      @if map-get($theme, is-dark)  {
        .image-viewer-header-wrapper  {
          background-color:  mat-color($primary, darker);
          color:  mat-color($primary, 'darker-contrast');
          // border: solid 2px #d7d7d7;
        }
  
        .mat-icon {
          color:  mat-color($primary, 'darker-contrast');
        }
      }
      @else {
        .image-viewer-header-wrapper  {
          background-color:  mat-color($primary, lighter);
          color:  mat-color($primary, 'lighter-contrast');
          // border: solid 2px #d7d7d7;
        }
  
        .mat-icon {
          color:  mat-color($primary, 'lighter-contrast');
        }

      }
      

 
        
      
        
  }


  }