<svg:g class="svg-circle-marker" [class.selected]="marker.selected">
  <svg:g
    app-svg-outlined-ellipse
    [cx]="marker.x"
    [cy]="marker.y"
    [rx]="marker.radius"
    [ry]="marker.radius"
    [strokeWidth]="strokeWidth"
    [stroke]="marker.selected ? selectedStroke : stroke"
    [outline]="'#000000'"
    [outlineWidth]="2"
    [outlineOpacity]="0.5"
    [secondaryOutline]="'#FFFFFF'"
    [secondaryOutlineWidth]="2"
    [secondaryOutlineOpacity]="0.5"
  ></svg:g>

  <!-- <svg:circle
    class="stroke"
    [attr.cx]="marker.x - 0.5"
    [attr.cy]="marker.y - 0.5"
    [attr.r]="marker.radius"
    [attr.vector-effect]="'non-scaling-stroke'"
    style="fill-opacity: 0"
    [style.stroke-width]="strokeWidth"
    [style.stroke]="marker.selected ? selectedStroke : stroke"
  /> -->
</svg:g>
