<div fxLayout="row" fxLayoutGap="10px">
  <button mat-raised-button class="m-1" (click)="onFlipClick()" [disabled]="isDisabled()">
    <mat-icon class="" style="transform: rotate(90deg)">flip</mat-icon>
    <ng-container i18n>Flip</ng-container>
  </button>
  <button mat-raised-button class="m-1" (click)="onMirrorClick()" [disabled]="isDisabled()">
    <mat-icon class="">flip</mat-icon>
    <ng-container i18n>Mirror</ng-container>
  </button>
  <button mat-raised-button class="m-1" (click)="onRotateClick()" [disabled]="isDisabled()">
    <mat-icon>rotate_right</mat-icon>
    <ng-container i18n>Rotate</ng-container>
  </button>
  <button mat-raised-button class="m-1" color="warn" (click)="onResetOrientationClick()" [disabled]="isDisabled()">
    <mat-icon>crop_din</mat-icon>
    <ng-container i18n>Reset Orientation</ng-container>
  </button>

</div>