@mixin workbench-data-file-list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-workbench-data-file-list {
    tree-root:focus {
      outline: none;
    }

    div.tree div.tree-children::before, div.tree::before,
    div.tree tree-node > div::before {
      border-color: mat-color($foreground, text);
    }

    .node-content-wrapper {
      border: solid 1px mat-color($primary, 0);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .node-content-wrapper-active,
    .node-content-wrapper.node-content-wrapper-active:hover,
    .node-content-wrapper-active.node-content-wrapper-focused {
      background: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }

    .node-content-wrapper-active.node-content-wrapper-focused {
      background: mat-color($primary);
    }
    .node-content-wrapper-focused {
      background: none;
      border: solid 1px mat-color($primary, 1);
    }
    .node-content-wrapper:hover {
      background: mat-color($primary, 0.6);
    }

    .item-row.selected {
      background: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }

    .item-row.hdu .filename {
      margin-left: 10px;
    }

    // .item-row.hdu .filename:before {

    // }

    .node-content-wrapper .mat-icon {
      line-height: 24px;
      vertical-align: middle;
    }

    // .mat-icon-button.small {

    //   width: 18px;
    //   height: 18px;
    //   line-height: 18px;

    //   .mat-icon {
    //     font-size: 18px;
    //     width: 18px;
    //     height: 18px;
    //     line-height: 18px;
    //   }
    // }
  }
}
