<mat-list-option
  #option
  *ngIf="expandable$ | async"
  [value]="{ fileId: file?.id, hduId: '' }"
  class="expandable"
  [selected]="active && activeHduId === ''"
  (dblclick)="onItemDoubleClick.emit(option.value)"
>
  <!-- {{focusedItem.fileId}} - {{focusedItem.hduId}} -->
  <div
    class="item-wrapper"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxFlexFill
  >
    <div fxFlex="0 0 auto" style="padding-right: 5px">
      <button
        mat-icon-button
        [attr.aria-label]="'Toggle ' + file.name"
        (click)="handleToggleExpanded($event)"
        class="small toggle-button"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ !expanded ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
    </div>

    <div
      fxFlex="1 1 auto"
      style="
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 15px;
      "
    >
      <span [matTooltip]="fileTooltip$ | async" [matTooltipShowDelay]="750">{{
        file.name
      }}</span>
    </div>
    <app-file-list-item-toolbar
      *ngIf="hasFocus || (modified$ | async) || !autoHideCheckbox"
      [showSave]="hasFocus"
      [showClose]="hasFocus"
      [showSelect]="!autoHideCheckbox || hasFocus"
      [modified]="modified$ | async"
      [selected]="selected"
      (onSave)="handleSave($event)"
      (onClose)="handleClose($event)"
      (onToggleSelection)="handleToggleSelection($event)"
    >
    </app-file-list-item-toolbar>
  </div>
</mat-list-option>
<ng-container *ngIf="hdus$ | async; let hdus">
  <ng-container *ngIf="hdus.length == 1 || expanded">
    <mat-list-option
      #option
      *ngFor="let hdu of hdus; let i = index"
      [value]="{ fileId: file?.id, hduId: hdu?.id }"
      [selected]="active && activeHduId === hdu.id"
      [class.nested]="hdus.length > 1"
      (dblclick)="onItemDoubleClick.emit(option.value)"
    >
      <div
        class="item-wrapper"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxFlexFill
      >
        <div fxFlex="0 0 auto" style="padding-right: 5px">
          <mat-icon class="mat-icon small">
            {{ hdu?.hduType == HduType.IMAGE ? "insert_photo" : "toc" }}
          </mat-icon>
        </div>

        <div
          fxFlex="1 1 auto"
          style="
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 15px;
          "
        >
          <span
            [matTooltip]="fileTooltip$ | async"
            [matTooltipShowDelay]="750"
            >{{ getHduLabel(hdu, i) }}</span
          >
        </div>
        <app-file-list-item-toolbar
          *ngIf="!(expandable$ | async) && (hasFocus || (modified$ | async) || !autoHideCheckbox)"
          [showSave]="hasFocus"
          [showClose]="hasFocus"
          [showSelect]="!autoHideCheckbox || hasFocus"
          [modified]="modified$ | async"
          [selected]="selected"
          (onSave)="handleSave($event)"
          (onClose)="handleClose($event)"
          (onToggleSelection)="handleToggleSelection($event)"
        >
        </app-file-list-item-toolbar>
      </div>
    </mat-list-option>
  </ng-container>
</ng-container>
