<mat-selection-list #selectionList [multiple]="false" (selectionChange)="handleSelectionChange($event)">
  <app-file-list-item
    *ngFor="let file of files; trackBy: trackById"
    [file]="file"
    [active]="focusedViewer?.fileId == file?.id"
    [activeHduId]="focusedViewer?.hduId"
    [expanded]="!collapsedFileIds[file.id]"
    [selected]="selectedFileIds.includes(file.id)"
    [autoHideCheckbox]="selectedFileIds.length == 0"
    (onToggleExpanded)="handleToggleExpanded($event)"
    (onToggleSelection)="handleToggleSelection($event)"
    (onItemDoubleClick)="handleItemDoubleClick($event)"
    (onClose)="onCloseFile.emit($event)"
    (onSave)="onSaveFile.emit($event)"
  >
  </app-file-list-item>
</mat-selection-list>
