<mat-dialog-content>
  <mat-tab-group>
    <!-- <mat-tab label="Getting Started">
      <div class="p-3"></div>
    </mat-tab> -->
    <mat-tab label="Accessibility">
      <div class="p-3">
        <h4 i18n>Accessibility</h4>
        <p i18n>IDATA, a project funded by the U.S. National Science Foundation (NSF) brought together blind and visually impaired
          (BVI) and sighted high school students and their teachers to create a version of Afterglow Access that is as accessible
          as possible for BVI users. </p>

        <p i18n>Over the course of 3 years, Students and teachers collaborated with astronomy, education, research and design professionals
          in the design and development of the software. The team utilized User-Centered Design (UCD) and an iterative method
          for the development and testing of Afterglow Access. Teachers and students who participated in IDATA will are considered
          co-developers in the project. Below are some highlights of their work and features that have been integrated because
          of their invaluable contribution.</p>


        <h4 i18n>Shortcuts & Navigations</h4>

        <p i18n>BVI users often rely on keyboard navigation to explore the digital space. IDATA students and teachers were instrumental
          in creating intuitive shortcuts that allow users to move through Afterglow Access easily without having to use
          a mouse. You can find these shortcuts in the “Shortcuts” Tab above. </p>

        <h4 i18n>Screenreaders</h4>

        <p i18n>Afterglow Access follows the guidelines to be as screenreader compliant. In addition, IDATA worked with BVI students
          and BVI astronomers associated with IDATA to learn how Afterglow Access worked with their screen reader of choice.
          We tested Afterglow Access with NVDA and Apple VoiceOver. </p>


        <h4 i18n>Themes</h4>

        <p i18n>In UCD activities held by IDATA participants and co-designers, the team discovered that the tool could be much more
          accessible to BVI users if Afterglow Access were customizable. One such customization that IDATA students shared
          with us was the ability to change the look and feel of the software. Depending on their BVI condition and person
          preferences some students preferred white on black themes and others preferred a yellow on black theme. In addition
          to the traditional “zoom” feature, students also expressed wanting to be able to change the size and weight of
          the font which can help heighten the contrast between text and background. This method also allows users to retain
          the same layout which is helpful for BVI students who often “lose their place” when Zoomed in on a part of the
          screen. Using student feedback, we developed three colored themes and offered the ability to select font weight
          and font size. These settings can be found in the top right “hamburger menu” with the title “Theme editor.”</p>

        <h4 i18n>Sonification tool</h4>

        <p i18n>The Sonification tool was developed as an innovative way to translate astronomical images into informative sounds
          for BVI users. This tool can be found under “sonification” which uses a musical note as its symbol. Once you have
          an image uploaded to your viewer. You may push the “Sonify” button to “hear” the image. The sounds start at the
          base of the image and travel upward. The pitch determines where light representing objects such as stars, planets,
          and asteroids exist in the image. </p>
      </div>
    </mat-tab>
    <mat-tab label="Keyboard Shortcuts">
      <div class="p-3">
        <div *ngFor="let group of shortcutGroups" class="shortcut-group">
          <h4>{{group.name}}</h4>
          <table mat-table [dataSource]="group.shortcuts" class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="key">
              <th mat-header-cell *matHeaderCellDef i18n>Key</th>
              <td mat-cell *matCellDef="let shortcut">
                <span *ngFor="let key of shortcut.key.split(','); let i = index" class="pr-1">
                  <span *ngIf="i>0">, </span>
                  <ng-container *ngIf="key != '+'; else showPlus">
                    <span *ngFor="let subKey of key.split('+'); let j = index" class="pr-1">
                      <span *ngIf="j>0"> + </span>

                      <span class="cfp-hotkeys-key">
                        <span *ngIf="shiftModifier(subKey)">
                          shift +
                        </span>
                        {{ subKey }}
                      </span>


                    </span>
                  </ng-container>

                  <ng-template #showPlus>
                    <span class="cfp-hotkeys-key">
                      +
                    </span>
                  </ng-template>



                </span>
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef i18n>Description</th>
              <td mat-cell *matCellDef="let shortcut">
                {{ shortcut.description }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <hr>

        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close i18n>Close</button>
</mat-dialog-actions>