@mixin data-provider-browse-page-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  app-data-provider-browse-page {
    .mat-cell.selected {
      background: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }
  }
}
