@use '@angular/material' as mat;
@mixin workbench-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  app-workbench {
    .mat-icon-button.small {
      width: 18px;
      height: 18px;
      line-height: 18px;

      .mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
        line-height: 18px;
        vertical-align: middle;
      }
    }

    .mat-icon.small {
      font-size: 18px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      vertical-align: middle;
    }

    .sidebar-nav {
      background: mat.get-color-from-palette($background, background);
      color: mat.get-color-from-palette($foreground, text);
      z-index: 999;
      box-shadow: 0px 0px 5px 5px mat.get-color-from-palette($foreground, divider);
    }

    .sidebar-panel {
      background: mat.get-color-from-palette($background, card);
    }

    .file-list-panel {
      background: mat.get-color-from-palette($background, card);
    }

    .file-list-header {
      border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
      padding: 0px 16px;
      position: sticky;
      top: 0px;
      background: mat.get-color-from-palette($background, card);
      z-index: 998;
      box-shadow: -10px -10px 20px 0px #000000;
    }

    .file-list-header input {
      background: mat.get-color-from-palette($background, app-bar);
      color: mat.get-color-from-palette($foreground, text);
      padding: 5px;
    }

    .global-settings-panel {
      min-width: 300px;
    }

    // .mat-icon {
    //   color: mat-color($foreground, icon);
    // }

    .sidebar-nav .mat-raised-button {
      background: mat.get-color-from-palette($background, card);
    }

    .file-list-toolbar {
      margin: 5px;
      text-align: center;
      background: mat.get-color-from-palette($background, card);
      border: 1px solid mat.get-color-from-palette($foreground, divider);
      color: mat.get-color-from-palette($foreground, text);
    }

    .rotate-90 {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    // .workbench-tool-panel.display {
    //   width: 675px;
    // }

    // .workbench-tool-panel.info {
    //   width: 550px;
    // }

    // .workbench-tool-panel.marker {
    //   width: 550px;
    // }

    // .workbench-tool-panel.plotter {
    //   width: 575px;
    // }

    // .workbench-tool-panel.sonifier {
    //   width: 500px;
    // }

    // .workbench-tool-panel.photometry {
    //   width: 650px;
    // }

    // .workbench-tool-panel.pixel-operations {
    //   width: 450px;
    // }

    // .workbench-tool-panel.aligner {
    //   width: 450px;
    // }

    // .workbench-tool-panel.stacker {
    //   width: 450px;
    // }

    // .workbench-tool-panel.wcs-calibration {
    //   width: 475px;
    // }

    .full-screen.workbench-tool-panel {
      width: 100%;
    }

    .workbench-settings-card {
      // border-radius: 0px;
      // border-right: none;
      // border-top: none;
      background: mat.get-color-from-palette($background, card);
    }

    .workbench-settings-card .card-header {
      // border-left: 1px solid rgba(0,0,0,.125);
      color: mat.get-color-from-palette($foreground, text);
      background: mat.get-color-from-palette($background, card);
    }

    .workbench-settings-card .card-header:first-child {
      border-radius: 0px;
    }

    .workbench-settings-card .plotter svg {
      width: 200px;
    }

    .vertical-icon-nav-item {
      border: none;
      opacity: 0.9;
      padding: 5px;
      background: mat.get-color-from-palette($background, card);
      border-bottom: 2px solid mat.get-color-from-palette($foreground, divider);
      // @if ($is-dark-theme) {
      //   background: rgba(white, 0.2);
      //   border-bottom: 2px solid rgba(white, 0.1);
      // } @else {
      //   background: rgba(black, 0.1);
      //   border-bottom: 2px solid rgba(black, 0.05);
      // }

      .mat-icon {
        color: mat.get-color-from-palette($foreground, hint-text);
      }
    }

    .vertical-icon-nav-item:hover {
      opacity: 1;
    }

    .vertical-icon-nav-item.active {
      // background: mat-color($background, card);
      opacity: 1;

      .mat-icon-button {
        outline: 3px auto mat.get-color-from-palette($primary);
      }

      .mat-icon {
        color: mat.get-color-from-palette($primary);
      }
    }

    .workbench-tool-nav {
      background: mat.get-color-from-palette($background, background);
      box-shadow: 0px 0px 5px 5px mat.get-color-from-palette($foreground, divider);
      z-index: 999;
    }

    // DSS catalog import radio wrapping issue
    .mat-radio-label {
      white-space: normal;
    }

    // .vertical-icon-nav-item .icon-wrapper {
    //   color: rgba(0, 0, 0, 0.54);
    //   background: mat-color($mat-grey, 300);
    //   border-bottom: 1px solid mat-color($foreground, divider);
    // }

    // .vertical-icon-nav-item.active .icon-wrapper {
    //   color: mat-color($primary);
    //   background: mat-color($primary, default-contrast);
    // }

    // .sidebar-nav, .workbench-tool-nav {
    //   background: mat-color($background, background);
    // }
  }
}
