<div class="flex flex-col gap-6">
    <form [formGroup]="calibrationForm">
        <div style="padding: 10px">
            <div class="flex flex-col form-wrapper w-full gap-1">
                <div class="mb-6">
                    <mat-form-field>
                        <mat-label i18n>Zero Point</mat-label>
                        <input type="number" matInput formControlName="zeroPoint" />
                        <mat-hint i18n>offset in magnitudes</mat-hint>
                    </mat-form-field>
                    <app-print-form-error [control]="calibrationForm.get('zeroPoint')"></app-print-form-error>
                </div>
                <div>
                    <mat-slide-toggle formControlName="calibrationEnabled" i18n> Use catalog to calibrate zero point
                        offset
                    </mat-slide-toggle>
                </div>

                <ng-container *ngIf="(settings$ | async).calibrationEnabled">
                    <div class="max-w-2xl mb-12 mt-8">
                        <div class="flex flex-row items-center gap-4">
                            <h3 class="!m-0 important">Catalog Selection</h3><span>(drag and drop to reorder)</span>
                        </div>
                        <div class="max-h-72 overflow-auto">
                            <mat-selection-list cdkDropList (cdkDropListDropped)="onCatalogDrop($event)"
                                #catalogSelectionList (selectionChange)="onCatalogSelectionChange($event)">
                                <mat-list-option cdkDrag *ngFor="let name of (settings$ | async).catalogOrder"
                                    [value]="name" [selected]="(settings$ | async)?.selectedCatalogs?.includes(name)">
                                    {{getCatalogLabel(name)}}
                                </mat-list-option>
                            </mat-selection-list>
                        </div>
                    </div>

                    <div>
                        <mat-form-field>
                            <mat-label i18n>Source Matching Tolerance</mat-label>
                            <input type="number" matInput formControlName="sourceMatchTol" />
                            <mat-hint i18n>pixels</mat-hint>
                        </mat-form-field>
                        <app-print-form-error [control]="calibrationForm.get('sourceMatchTol')"></app-print-form-error>
                    </div>


                    <div class="flex flex-row gap-12">
                        <div class="flex flex-col gap-6">
                            <div class="flex flex-col gap-3">
                                <div>
                                    <mat-slide-toggle formControlName="sourceInclusionPercentageEnabled"> Reject catalog
                                        stars not
                                        in all images</mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label i18n>Source Inclusion Percentage</mat-label>
                                        <input type="number" matInput formControlName="sourceInclusionPercentage" />
                                    </mat-form-field>
                                    <app-print-form-error [control]="calibrationForm.get('sourceInclusionPercentage')">
                                    </app-print-form-error>
                                </div>
                            </div>
                            <div class="flex flex-col gap-3">
                                <div>
                                    <mat-slide-toggle formControlName="maxStarRmsEnabled"> Reject variable catalog stars
                                        from batch
                                        RMS
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label i18n>Maximum RMS</mat-label>
                                        <input type="number" matInput formControlName="maxStarRms" />
                                    </mat-form-field>
                                    <app-print-form-error [control]="calibrationForm.get('maxStarRms')">
                                    </app-print-form-error>
                                </div>
                            </div>
                            <div class="flex flex-col gap-3">
                                <div>
                                    <mat-slide-toggle formControlName="minSnrEnabled"> Reject low signal-to-noise
                                        catalog
                                        stars
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label i18n>Minimum SNR</mat-label>
                                        <input type="number" matInput formControlName="minSnr" />
                                    </mat-form-field>
                                    <app-print-form-error [control]="calibrationForm.get('minSnr')">
                                    </app-print-form-error>
                                </div>
                            </div>

                        </div>
                        <div class="flex flex-col gap-6">
                            <div class="flex flex-col gap-3">
                                <div>
                                    <mat-slide-toggle formControlName="variableCheckEnabled"> Reject variable catalog
                                        stars
                                        from VSX
                                        Catalog
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label i18n>Source Matching Tolerance</mat-label>
                                        <input type="number" matInput formControlName="variableCheckTol" />
                                        <mat-hint i18n>arcsec</mat-hint>
                                    </mat-form-field>
                                    <app-print-form-error [control]="calibrationForm.get('variableCheckTol')">
                                    </app-print-form-error>
                                </div>
                            </div>
                            <div class="flex flex-col gap-3">
                                <div>
                                    <mat-slide-toggle formControlName="maxStarsEnabled"> Set maximum number of catalog
                                        stars
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label i18n>Maximum number of stars</mat-label>
                                        <input type="number" matInput formControlName="maxStars" />
                                    </mat-form-field>
                                    <app-print-form-error [control]="calibrationForm.get('maxStars')">
                                    </app-print-form-error>
                                </div>
                            </div>
                            <div class="flex flex-col gap-3">
                                <div>
                                    <mat-slide-toggle formControlName="maxSnrEnabled"> Reject high signal-to-noise
                                        catalog
                                        sources
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label i18n>Maximum SNR</mat-label>
                                        <input type="number" matInput formControlName="maxSnr" />
                                    </mat-form-field>
                                    <app-print-form-error [control]="calibrationForm.get('maxSnr')">
                                    </app-print-form-error>
                                </div>
                            </div>
                        </div>


                    </div>


                </ng-container>
            </div>
        </div>
    </form>


    <div fxFlex="1 1 auto" fxLayout="row" style="width: 100%" style="justify-content: flex-end">
        <div fxFlex="1 1 auto" fxLayout="row" style="width: 100%">
            <button mat-raised-button i18n (click)="restoreDefaults()">Restore Photometry Calibration Defaults</button>
        </div>
    </div>
</div>