<div *ngIf="layerIds">
  <form [formGroup]="alignForm">
    <div class="flex flex-col pb-8">
      <ng-container formGroupName="layerSelectionForm">
        <div class="flex flex-row gap-1">
          <mat-form-field class="w-full">
            <mat-label i18n>Select Image(s) to Align</mat-label>
            <mat-select multiple formControlName="selectedLayerIds">
              <mat-option *ngFor="let layerId of layerIds" [value]="layerId">
                {{ getLayerOptionLabel(layerId) | async }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-icon-button (click)="onSelectAllBtnClick()">
            <mat-icon>select_all</mat-icon>
          </button>

          <button mat-icon-button (click)="onClearSelectionBtnClick()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>

        <div class="flex flex-wrap gap-8 items-center">
          <div class="pb-4">
            <mat-slide-toggle #mosaicToggle formControlName="mosaicMode"> Mosaic Mode</mat-slide-toggle>
          </div>
          <mat-form-field *ngIf="mosaicToggle.checked">
            <mat-label i18n>Mosaic Search Radius</mat-label>
            <input type="number" matInput formControlName="mosaicSearchRadius" />
            <mat-hint i18n></mat-hint>
          </mat-form-field>
        </div>


        <mat-form-field *ngIf="!mosaicToggle.checked">
          <mat-label i18n>Reference Image File</mat-label>
          <mat-select #refLayerIdSelect formControlName="refLayerId" [value]="(refLayer$ | async)?.id">
            <mat-option *ngFor="let layerId of (formData$ | async)?.selectedLayerIds" [value]="layerId">
              {{ getLayerOptionLabel(layerId) | async }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </ng-container>

      <!-- <div class="mb-4">
        <mat-slide-toggle [labelPosition]="'after'" [checked]="(alignFormData$ | async).crop" color="primary"
          formControlName="crop" i18n>Crop to largest overlapping region</mat-slide-toggle>
      </div> -->
      <ng-container formGroupName="alignmentSettingsForm">
        <div class="flex flex-row gap-3 pb-6">
          <mat-slide-toggle formControlName="crop" *ngIf="!mosaicToggle.checked"> Crop </mat-slide-toggle>
          <mat-slide-toggle formControlName="enableRot"> Enable Rotation</mat-slide-toggle>
          <mat-slide-toggle formControlName="enableScale"> Enable Scale</mat-slide-toggle>
          <mat-slide-toggle formControlName="enableSkew"> Enable Skew</mat-slide-toggle>
        </div>
        <mat-form-field>
          <mat-label i18n>Mode</mat-label>
          <mat-select #modeSelect formControlName="mode">
            <mat-option [value]="AlignmentMode.wcs">WCS</mat-option>
            <mat-option [value]="AlignmentMode.sources_manual">Sources - manual</mat-option>
            <mat-option [value]="AlignmentMode.sources_auto">Sources - Auto</mat-option>
            <mat-option [value]="AlignmentMode.features">Features</mat-option>
            <mat-option [value]="AlignmentMode.pixels">Pixels</mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="modeSelect.value==AlignmentMode.wcs" formGroupName="wcsModeSettings">
          <mat-form-field>
            <mat-label i18n>WCS Grid Points</mat-label>
            <input type="number" matInput formControlName="wcsGridPoints" />
            <mat-hint i18n></mat-hint>
          </mat-form-field>
        </div>
        <div *ngIf="modeSelect.value==AlignmentMode.sources_manual || modeSelect.value==AlignmentMode.sources_auto"
          formGroupName="sourceModeSettings" class="flex flex-col gap-2">
          <div>
            <mat-slide-toggle formControlName="scaleInvariant"> Scale Invariant</mat-slide-toggle>
          </div>
          <div class="flex flex-wrap gap-3">
            <mat-form-field>
              <mat-label i18n>Max Sources</mat-label>
              <input type="number" matInput formControlName="maxSources" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Match Tolerance</mat-label>
              <input type="number" matInput formControlName="matchTol" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Min Edge</mat-label>
              <input type="number" matInput formControlName="minEdge" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Ratio Limit</mat-label>
              <input type="number" matInput formControlName="ratioLimit" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Confidence</mat-label>
              <input type="number" matInput formControlName="confidence" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
          </div>

          <div *ngIf="modeSelect.value==AlignmentMode.sources_manual" formGroupName="manualModeSettings">
            <p>Use the source catalog tool to mark the same source in all of your selected images then merge the sources
              into a single source with the same name. These sources will appear in the list below and can be used to
              manually align your images.</p>
            <mat-form-field appearance="outline">
              <mat-label i18n>Manual Align Sources</mat-label>
              <mat-select formControlName="sourceIds" multiple>
                <mat-option *ngFor="let source of manualSourceOptions$ | async" [value]="source.id">{{source.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <ng-container *ngIf="manualSourceWarnings$ | async; let manualSourceWarnings">
              <div *ngIf="manualSourceWarnings.length != 0"
                class="alert alert-warning flex flex-col max-h-72 overflow-auto">
                <span *ngFor="let warning of manualSourceWarnings">
                  {{ warning}}
                </span>
              </div>
            </ng-container>



          </div>
          <div *ngIf="modeSelect.value==AlignmentMode.sources_auto">
            <p>Source extractions settings will be used to automatically locate sources in the selected images and match
              them to sources found in your reference. Source extraction settings can be modified</p>
            <button [routerLink]="['/settings/source-extraction']" mat-raised-button>View Source Extraction
              Settings</button>
          </div>
        </div>
        <div *ngIf="modeSelect.value==AlignmentMode.features" formGroupName="featureModeSettings"
          class="flex flex-col gap-3">
          <div class="flex flex-wrap gap-4">
            <mat-form-field>
              <mat-label i18n>Algorithm</mat-label>
              <mat-select #algorithmSelect formControlName="algorithm">
                <mat-option [value]="FeatureAlignmentAlgorithm.AKAZE">AKAZE</mat-option>
                <mat-option [value]="FeatureAlignmentAlgorithm.BRISK">BRISK</mat-option>
                <mat-option [value]="FeatureAlignmentAlgorithm.KAZE">KAZE</mat-option>
                <mat-option [value]="FeatureAlignmentAlgorithm.ORB">ORB</mat-option>
                <mat-option [value]="FeatureAlignmentAlgorithm.SIFT">SIFT</mat-option>
                <mat-option [value]="FeatureAlignmentAlgorithm.SURF">SURF</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Ratio Threshold</mat-label>
              <input type="number" matInput formControlName="ratioThreshold" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <div class="flex flex-wrap gap-4">
            </div>


            <mat-form-field>
              <mat-label i18n>Min Percentile</mat-label>
              <input type="number" matInput formControlName="percentileMin" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Max Percentile</mat-label>
              <input type="number" matInput formControlName="percentileMax" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
          </div>

          <div>
            <mat-slide-toggle formControlName="detectEdges"> Detect Edges</mat-slide-toggle>
          </div>
          <div *ngIf="algorithmSelect.value == FeatureAlignmentAlgorithm.AKAZE" formGroupName="akazeAlgorithmSettings"
            class="flex flex-wrap gap-2">
            <mat-form-field>
              <mat-label i18n>Descriptor Type</mat-label>
              <input matInput formControlName="descriptorType" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Descriptor Size</mat-label>
              <input type="number" matInput formControlName="descriptorSize" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Descriptor Channels</mat-label>
              <input type="number" matInput formControlName="descriptorChannels" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Threshold</mat-label>
              <input type="number" matInput formControlName="threshold" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Octaves</mat-label>
              <input type="number" matInput formControlName="octaves" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Octave Layers</mat-label>
              <input type="number" matInput formControlName="octaveLayers" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Diffusivity</mat-label>
              <input matInput formControlName="diffusivity" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
          </div>
          <div *ngIf="algorithmSelect.value == FeatureAlignmentAlgorithm.BRISK" formGroupName="briskAlgorithmSettings"
            class="flex flex-wrap gap-2">
            <mat-form-field>
              <mat-label i18n>Threshold</mat-label>
              <input type="number" matInput formControlName="threshold" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Octaves</mat-label>
              <input type="number" matInput formControlName="octaves" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Pattern Scale</mat-label>
              <input type="number" matInput formControlName="patternScale" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
          </div>
          <div *ngIf="algorithmSelect.value == FeatureAlignmentAlgorithm.KAZE" formGroupName="kazeAlgorithmSettings"
            class="flex flex-col gap-3">
            <mat-slide-toggle formControlName="extended"> Extended</mat-slide-toggle>
            <mat-slide-toggle formControlName="upright"> Upright</mat-slide-toggle>
            <div class="flex flex-wrap gap-2">
              <mat-form-field>
                <mat-label i18n>Threshold</mat-label>
                <input type="number" matInput formControlName="threshold" />
                <mat-hint i18n></mat-hint>
              </mat-form-field>
              <mat-form-field>
                <mat-label i18n>Octaves</mat-label>
                <input type="number" matInput formControlName="octaves" />
                <mat-hint i18n></mat-hint>
              </mat-form-field>
              <mat-form-field>
                <mat-label i18n>Octave Layers</mat-label>
                <input type="number" matInput formControlName="octaveLayers" />
                <mat-hint i18n></mat-hint>
              </mat-form-field>
              <mat-form-field>
                <mat-label i18n>Diffusivity</mat-label>
                <input matInput formControlName="diffusivity" />
                <mat-hint i18n></mat-hint>
              </mat-form-field>
            </div>

          </div>
          <div *ngIf="algorithmSelect.value == FeatureAlignmentAlgorithm.ORB" formGroupName="orbAlgorithmSettings"
            class="flex flex-wrap gap-2">
            <mat-form-field>
              <mat-label i18n>N Features</mat-label>
              <input type="number" matInput formControlName="nfeatures" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Scale Factor</mat-label>
              <input type="number" matInput formControlName="scaleFactor" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>N Levels</mat-label>
              <input type="number" matInput formControlName="nlevels" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Edge Threshold</mat-label>
              <input type="number" matInput formControlName="edgeThreshold" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>First Level</mat-label>
              <input type="number" matInput formControlName="firstLevel" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>WTA K</mat-label>
              <input type="number" matInput formControlName="wtaK" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Score Type</mat-label>
              <input matInput formControlName="scoreType" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Patch Size</mat-label>
              <input matInput formControlName="patchSize" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Fast Threshold</mat-label>
              <input matInput formControlName="fastThreshold" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
          </div>
          <div *ngIf="algorithmSelect.value == FeatureAlignmentAlgorithm.SIFT" formGroupName="siftAlgorithmSettings"
            class="flex flex-wrap gap-2">
            <mat-form-field>
              <mat-label i18n>N Features</mat-label>
              <input type="number" matInput formControlName="nfeatures" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Octave Layers</mat-label>
              <input type="number" matInput formControlName="octaveLayers" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Contrast Threshold</mat-label>
              <input type="number" matInput formControlName="contrastThreshold" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Edge Threshold</mat-label>
              <input type="number" matInput formControlName="edgeThreshold" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Sigma</mat-label>
              <input type="number" matInput formControlName="sigma" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Descriptor Type</mat-label>
              <input matInput formControlName="descriptorType" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
          </div>
          <div *ngIf="algorithmSelect.value == FeatureAlignmentAlgorithm.SURF" formGroupName="surfAlgorithmSettings"
            class="flex flex-wrap gap-2">
            <mat-form-field>
              <mat-label i18n>Hessian Threshold</mat-label>
              <input type="number" matInput formControlName="hessianThreshold" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Octaves</mat-label>
              <input type="number" matInput formControlName="octaves" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n>Octave Layers</mat-label>
              <input type="number" matInput formControlName="octaveLayers" />
              <mat-hint i18n></mat-hint>
            </mat-form-field>

            <div>
              <mat-slide-toggle formControlName="extended"> Extended</mat-slide-toggle>
            </div>
            <div>
              <mat-slide-toggle formControlName="upright"> Upright</mat-slide-toggle>
            </div>
          </div>
        </div>
        <div *ngIf="modeSelect.value==AlignmentMode.pixels" formGroupName="pixelModeSettings">
          <div>
            <mat-slide-toggle formControlName="detectEdges"> Detect Edges</mat-slide-toggle>
          </div>
        </div>
      </ng-container>





    </div>
    <ng-container *ngIf="modeSelect.value==AlignmentMode.wcs && !mosaicToggle.checked; else submitBlock">
      <ng-container *ngIf="(refHeader$ | async); let refHeader; else noRefHeaderBlock">
        <div *ngIf="refHeader.loading; else wcsLoadedBlock" class="alert alert-info" style="margin-top: 10px" i18n>
          Reference header loading...
        </div>
        <ng-template #wcsLoadedBlock>
          <div *ngIf="!(refLayerHasWcs$ | async); else submitBlock" class="alert alert-warning" style="margin-top: 10px"
            i18n>
            Your reference layer does not have WCS data in its header. Choose a different reference layer.
          </div>
        </ng-template>
      </ng-container>
      <ng-template #noRefHeaderBlock>
        <div class="alert alert-warning" style="margin-top: 10px" i18n>
          Please select a reference image file.
        </div>
      </ng-template>

    </ng-container>
    <ng-template #submitBlock>
      <div class="flex flex-row w-full gap-4 justify-between">
        <button mat-raised-button i18n (click)="restoreDefaults()">Restore Default Alignment Settings</button>

        <div class="">
          <button mat-raised-button (click)="submit()" [disabled]="!alignForm.valid" i18n>
            Submit
          </button>
        </div>
      </div>
    </ng-template>

  </form>

  <!-- <div *ngIf="showCurrentPixelOpsJobState$ | async" style="padding-top: 10px;"> -->
  <div *ngIf="alignmentJob$ | async; let job" style="margin-top: 10px">
    <div class="alert alert-info"
      *ngIf="!job.result || ['pending', 'in_progress'].includes(job.state.status); else jobComplete">
      <span i18n>Processing job</span> {{ job.id }} ... ({{ job.state.progress | number: '1.0-0' }}%)

      <ng-container *ngIf="job.state.status == 'in_progress'">
        <div style="margin-top: 5px">
          <mat-progress-bar mode="determinate" [value]="job.state.progress" [color]="'primary'"></mat-progress-bar>
        </div>
      </ng-container>
    </div>
    <ng-template #jobComplete>
      <div *ngIf="job.result.errors.length != 0; else noErrors"
        class="alert alert-danger flex flex-col max-h-72 overflow-auto">
        <span *ngFor="let error of job.result.errors">
          <span class="font-semibold pr-3" *ngIf="error.meta?.fileId">{{getLayerOptionLabel(error.meta?.fileId) |
            async}}</span>
          {{ error.detail}}
        </span>
      </div>
      <ng-template #noErrors>
        <div class="alert alert-success" i18n>Processing is complete.</div>
      </ng-template>
    </ng-template>
  </div>
  <!-- </div> -->
</div>