<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content style="overflow: visible;">


  <mat-tab-group>
    <mat-tab label="Aperture Photometry">
      <form [formGroup]="photometryForm">
        <div style="padding: 10px">
          <div class="form-field-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Aperture Mode</mat-label>
              <mat-select formControlName="mode">
                <mat-option *ngFor="let mode of apertureModes" [value]="mode.value">{{ mode.label }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutGap="20px" style="width: 100%" class="form-wrapper">
            <div fxFlex="1 1 auto" fxLayout="row">
              <div class="form-field-wrapper">
                <mat-form-field>
                  <input type="number" matInput i18n-placeholder placeholder="Centroiding Radius"
                    formControlName="centroidRadius" />
                  <mat-hint>radius in pixels</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photometryForm.get('centroidRadius')"></app-print-form-error>
              </div>

              <div class="form-field-wrapper">
                <mat-form-field>
                  <input type="number" matInput i18n-placeholder placeholder="Gain" formControlName="gain" />
                  <mat-hint>CCD gain in e-/ADU</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photometryForm.get('gain')"></app-print-form-error>
              </div>
            </div>
            <ng-container *ngIf="settings.photometry.mode == 'constant'">
              <div fxFlex="1 1 auto" fxLayout="row">
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input type="number" matInput i18n-placeholder placeholder="Aperture" formControlName="a" />
                    <mat-hint>radius in pixels</mat-hint>
                  </mat-form-field>
                  <app-print-form-error [control]="photometryForm.get('a')"></app-print-form-error>
                </div>
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input type="number" matInput i18n-placeholder placeholder="Annulus Inner" formControlName="aIn" />
                    <mat-hint>radius in pixels</mat-hint>
                  </mat-form-field>
                  <app-print-form-error [control]="photometryForm.get('aIn')"></app-print-form-error>
                </div>
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input type="number" matInput i18n-placeholder placeholder="Annulus Outer" formControlName="aOut" />
                    <mat-hint>radius in pixels</mat-hint>
                  </mat-form-field>
                  <app-print-form-error [control]="photometryForm.get('aOut')"></app-print-form-error>
                </div>
              </div>
              <div fxFlex="1 1 auto" fxLayout="row">
                <div class="form-field-wrapper">
                  <mat-slide-toggle formControlName="constantAperCorr">Aperture Correction</mat-slide-toggle>
                </div>
              </div>
              <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px" style="margin-top: 0px; margin-bottom: 0px"
                class="form-wrapper">

                <div fxFlex="1 1 auto" fxLayout="row" style="margin-bottom: 15px; margin-left: 20px">
                  <mat-checkbox formControlName="elliptical">Use elliptical aperture</mat-checkbox>
                </div>
                <div fxFlex="1 1 auto" fxLayout="row">
                  <div class="form-field-wrapper">
                    <mat-form-field>
                      <input type="number" matInput i18n-placeholder placeholder="Aperture Minor Axis"
                        formControlName="b" />
                      <mat-hint>radius in pixels</mat-hint>
                    </mat-form-field>
                    <app-print-form-error [control]="photometryForm.get('b')"></app-print-form-error>
                  </div>
                  <div class="form-field-wrapper">
                    <mat-form-field>
                      <input type="number" matInput i18n-placeholder placeholder="Annulus Outer Minor Axis"
                        formControlName="bOut" />
                      <mat-hint>radius in pixels</mat-hint>
                    </mat-form-field>
                    <app-print-form-error [control]="photometryForm.get('bOut')"></app-print-form-error>
                  </div>
                </div>
                <div fxFlex="1 1 auto" fxLayout="row">
                  <div class="form-field-wrapper">
                    <mat-form-field>
                      <input type="number" matInput i18n-placeholder placeholder="Aperture Position Angle"
                        formControlName="theta" />
                      <mat-hint>angle in degrees</mat-hint>
                    </mat-form-field>
                    <app-print-form-error [control]="photometryForm.get('theta')"></app-print-form-error>
                  </div>

                  <div class="form-field-wrapper">
                    <mat-form-field>
                      <input type="number" matInput i18n-placeholder placeholder="Annulus Position Angle"
                        formControlName="thetaOut" />
                      <mat-hint>angle in degrees</mat-hint>
                    </mat-form-field>
                    <app-print-form-error [control]="photometryForm.get('thetaOut')"></app-print-form-error>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="settings.photometry.mode == 'adaptive'">
              <div fxFlex="1 1 auto" fxLayout="row">
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input type="number" matInput i18n-placeholder placeholder="Aperture" formControlName="aKrFactor" />
                    <mat-hint>isophotal radii</mat-hint>
                  </mat-form-field>
                  <app-print-form-error [control]="photometryForm.get('aKrFactor')"></app-print-form-error>
                </div>
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input type="number" matInput i18n-placeholder placeholder="Annulus Inner"
                      formControlName="aInKrFactor" />
                    <mat-hint>isophotal radii</mat-hint>
                  </mat-form-field>
                  <app-print-form-error [control]="photometryForm.get('aInKrFactor')"></app-print-form-error>
                </div>

                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input type="number" matInput i18n-placeholder placeholder="Annulus Outer"
                      formControlName="aOutKrFactor" />
                    <mat-hint>isophotal radii</mat-hint>
                  </mat-form-field>
                  <app-print-form-error [control]="photometryForm.get('aOutKrFactor')"></app-print-form-error>
                </div>
              </div>
              <div fxFlex="1 1 auto" fxLayout="row">
                <div fxFlex="1 1 auto" fxLayout="column">
                  <div class="form-field-wrapper">
                    <mat-slide-toggle formControlName="autoAper">Auto aperture</mat-slide-toggle>
                  </div>
                  <div class="form-field-wrapper">
                    <mat-slide-toggle formControlName="adaptiveAperCorr">Aperture Correction</mat-slide-toggle>
                  </div>
                  <div class="form-field-wrapper">
                    <mat-slide-toggle formControlName="fixAper">Fix Aperture Size</mat-slide-toggle>
                  </div>
                </div>

                <div fxFlex="1 1 auto" fxLayout="column">
                  <div class="form-field-wrapper">
                    <mat-slide-toggle formControlName="fixEll">Fix Ellipticity</mat-slide-toggle>
                  </div>

                  <div class="form-field-wrapper">
                    <mat-slide-toggle formControlName="fixRot">Fix Rotation</mat-slide-toggle>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

      </form>

    </mat-tab>
    <mat-tab label="Photometry Calibration">
      <form [formGroup]="calibrationForm">
        <div style="padding: 10px">
          <div fxLayout="column" fxLayoutGap="20px" style="width: 100%" class="form-wrapper">
            <div class="form-field-wrapper">
              <mat-form-field>
                <input type="number" matInput i18n-placeholder placeholder="Zero Point" formControlName="zeroPoint" />
                <mat-hint>offset in magnitudes</mat-hint>
              </mat-form-field>
              <app-print-form-error [control]="calibrationForm.get('zeroPoint')"></app-print-form-error>
            </div>
            <div class="form-field-wrapper">
              <mat-slide-toggle formControlName="calibrationEnabled"> Use catalog to calibrate zero point offset
              </mat-slide-toggle>
            </div>

            <ng-container *ngIf="settings.calibration.calibrationEnabled">
              <div fxFlex="1 1 auto" fxLayout="row" style="width: 100%;">
                <div class="form-field-wrapper">
                  <mat-form-field appearance="outline">
                    <mat-label>Catalog</mat-label>
                    <mat-select formControlName="catalog">
                      <mat-option *ngFor="let catalog of catalogs$ | async" [value]="catalog.name">{{
                        catalog.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input type="number" matInput i18n-placeholder placeholder="Source Matching Tolerance"
                      formControlName="sourceMatchTol" />
                    <mat-hint>pixels</mat-hint>
                  </mat-form-field>
                  <app-print-form-error [control]="calibrationForm.get('sourceMatchTol')"></app-print-form-error>
                </div>
              </div>
              <div fxFlex="1 1 auto" fxLayout="row" style="width: 100%;">
                <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px">
                  <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px">
                    <div class="form-field-wrapper">
                      <mat-slide-toggle formControlName="sourceInclusionPercentageEnabled"> Reject catalog stars not
                        in all images</mat-slide-toggle>
                    </div>
                    <div class="form-field-wrapper">
                      <mat-form-field>
                        <input type="number" matInput i18n-placeholder placeholder="Source Inclusion Percentage"
                          formControlName="sourceInclusionPercentage" />
                      </mat-form-field>
                      <app-print-form-error [control]="calibrationForm.get('sourceInclusionPercentage')">
                      </app-print-form-error>
                    </div>
                  </div>
                  <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px">
                    <div class="form-field-wrapper">
                      <mat-slide-toggle formControlName="maxStarRmsEnabled"> Reject variable catalog stars from batch
                        RMS
                      </mat-slide-toggle>
                    </div>
                    <div class="form-field-wrapper">
                      <mat-form-field>
                        <input type="number" matInput i18n-placeholder placeholder="Maximum RMS"
                          formControlName="maxStarRms" />
                      </mat-form-field>
                      <app-print-form-error [control]="calibrationForm.get('maxStarRms')">
                      </app-print-form-error>
                    </div>
                  </div>
                  <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px">
                    <div class="form-field-wrapper">
                      <mat-slide-toggle formControlName="minSnrEnabled"> Reject low signal-to-noise catalog stars
                      </mat-slide-toggle>
                    </div>
                    <div class="form-field-wrapper">
                      <mat-form-field>
                        <input type="number" matInput i18n-placeholder placeholder="Minimum SNR"
                          formControlName="minSnr" />
                      </mat-form-field>
                      <app-print-form-error [control]="calibrationForm.get('minSnr')">
                      </app-print-form-error>
                    </div>
                  </div>

                </div>
                <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px">
                  <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px">
                    <div class="form-field-wrapper">
                      <mat-slide-toggle formControlName="variableCheckEnabled"> Reject variable catalog stars from VSX
                        Catalog
                      </mat-slide-toggle>
                    </div>
                    <div class="form-field-wrapper">
                      <mat-form-field>
                        <input type="number" matInput i18n-placeholder placeholder="Source Matching Tolerance"
                          formControlName="variableCheckTol" />
                        <mat-hint>arcsec</mat-hint>
                      </mat-form-field>
                      <app-print-form-error [control]="calibrationForm.get('variableCheckTol')">
                      </app-print-form-error>
                    </div>
                  </div>
                  <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px">
                    <div class="form-field-wrapper">
                      <mat-slide-toggle formControlName="maxStarsEnabled"> Set maximum number of catalog stars
                      </mat-slide-toggle>
                    </div>
                    <div class="form-field-wrapper">
                      <mat-form-field>
                        <input type="number" matInput i18n-placeholder placeholder="Maximum number of stars"
                          formControlName="maxStars" />
                      </mat-form-field>
                      <app-print-form-error [control]="calibrationForm.get('maxStars')">
                      </app-print-form-error>
                    </div>
                  </div>
                  <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px">
                    <div class="form-field-wrapper">
                      <mat-slide-toggle formControlName="maxSnrEnabled"> Reject high signal-to-noise catalog sources
                      </mat-slide-toggle>
                    </div>
                    <div class="form-field-wrapper">
                      <mat-form-field>
                        <input type="number" matInput i18n-placeholder placeholder="Maximum SNR"
                          formControlName="maxSnr" />
                      </mat-form-field>
                      <app-print-form-error [control]="calibrationForm.get('maxSnr')">
                      </app-print-form-error>
                    </div>
                  </div>
                </div>


              </div>


            </ng-container>
          </div>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Source Extraction">
      <form [formGroup]="sourceExtractionForm">
        <div style="padding: 10px">
          <div fxLayout="column" fxLayoutGap="30px">
            <div fxFlex="1 1 auto" fxLayout="row">
              <div class="form-field-wrapper">
                <mat-form-field>
                  <input type="number" matInput i18n-placeholder placeholder="Threshold" formControlName="threshold" />
                  <mat-hint>extraction threshold in units of RMS</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photometryForm.get('threshold')"></app-print-form-error>
              </div>
              <div class="form-field-wrapper">
                <mat-form-field>
                  <input type="number" matInput i18n-placeholder placeholder="Background Size"
                    formControlName="bkSize" />
                  <mat-hint>box size for background estimation</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photometryForm.get('bkSize')"></app-print-form-error>
              </div>
              <div class="form-field-wrapper">
                <mat-form-field>
                  <input type="number" matInput i18n-placeholder placeholder="Background Filter Size"
                    formControlName="bkFilterSize" />
                  <mat-hint>window size of background median filter</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photometryForm.get('bkFilterSize')"></app-print-form-error>
              </div>
            </div>
            <div fxFlex="1 1 auto" fxLayout="row">
              <div class="form-field-wrapper">
                <mat-form-field>
                  <input type="number" matInput i18n-placeholder placeholder="FWHM" formControlName="fwhm" />
                  <mat-hint>source FWHM [pixels]</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photometryForm.get('fwhm')"></app-print-form-error>
              </div>
              <div class="form-field-wrapper">
                <mat-form-field>
                  <input type="number" matInput i18n-placeholder placeholder="Min FWHM" formControlName="minFwhm" />
                  <mat-hint>mininum allowed FWHM [pixels]</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photometryForm.get('minFwhm')"></app-print-form-error>
              </div>
              <div class="form-field-wrapper">
                <mat-form-field>
                  <input type="number" matInput i18n-placeholder placeholder="Max FWHM" formControlName="maxFwhm" />
                  <mat-hint>maximum allowed FWHM [pixels]</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photometryForm.get('maxFwhm')"></app-print-form-error>
              </div>
            </div>
            <div fxFlex="1 1 auto" fxLayout="row">
              <div class="form-field-wrapper">
                <mat-form-field>
                  <input type="number" matInput i18n-placeholder placeholder="Min Pixel Count"
                    formControlName="minPixels" />
                  <mat-hint>mininum pixels required per object</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photometryForm.get('minPixels')"></app-print-form-error>
              </div>
              <div class="form-field-wrapper">
                <mat-form-field>
                  <input type="number" matInput i18n-placeholder placeholder="Max Ellipticity"
                    formControlName="maxEllipticity" />
                  <mat-hint>maximum allowed ellipticity</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photometryForm.get('maxEllipticity')"></app-print-form-error>
              </div>
              <div class="form-field-wrapper">
                <mat-form-field>
                  <input type="number" matInput i18n-placeholder placeholder="Clean" formControlName="clean" />
                  <mat-hint>cleaning parameter</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photometryForm.get('clean')"></app-print-form-error>
              </div>
            </div>
            <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start center">
                <div class="form-field-wrapper">
                  <mat-slide-toggle formControlName="deblend">Deblend</mat-slide-toggle>
                </div>
                <div class="form-field-wrapper">
                  <mat-slide-toggle formControlName="centroid">Centroid</mat-slide-toggle>
                </div>
                <div class="form-field-wrapper">
                  <mat-slide-toggle formControlName="discardSaturated">Discard Saturated</mat-slide-toggle>
                </div>
              </div>

              <div class="form-field-wrapper">
                <mat-form-field>
                  <input type="number" matInput i18n-placeholder placeholder="Deblend Levels"
                    formControlName="deblendLevels" />
                  <mat-hint>number of deblending levels</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photometryForm.get('deblendLevels')"></app-print-form-error>
              </div>
              <div class="form-field-wrapper">
                <mat-form-field>
                  <input type="number" matInput i18n-placeholder placeholder="Deblend Contrast"
                    formControlName="deblendContrast" />
                  <mat-hint>deblending contrast</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photometryForm.get('deblendContrast')"></app-print-form-error>
              </div>
            </div>
            <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="end center">
              <div class="form-field-wrapper">
                <mat-form-field>
                  <input type="number" matInput i18n-placeholder placeholder="Saturation Level"
                    formControlName="satLevel" />
                  <mat-hint>saturation level</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photometryForm.get('satLevel')"></app-print-form-error>
              </div>
            </div>

          </div>
        </div>

      </form>
    </mat-tab>
  </mat-tab-group>




</mat-dialog-content>
<mat-dialog-actions>
  <div fxFlex="1 1 auto" fxLayout="row" style="width: 100%" style="justify-content: flex-end">
    <div fxFlex="1 1 auto" fxLayout="row" style="width: 100%">
      <button mat-raised-button i18n (click)="restoreDefaults()">Restore Defaults</button>
    </div>
    <div fxFlex="0 0 auto" fxLayout="row">
      <button mat-raised-button mat-dialog-close i18n>Cancel</button>
      <button mat-raised-button [mat-dialog-close]="settings" i18n
        [disabled]="photometryForm.invalid || calibrationForm.invalid || sourceExtractionForm.invalid">
        Save
      </button>
    </div>
  </div>
</mat-dialog-actions>