// .mat-form-field, .mat-button-toggle-group {
//    margin-left: 20px
// }

.form-field-wrapper {
  margin-left: 20px;
  min-width: 200px;
}

// .form-wrapper > * {
//   margin-bottom: 20px;
// }

.mat-form-field {
  width: 200px;
}

.mat-dialog-actions {
  margin-top: 10px;
}
