<div id="svg-placeholder">
  <svg [attr.width]="svgWidth" [attr.height]="svgHeight">
    <g #svgGroup>
      <ng-container *ngFor="let marker of markers;">
        <ng-container [ngSwitch]="marker.type">
          <g *ngSwitchCase="MarkerType.RECTANGLE" app-svg-rectangle-marker class="region-marker" [x]="marker.x-0.5" [y]="marker.y-0.5"
            [width]="marker.width" [height]="marker.height" (click)="handleMarkerClick($event, marker)" style="pointer-events: auto;">
          </g>
          <g *ngSwitchCase="MarkerType.ELLIPSE" app-svg-circle-marker class="source-marker" [x]="marker.x-0.5" [y]="marker.y-0.5" [radius]="marker.a"
            [selected]="marker.selected"  (click)="handleMarkerClick($event, marker)"  style="pointer-events: auto;">
          </g>
          <g *ngSwitchCase="MarkerType.LINE" app-svg-line-marker class="line-marker" [x1]="marker.x1-0.5" [y1]="marker.y1-0.5" [x2]="marker.x2-0.5"
            [y2]="marker.y2-0.5"  (click)="handleMarkerClick($event, marker)"  style="pointer-events: auto;">
          </g>
        </ng-container>
      </ng-container>
    </g>
  </svg>
</div>