#image-viewer-wrapper {
  outline: none;
  overflow: hidden;
  user-select: text;
}

.viewer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.viewer-marker-wrapper {
  position: relative;
  width: 100%;
}

.marker-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* .viewer.mouse-over-image {
  cursor: grab;
} */

.viewer.dragging {
  cursor: grabbing;
}
