<div
  fxFlex="1 1 0%"
  class="image-viewer-grid-panel"
  role="region"
  aria-label="image viewers"
>
  <app-workbench-viewer-grid
    (onImageClick)="onImageClick($event)"
    (onImageMove)="onImageMove($event)"
  ></app-workbench-viewer-grid>
</div>

<span class="resizer"></span>
<div
  *ngIf="showConfig$ | async"
  fxFlex="0 0 auto"
  class="workbench-config-panel"
  role="region"
  aria-labelledby="settings-header"
>
  <div class="card workbench-settings-card" style="height: 100%;">
    <div id="settings-header" class="card-header">
      <h5>Plotting</h5>
    </div>

    <div class="card-body" style="overflow-y: auto;">
      <div
        *ngIf="!(imageFile$ | async) || !(imageFileState$ | async)"
        class="alert alert-info"
      >
        Select a data file to see plotter options.
      </div>

      <div *ngIf="(imageFile$ | async) && (imageFileState$ | async)">
        <app-plotter
          #plotter
          [imageFile]="imageFile$ | async"
          [width]="450"
          [height]="300"
          [lineMeasureStart]="lineStart$ | async"
          [lineMeasureEnd]="lineEnd$ | async"
          [interpolatePixels]="(plotterSettings$ | async)?.interpolatePixels"
        >
        </app-plotter>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <mat-slide-toggle
                [checked]="(centroidSettings$ | async)?.centroidClicks"
                [labelPosition]="before"
                (change)="onCentroidClicksChange($event)"
                color="primary"
              >
                Centroid clicks
              </mat-slide-toggle>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <mat-slide-toggle
                [checked]="(centroidSettings$ | async)?.useDiskCentroiding"
                [disabled]="!(centroidSettings$ | async)?.centroidClicks"
                color="primary"
                [labelPosition]="before"
                (change)="onPlanetCentroidingChange($event)"
              >
                Planet Centroiding
              </mat-slide-toggle>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <mat-slide-toggle
                [checked]="(plotterSettings$ | async)?.interpolatePixels"
                [labelPosition]="before"
                (change)="onInterpolatePixelsChange($event)"
                color="primary"
              >
                Interpolate pixels
              </mat-slide-toggle>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group pt-2">
              <mat-slide-toggle
                [checked]="plotterSyncEnabled$ | async"
                [labelPosition]="after"
                (change)="onPlotterSyncEnabledChange($event)"
                color="primary"
              >
                Sync Plot Across Files
              </mat-slide-toggle>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Measurement</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="lineStart$ | async">
                  <th scope="row">Start</th>
                  <td>
                    <div
                      *ngIf="
                        (lineStart$ | async)?.x !== null &&
                        (lineStart$ | async)?.y !== null
                      "
                    >
                      {{ (lineStart$ | async)?.x | number: "1.0-3" }},
                      {{ (lineStart$ | async)?.y | number: "1.0-3" }}
                    </div>
                    <div
                      *ngIf="
                        (lineStart$ | async)?.raHours !== null &&
                        (lineStart$ | async)?.decDegs !== null
                      "
                    >
                      {{ (lineStart$ | async)?.raHours | dms: "1.0-3" }},
                      {{ (lineStart$ | async)?.decDegs | dms: "1.0-3" }}
                    </div>
                  </td>
                </tr>
                <tr *ngIf="lineEnd$ | async">
                  <th scope="row">End</th>
                  <td>
                    <div
                      *ngIf="
                        (lineEnd$ | async)?.x !== null &&
                        (lineEnd$ | async)?.y !== null
                      "
                    >
                      {{ (lineEnd$ | async)?.x | number: "1.0-3" }},
                      {{ (lineEnd$ | async)?.y | number: "1.0-3" }}
                    </div>
                    <div
                      *ngIf="
                        (lineEnd$ | async)?.raHours !== null &&
                        (lineEnd$ | async)?.decDegs !== null
                      "
                    >
                      {{ (lineEnd$ | async)?.raHours | dms: "1.0-3" }},
                      {{ (lineEnd$ | async)?.decDegs | dms: "1.0-3" }}
                    </div>
                  </td>
                </tr>
                <tr *ngIf="vectorInfo$ | async">
                  <th scope="row">Separation</th>
                  <td>
                    <div
                      *ngIf="(vectorInfo$ | async)?.pixelSeparation !== null"
                    >
                      {{
                        (vectorInfo$ | async)?.pixelSeparation | number: "1.0-3"
                      }}
                      pixels
                    </div>
                    <div *ngIf="(vectorInfo$ | async)?.skySeparation !== null">
                      {{
                        (vectorInfo$ | async)?.skySeparation | number: "1.0-3"
                      }}
                      arcsecs
                    </div>
                  </td>
                </tr>
                <tr *ngIf="vectorInfo$ | async">
                  <th scope="row">Angle</th>
                  <td>
                    <div *ngIf="(vectorInfo$ | async)?.pixelPosAngle !== null">
                      {{
                        (vectorInfo$ | async)?.pixelPosAngle | number: "1.0-3"
                      }}
                      degrees CW of +Y
                    </div>
                    <div *ngIf="(vectorInfo$ | async)?.skyPosAngle !== null">
                      {{
                        (vectorInfo$ | async)?.skyPosAngle | number: "1.0-3"
                      }}
                      degrees E of N
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
