.data-file-list-item {
    cursor: pointer;
    font-size: 14px;
}

.data-file-list-item.selected {
   background: #3f51b5;
    color: #ffffff;
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

