<div [class.selected]="selected" class="data-file-list-item">
  <div
    matTooltip="{{file.name}}" [matTooltipPosition]="'right'"
    [matTooltipShowDelay]="500" [matTooltipDisabled]="file?.name?.length < 20"
    [matTooltipClass]="'data-file-tool-tip'"
    class="p-2"
    (click)="onSelect($event)"
    (keyup.shift.enter)="onSelect($event)"
    (keyup.enter)="onSelect($event)"
    role="radio"
    [attr.aria-label]="'Image File - ' + file.name"
    [attr.aria-selected]="selected" 
    tabindex="0">
      <div class="valign-center" >
        <mat-icon class="mr-1">photo</mat-icon>
        <span>{{file.name}}</span>
      </div>
      <!-- <div class="col-1 align-self-center">
        <i class="fa fa-file"></i>
      </div>
      <div class="col" style="max-width: 180px; overflow: hidden;">
        <div class="pl-1">
          <h6 class="data-file-title">{{file.name | truncate: 15}}</h6>
          <div>
            <span *ngIf="file.loaded && isImageDataFile(file)" class="image-file-subtitle">
              <span *ngIf="file.filter">{{file.filter}}</span> |
              <span *ngIf="file.expLength">{{file.expLength | number:'1.1-1'}}s</span>
            </span>
          </div>
        </div>
      </div> -->
  </div>
</div>
