.data-file-list-item {
    background: #ffffff;
    cursor: pointer;
}

.data-file-list-item.selected {
   background: #292871;
    color: #ffffff;
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

