<div fxLayout="column" fxLayoutGap="20px" style="height: 100%">
    <form [formGroup]="form">
        <div fxLayout="column" fxLayoutGap="20px" style="width: 100%">

            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                <mat-form-field fxFlex="1 1 auto" appearance="outline" width="100%">
                    <mat-label i18n>Select Layers(s) to Neutralize</mat-label>
                    <mat-select multiple formControlName="selectedLayerIds">
                        <ng-container *ngFor="let layerId of layerIds">
                            <mat-option [value]="layerId">
                                {{ getLayerOptionLabel(layerId) | async }}
                            </mat-option>
                        </ng-container>

                    </mat-select>
                </mat-form-field>

                <button mat-icon-button (click)="onSelectAllBtnClick()">
                    <mat-icon>select_all</mat-icon>
                </button>

                <button mat-icon-button (click)="onClearSelectionBtnClick()">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
            <mat-form-field appearance="outline">
                <mat-label i18n>Reference Layer</mat-label>
                <mat-select formControlName="referenceLayerId">
                    <ng-container *ngFor="let layerId of layerIds">
                        <mat-option *ngIf="!form.controls.selectedLayerIds.value.includes(layerId)" [value]="layerId">
                            {{ getLayerOptionLabel(layerId) | async }}
                        </mat-option>
                    </ng-container>

                </mat-select>
            </mat-form-field>
            <div fxFlex="1 1 auto" fxLayout="row" fxLayoutGap="20px" style="margin-bottom: 15px; margin-left: 20px">
                <mat-checkbox formControlName="neutralizeBackground">Neutralize background</mat-checkbox>
            </div>



        </div>
    </form>
    <div fxLayout="row" fxLayoutGap="10px" style="width: 100%" fxLayoutAlign="end center">
        <button mat-button (click)="dialogRef.close()">Cancel</button>
        <button mat-button (click)="start()" [disabled]="!ready || running || !form.valid">Neutralize Sources</button>
    </div>



    <ng-container *ngIf="warnings.length != 0">
        <span class="alert-warning" *ngFor="let warning of warnings"
            style="width: 100%; padding: 5px">{{warning}}</span>
    </ng-container>
    <ng-container *ngIf="errors.length != 0; else statusMessageBlock">
        <span class="alert-danger" *ngFor="let error of errors" style="width: 100%; padding: 5px">{{error}}</span>
    </ng-container>

    <ng-template #statusMessageBlock>
        <div *ngIf="running || (statusMessage$ | async)" fxLayout="column" fxLayoutAlign="center center"
            fxLayoutGap="10px" class="alert-info p-5">
            <mat-progress-bar *ngIf="running" mode="indeterminate" color="accent"></mat-progress-bar>
            <div>{{statusMessage$ | async}}</div>
        </div>

    </ng-template>



    <!-- <log-monitor *ngIf="logStream$ | async" style="height: 100%" [logStream]="logStream$ | async" theme="light"
        [animated]="false" [icons]="false">
    </log-monitor> -->
</div>