<div class="login-panels">
  <app-login-form
    *ngIf="(showHttpAuth$ | async)"
    (submitted)="onSubmit($event)"
    [pending]="pending$ | async"
    [errorMessage]="error$ | async">
  </app-login-form>
  <mat-card class="mat-card ml-3" *ngIf="(oauthServerMethods$ | async)?.length != 0">
    <mat-card-title class="mat-card-title flex-center">Login Services</mat-card-title>
    <mat-card-content class="mat-card-content">
      <p>If you don't have an account, you can login via one of the alternative methods below:</p>
      <div class="flex-center">
        <div class="oauth2-server p-2" *ngFor="let method of (oauthServerMethods$ | async)">
          <button mat-raised-button [color]="'primary'" (click)="onOauthMethodClick(method)">{{method.description}}</button>
        </div>
      </div>
      
    </mat-card-content>
  </mat-card>


  
</div>


