<div *ngIf="file$ | async; let file" class="item-wrapper" fxLayout="row" fxLayoutAlign="start center"
  style="height: 100%">
  <div *ngIf="showExpand" fxFlex="0 0 auto" style="padding-right: 5px">
    <button mat-icon-button [attr.aria-label]="'Toggle ' + file.name" (click)="handleToggleExpanded($event)"
      class="small toggle-button">
      <mat-icon class="mat-icon-rtl-mirror">
        {{ expanded ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>
  </div>

  <div *ngIf="layer$ | async; let layer" fxFlex="0 0 auto" style="padding-right: 5px">
    <mat-icon class="mat-icon small">
      {{ layer?.type == LayerType.IMAGE ? 'insert_photo' : 'toc' }}
    </mat-icon>
  </div>

  <div fxFlex="1 1 auto" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-right: 15px">
    <span [matTooltip]="tooltip$ | async" [matTooltipShowDelay]="750">
      {{ label$ | async }}
    </span>
  </div>

  <span *ngIf="showFileToolbar || showImageLayerLayerToolbar || showSelect || (fileModified$ | async)"
    class="node-toolbar">
    <app-file-toolbar *ngIf="showFileToolbar" style="height: 100%" fxFlex="0 0 auto" fxLayout="row"
      fxLayoutAlign="center center" [showSave]="true" [showClose]="true" (onSave)="handleSave($event)"
      (onClose)="handleClose($event)">
    </app-file-toolbar>

    <ng-container *ngIf="imageLayer$ | async; let layer">
      <app-image-layer-toolbar *ngIf="showImageLayerLayerToolbar" style="height: 100%" fxFlex="0 0 auto" fxLayout="row"
        fxLayoutAlign="center center" [showVisibility]="true" [visible]="layer.visible" [showColorMap]="true"
        [colorMapName]="layer?.normalizer?.colorMapName" [showBlendMode]="true" [blendMode]="layer.blendMode"
        (onVisibilityChange)="handleVisibilityChange(layer.id, $event)"
        (onColorMapChange)="handleColorMapChange(layer.id, $event)"
        (onBlendModeChange)="handleBlendModeChange(layer.id, $event)">
      </app-image-layer-toolbar>
    </ng-container>
    <div *ngIf="!showFileToolbar && (fileModified$ | async)" style="height: 100%" fxFlex="0 0 auto" fxLayout="row"
      fxLayoutAlign="center center">
      <mat-icon fxFlex="0 0 auto" class="small m-1" i18n-aria-label aria-label="modified">fiber_manual_record</mat-icon>
    </div>
    <div *ngIf="showSelect" style="height: 100%" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center">
      <mat-checkbox #checkbox class="m-1" [ngModel]="selected" (click)="handleToggleSelection($event)"></mat-checkbox>
    </div>
  </span>
</div>