<div class="page-wrapper">
  <div class="header-panel container pt-1">
    <ol class="breadcrumb data-provider-nav">
      <li class="breadcrumb-item">
        <a [routerLink]="['/data-providers']">Data Providers</a>
      </li>
      <li class="breadcrumb-item" *ngFor="let breadcrumb of (currentPathBreadcrumbs$ | async)">
        <span *ngIf="breadcrumb.url != null">
          <a class="collection p-2 text-center" [routerLink]="[]" [queryParams]="{path: breadcrumb.url}">{{breadcrumb.name}}</a>
        </span>
        <span *ngIf="breadcrumb.url == null">
          {{breadcrumb.name}}
        </span>
      </li>
      <!-- <li *ngIf="(currentProvider$ | async)" class="breadcrumb active">{{(currentProvider$ | async)?.name}} - Browse</li> -->
    </ol>
  </div>
  <div class="content-panel container">
    <div class="content-wrapper">
      <mat-card class="pb-3">
        <div *ngIf="(loadingAssets$ | async)" class="alert alert-info">
          Loading assets...
        </div>
        <ng-container *ngIf="!(loadingAssets$ | async)">
          <mat-progress-bar *ngIf="(importing$ | async)" mode="determinate" [value]="(importProgress$ | async) * 100" [color]="'primary'"></mat-progress-bar>
          <div *ngIf="(importing$ | async)" class="alert alert-info">
            Importing selected assets... ({{(pendingImports$ | async)?.length}} remaining)
          </div>


          <div [hidden]="(importProgress$ | async) != 1.0" class="alert" role="alert" [ngClass]="(importErrors$ | async).length != 0 ? 'alert-danger' : 'alert-success'">
            Import completed with {{(importErrors$ | async).length == 0 ? 'no errors' : (importErrors$ | async).length + ' errors'}}.
            <a [hidden]="(completedImports$ | async).length <= (importErrors$ | async).length" routerLink="/workbench" class="alert-link">View your imported files now.</a>
            <div *ngIf="(importErrors$ | async).length != 0">
              <div *ngFor="let e of (importErrors$ | async)">
                <strong>Error: </strong> Failed to import {{e.asset.name}}.
                <span *ngIf="e.message">{{e.message}}</span>
              </div>
            </div>

          </div>

          <mat-card-header>
            <div class="dp-browser-info">
              <strong>{{selection.selected.length}}</strong> image files selected.
            </div>
            <div class="dp-browser-toolbar">
              <!-- <button mat-raised-button (click)="onSelectAll(true)" [disabled]="(importing$ | async)">Select All</button>
                  <button mat-raised-button (click)="onSelectAll(false)" [disabled]="(selectedAssets$ | async)?.length == 0 || (importing$ | async)">Deselect All</button> -->
              <button mat-raised-button (click)="import()" [disabled]="selection.selected.length == 0 || (importing$ | async)">Import</button>
            </div>
          </mat-card-header>






          <div class="pb-3 asset-table-wrapper">
            <mat-table app-cell-focuser #cellFocuser="cellFocuser" #table [dataSource]="dataSource" matSort [matSortDisableClear]="true"
              [matSortActive]="(sortField$ | async)" [matSortDirection]="(sortOrder$ | async)">

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="select-header-cell" app-focusable-cell #cell="cell" [rowIndex]="0" [columnIndex]="0"
                  (focus)="cb?.focus()" [cellInTabOrder]="false">
                  <mat-checkbox #cb [disabled]="!showSelectAll()" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [tabIndex]="cell.isActiveCell ? 0 : -1">
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let rowIndex = index;" app-focusable-cell #cell="cell" [rowIndex]="rowIndex+1" [columnIndex]="0"
                  (focus)="cb?.focus()" [cellInTabOrder]="row.collection">
                  <mat-checkbox [hidden]="row.collection" #cb (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [tabIndex]="cell.isActiveCell ? 0 : -1">
                  </mat-checkbox>
                </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="select-header-cell" app-focusable-cell [rowIndex]="0" [columnIndex]="1"
                  [cellInTabOrder]="false">
                  Name
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let rowIndex = index;" app-focusable-cell #cell="cell" [rowIndex]="rowIndex+1" [columnIndex]="1"
                  (focus)="a?.focus()" [cellInTabOrder]="!row.collection">
                  <div class="valign-center" [hidden]="row.collection">
                    <mat-icon class="mr-1">photo</mat-icon>
                    {{row.name}}
                  </div>
                  <div class="valign-center" [hidden]="!row.collection">
                    <mat-icon class="mr-1">folder</mat-icon>
                    <a #a [tabIndex]="cell.isActiveCell ? 0 : -1" [routerLink]="[]" [queryParams]="{path: row.path}">
                      {{row.name}}
                    </a>
                  </div>
                </mat-cell>
              </ng-container>

              <!-- Custom Columns -->
              <ng-container *ngFor="let columnMeta of (currentProvider$ | async)?.columns; let colIndex = index;" [matColumnDef]="columnMeta.fieldName">
                <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!columnMeta.sortable" app-focusable-cell [rowIndex]="0" [columnIndex]="colIndex+2"
                  [cellInTabOrder]="false">
                  {{columnMeta.name}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let rowIndex = index;" app-focusable-cell [rowIndex]="rowIndex+1" [columnIndex]="colIndex+2">
                  <div *ngIf="row.metadata && row.metadata.hasOwnProperty(columnMeta.fieldName)">
                    {{isArray(row.metadata[columnMeta.fieldName]) ? row.metadata[columnMeta.fieldName].join(',&#8203;') : row.metadata[columnMeta.fieldName]}}
                  </div>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="(currentProviderColumns$ | async)"></mat-header-row>
              <mat-row *matRowDef="let row; columns: (currentProviderColumns$ | async);" (click)="onRowClick(row)"></mat-row>
            </mat-table>
          </div>

          <mat-card-header>
            <div class="dp-browser-info">

            </div>
            <div class="dp-browser-toolbar">
              <!-- <button mat-raised-button (click)="onSelectAll(true)" [disabled]="(importing$ | async)">Select All</button>
                  <button mat-raised-button (click)="onSelectAll(false)" [disabled]="(selectedAssets$ | async)?.length == 0 || (importing$ | async)">Deselect All</button> -->
              <button mat-raised-button (click)="import()" [disabled]="selection.selected.length == 0 || (importing$ | async)">Import</button>
            </div>

          </mat-card-header>
        </ng-container>


      </mat-card>

    </div>
  </div>



</div>