.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header-panel {
  flex: 0 0 auto;
  width: 100%;
}

.data-provider-nav {
  width: 100%;
}

.content-panel {
  flex: 1 1 0%;
  overflow: auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-wrapper .mat-card {
  flex: 1 1 0%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.content-wrapper .mat-card-header {
  align-items: center;
  background: #e9ecef;
  padding: 5px;
}

.dp-browser-toolbar {
  padding-left: 10px;
}

.dp-browser-info {
  flex: 1 1 0%;
  padding: 10px;
}

.asset-table-wrapper {
  overflow: auto;
  flex: 1 1 0%;
}

.asset-table-wrapper .mat-row {
  cursor: pointer;
}

.mat-column-select, .cdk-column-select {
  overflow: visible;
  width: 50px;
  padding-left: 15px;
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

/* style mat-table with auto-sizing columns instead of equal distribution of whitespace to flex items */

.mat-table {
  display: table;
  width: 100%;
}

.mat-header-row, .mat-row {
  display: table-row;
  padding: 0;
  border: none;
}

.mat-header-cell, .mat-cell {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}