<!-- <mat-table app-cell-focuser #cellFocuser="cellFocuser" #table [dataSource]="dataSource" [trackBy]="trackByFn">

  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef class="select-header-cell" app-focusable-cell #cell="cell" [rowIndex]="0" [columnIndex]="0"
      (focus)="cb?.focus()" [cellInTabOrder]="false">
      <mat-checkbox #cb [disabled]="!showSelectAll()" (change)="$event ? masterToggle() : null" [checked]="multiSelectionModel.hasValue() && isAllSelected()"
        [indeterminate]="multiSelectionModel.hasValue() && !isAllSelected()" [tabIndex]="cell.isActiveCell ? 0 : -1">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row; let rowIndex = index;" app-focusable-cell #cell="cell" [rowIndex]="allowMultiSelection ? rowIndex+1 : rowIndex"
      [columnIndex]="0" (focus)="cb?.focus()" [cellInTabOrder]="primarySelectionModel.isSelected(row)">
      <mat-checkbox #cb (click)="$event.stopPropagation()" (change)="$event ? multiSelectionModel.toggle(row) : null" [checked]="primarySelectionModel.isSelected(row) || multiSelectionModel.isSelected(row)"
        [tabIndex]="cell.isActiveCell ? 0 : -1"  [disabled]="primarySelectionModel.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef class="select-header-cell" app-focusable-cell [rowIndex]="0" [columnIndex]="allowMultiSelection ? 1 : 0"
      [cellInTabOrder]="true">
      Name
    </mat-header-cell>
    <mat-cell *matCellDef="let row; let rowIndex = index;" app-focusable-cell #cell="cell" [rowIndex]="allowMultiSelection ? rowIndex+1 : rowIndex"
      [columnIndex]="allowMultiSelection ? 1 : 0" [cellInTabOrder]="true" (click)="onRowClick(row)" (keydown.space)="$event.preventDefault();"
      (keyup)="onRowKeyup($event, row);">
      <div class="item-row" [class.selected]="primarySelectionModel.isSelected(row)">
        <div class="valign-center">
          <span class="filename">{{row.name}}</span>
        </div>
      </div>
    </mat-cell>
  </ng-container>


  <mat-header-row [hidden]="!allowMultiSelection" *matHeaderRowDef="['select', 'name']"></mat-header-row>
  
  <mat-row *matRowDef="let row; columns: allowMultiSelection ? ['select', 'name'] : ['name'];"></mat-row>
</mat-table> -->


<mat-table app-cell-focuser #cellFocuser="cellFocuser" #table [dataSource]="dataFiles" [trackBy]="trackByFn">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef class="select-header-cell" app-focusable-cell [rowIndex]="0" [columnIndex]="0"
      [cellInTabOrder]="true">
      Name
    </mat-header-cell>
    <mat-cell *matCellDef="let row; let rowIndex = index;" app-focusable-cell #cell="cell" [rowIndex]="rowIndex"
      [columnIndex]="0" [cellInTabOrder]="true" (click)="onRowClick(row)" (dblclick)="onRowDoubleClick(row)" (keydown.space)="$event.preventDefault();"
      (keyup)="onRowKeyup($event, row);">
      <div class="item-row" [class.selected]="selectedFileId == row.id">
        <div class="valign-center">
          <!-- <mat-icon style="margin-top: 4px;">photo</mat-icon> -->
          <span class="filename" style="user-select: none">{{row.name}}</span>
        </div>
      </div>
    </mat-cell>
  </ng-container>
  
  <mat-row *matRowDef="let row; columns: ['name'];"></mat-row>
</mat-table>