<div fxLayout="column" class="info-bar mono">
  <div fxFlex="1 1 auto" *ngIf="imageMouseX != null && imageMouseY != null">
    ({{imageMouseX | number : '1.3-3'}}, {{imageMouseY | number : '1.3-3'}}) : {{pixelValue | number : '1.1-3'}}
  </div>
  <div fxFlex="1 1 auto" *ngIf="raHours != null && decDegs != null">
    RA: {{raHours | dms:'2.4-4'}} DEC: {{decDegs | dms:'2.3-3'}}
  </div>
  <div class="tool-bar">
    <button mat-icon-button i18n-aria-label aria-label="Zoom In"   (mousedown)="startZoomIn()" (mouseup)="stopZoomIn()" i18n-matTooltip matTooltip="Zoom In">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-icon-button i18n-aria-label aria-label="Zoom Out"   (mousedown)="startZoomOut()" (mouseup)="stopZoomOut()"  i18n-matTooltip  matTooltip="Zoom Out">
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button mat-icon-button i18n-aria-label aria-label="Zoom to Fit" (click)="zoomToFit()" i18n-matTooltip  matTooltip="Zoom To Fit">
      <mat-icon>settings_overscan</mat-icon>
    </button>
    <button mat-icon-button i18n-aria-label aria-label="Reset Zoom" (click)="zoomTo(1)" i18n-matTooltip  matTooltip="Reset Zoom">
        <mat-icon>all_out</mat-icon>
      </button>
    <button mat-icon-button i18n-aria-label aria-label="Download Viewer Snapshot" (click)="onDownloadSnapshotClick()" i18n-matTooltip   matTooltip="Download Viewer Snapshot"><mat-icon>photo_camera</mat-icon></button>
    <button mat-icon-button i18n-aria-label aria-label="Remove From Library" (click)="removeFromLibrary()" i18n-matTooltip   matTooltip="Remove Image From Library">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>