<div *ngIf="loaded$ | async" style="height: 100%; width: 100%;">
    
    <div fxLayout="column" fxFill>
      <header fxFlex="0 0 auto" class="main-header">
        <app-navbar [dataProviders]="dataProviders$ | async" class="mat-elevation-z6" [user]="user$ | async"></app-navbar>
        <!-- <navbar [routes]=currentRoutes></navbar> -->
        <!-- <div *ngIf="loggedIn$ | async" class="float-right bg-inverse text-white"><p>Currently signed in as {{(user$ | async)?.username}}</p></div> -->
      </header>
    
      <main fxFlex="1 1 auto" fxFill class="main-content">
        <router-outlet></router-outlet>
      </main>
    
    </div>
</div>
