// .mat-form-field, .mat-button-toggle-group {
//    margin-left: 20px
// }

.form-field-wrapper {
  margin-left: 20px;
  width: 200px;
}

.form-wrapper > * {
  margin-bottom: 40px;
}

.mat-form-field {
  width: 200px;
}
