<h2 mat-dialog-title>Photometry Settings</h2>
<mat-dialog-content style="overflow: visible;">


  <form [formGroup]="photSettingsForm">
    <mat-tab-group>
      <mat-tab label="Aperture Settings">
        <div style="padding: 10px">
          <div class="form-field-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Aperture Mode</mat-label>
              <mat-select formControlName="mode">
                <mat-option *ngFor="let mode of apertureModes" [value]="mode.value">{{ mode.label }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutGap="20px" style="width: 100%" class="form-wrapper">
            <div fxFlex="1 1 auto" fxLayout="row">
              <div class="form-field-wrapper">
                <mat-form-field>
                  <input matInput i18n-placeholder placeholder="Centroiding Radius" formControlName="centroidRadius" />
                  <mat-hint>radius in pixels</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photSettingsForm.get('centroidRadius')"></app-print-form-error>
              </div>

              <div class="form-field-wrapper">
                <mat-form-field>
                  <input matInput i18n-placeholder placeholder="Gain" formControlName="gain" />
                  <mat-hint>CCD gain in e-/ADU</mat-hint>
                </mat-form-field>
                <app-print-form-error [control]="photSettingsForm.get('gain')"></app-print-form-error>
              </div>
            </div>
            <ng-container *ngIf="settings.mode == 'constant'">
              <div fxFlex="1 1 auto" fxLayout="row">
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input matInput i18n-placeholder placeholder="Aperture" formControlName="a" />
                    <mat-hint>radius in pixels</mat-hint>
                  </mat-form-field>
                  <app-print-form-error [control]="photSettingsForm.get('a')"></app-print-form-error>
                </div>
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input matInput i18n-placeholder placeholder="Annulus Inner" formControlName="aIn" />
                    <mat-hint>radius in pixels</mat-hint>
                  </mat-form-field>
                  <app-print-form-error [control]="photSettingsForm.get('aIn')"></app-print-form-error>
                </div>
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input matInput i18n-placeholder placeholder="Annulus Outer" formControlName="aOut" />
                    <mat-hint>radius in pixels</mat-hint>
                  </mat-form-field>
                  <app-print-form-error [control]="photSettingsForm.get('aOut')"></app-print-form-error>
                </div>
              </div>
              <div fxFlex="1 1 auto" fxLayout="row">
                <div class="form-field-wrapper">
                  <mat-slide-toggle formControlName="constantAperCorr">Aperture Correction</mat-slide-toggle>
                </div>
              </div>
              <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px" style="margin-top: 0px; margin-bottom: 0px"
                class="form-wrapper">

                <div fxFlex="1 1 auto" fxLayout="row" style="margin-bottom: 15px; margin-left: 20px">
                  <mat-checkbox formControlName="elliptical">Use elliptical aperture</mat-checkbox>
                </div>
                <div fxFlex="1 1 auto" fxLayout="row">
                  <div class="form-field-wrapper">
                    <mat-form-field>
                      <input matInput i18n-placeholder placeholder="Aperture Minor Axis" formControlName="b" />
                      <mat-hint>radius in pixels</mat-hint>
                    </mat-form-field>
                    <app-print-form-error [control]="photSettingsForm.get('b')"></app-print-form-error>
                  </div>
                  <div class="form-field-wrapper">
                    <mat-form-field>
                      <input matInput i18n-placeholder placeholder="Annulus Outer Minor Axis" formControlName="bOut" />
                      <mat-hint>radius in pixels</mat-hint>
                    </mat-form-field>
                    <app-print-form-error [control]="photSettingsForm.get('bOut')"></app-print-form-error>
                  </div>
                </div>
                <div fxFlex="1 1 auto" fxLayout="row">
                  <div class="form-field-wrapper">
                    <mat-form-field>
                      <input matInput i18n-placeholder placeholder="Aperture Position Angle" formControlName="theta" />
                      <mat-hint>angle in degrees</mat-hint>
                    </mat-form-field>
                    <app-print-form-error [control]="photSettingsForm.get('theta')"></app-print-form-error>
                  </div>

                  <div class="form-field-wrapper">
                    <mat-form-field>
                      <input matInput i18n-placeholder placeholder="Annulus Position Angle"
                        formControlName="thetaOut" />
                      <mat-hint>angle in degrees</mat-hint>
                    </mat-form-field>
                    <app-print-form-error [control]="photSettingsForm.get('thetaOut')"></app-print-form-error>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="settings.mode == 'adaptive'">
              <div fxFlex="1 1 auto" fxLayout="row">
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input matInput i18n-placeholder placeholder="Aperture" formControlName="aKrFactor" />
                    <mat-hint>isophotal radii</mat-hint>
                  </mat-form-field>
                  <app-print-form-error [control]="photSettingsForm.get('aKrFactor')"></app-print-form-error>
                </div>
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input matInput i18n-placeholder placeholder="Annulus Inner" formControlName="aInKrFactor" />
                    <mat-hint>isophotal radii</mat-hint>
                  </mat-form-field>
                  <app-print-form-error [control]="photSettingsForm.get('aInKrFactor')"></app-print-form-error>
                </div>

                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input matInput i18n-placeholder placeholder="Annulus Outer" formControlName="aOutKrFactor" />
                    <mat-hint>isophotal radii</mat-hint>
                  </mat-form-field>
                  <app-print-form-error [control]="photSettingsForm.get('aOutKrFactor')"></app-print-form-error>
                </div>
              </div>
              <div fxFlex="1 1 auto" fxLayout="row">
                <div fxFlex="1 1 auto" fxLayout="column">
                  <div class="form-field-wrapper">
                    <mat-slide-toggle formControlName="autoAper">Auto aperture</mat-slide-toggle>
                  </div>
                  <div class="form-field-wrapper">
                    <mat-slide-toggle formControlName="adaptiveAperCorr">Aperture Correction</mat-slide-toggle>
                  </div>
                  <div class="form-field-wrapper">
                    <mat-slide-toggle formControlName="fixAper">Fix Aperture Size</mat-slide-toggle>
                  </div>
                </div>

                <div fxFlex="1 1 auto" fxLayout="column">
                  <div class="form-field-wrapper">
                    <mat-slide-toggle formControlName="fixEll">Fix Ellipticity</mat-slide-toggle>
                  </div>

                  <div class="form-field-wrapper">
                    <mat-slide-toggle formControlName="fixRot">Fix Rotation</mat-slide-toggle>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

      </mat-tab>
      <mat-tab label="Calibration Settings">
        <div style="padding: 10px">
          <div class="form-field-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Calibration Mode</mat-label>
              <mat-select formControlName="calibrationMode">
                <mat-option *ngFor="let mode of calibrationModes" [value]="mode.value">{{ mode.label }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutGap="20px" style="width: 100%" class="form-wrapper">
            <ng-container *ngIf="settings.calibrationMode == 'fixed'">
              <div fxFlex="1 1 auto" fxLayout="row">
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input matInput i18n-placeholder placeholder="Zero Point" formControlName="zeroPoint" />
                    <mat-hint>offset in magnitudes</mat-hint>
                  </mat-form-field>
                  <app-print-form-error [control]="photSettingsForm.get('zeroPoint')"></app-print-form-error>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="settings.calibrationMode == 'catalog'">
              <div fxFlex="1 1 auto" fxLayout="row">
                <div class="form-field-wrapper">
                  <mat-form-field appearance="outline">
                    <mat-label>Catalog</mat-label>
                    <mat-select formControlName="catalog">
                      <mat-option *ngFor="let catalog of catalogs$ | async" [value]="catalog.name">{{
                        catalog.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px">
                <div class="form-field-wrapper">
                  <mat-slide-toggle formControlName="sourceInclusionPercentageEnabled"> Reject catalog sources if not
                    found within specified percentage of images</mat-slide-toggle>
                </div>
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input matInput i18n-placeholder placeholder="Source Inclusion Percentage"
                      formControlName="sourceInclusionPercentage" />
                  </mat-form-field>
                  <app-print-form-error [control]="photSettingsForm.get('sourceInclusionPercentage')">
                  </app-print-form-error>
                </div>
              </div>
              <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px">
                <div class="form-field-wrapper">
                  <mat-slide-toggle formControlName="minSnrEnabled"> Reject catalog sources with signal-to-noise ratio
                    less than specified value</mat-slide-toggle>
                </div>
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input matInput i18n-placeholder placeholder="Minimum SNR" formControlName="minSnr" />
                  </mat-form-field>
                  <app-print-form-error [control]="photSettingsForm.get('minSnr')">
                  </app-print-form-error>
                </div>
              </div>
              <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px">
                <div class="form-field-wrapper">
                  <mat-slide-toggle formControlName="maxSnrEnabled"> Reject catalog sources with signal-to-noise ratio
                    greater than specified value</mat-slide-toggle>
                </div>
                <div class="form-field-wrapper">
                  <mat-form-field>
                    <input matInput i18n-placeholder placeholder="Maximum SNR" formControlName="maxSnr" />
                  </mat-form-field>
                  <app-print-form-error [control]="photSettingsForm.get('maxSnr')">
                  </app-print-form-error>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>


  </form>


</mat-dialog-content>
<mat-dialog-actions>
  <div fxFlex="1 1 auto" fxLayout="row" style="width: 100%" style="justify-content: flex-end">
    <div fxFlex="1 1 auto" fxLayout="row" style="width: 100%">
      <button mat-raised-button i18n (click)="restoreDefaults()">Restore Defaults</button>
    </div>
    <div fxFlex="0 0 auto" fxLayout="row">
      <button mat-raised-button mat-dialog-close i18n>Cancel</button>
      <button mat-raised-button [mat-dialog-close]="settings" i18n [disabled]="photSettingsForm.invalid">
        Save
      </button>
    </div>
  </div>
</mat-dialog-actions>