<h2 mat-dialog-title>Photometry Settings</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col-6">
      <mat-slide-toggle [checked]="settings?.phot.centroid" [labelPosition]="before" (change)="onCentroidChange($event)">
        Centroid before photometering
      </mat-slide-toggle>
    </div>
    <div class="col-6">
      <mat-form-field class="">
        <input matInput [disabled]="!settings?.centroid.centroidClicks" placeholder="Centering Box Width" [ngModel]="settings && settings.centroid.psfCentroiderSettings.centeringBoxWidth"
          (ngModelChange)="setCenteringBoxWidth($event)" type="number" step="1" min="1" max="25">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field class="">
        <input matInput placeholder="Aperture" [(ngModel)]="settings && settings.phot.aperture" type="number" step="1" min="1" max="25">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="">
        <input matInput placeholder="Annulus Start" [(ngModel)]="settings && settings.phot.annulus" type="number" step="1" min="1" max="25">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field class="">
        <input matInput placeholder="Annulus Width" [(ngModel)]="settings && settings.phot.dannulus" type="number" step="1" min="1" max="25">
      </mat-form-field>
    </div>


  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="settings">Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>