
  <div class="image-viewer-grid-wrapper" [style.flex-direction]="viewMode==ViewMode.SPLIT_VERTICAL ? 'column' : 'row'">
    <div class="workbench-viewer-panel" [class.active]="activeViewerId == viewer.viewerId" [class.inactive]="activeViewerId != viewer.viewerId"
      *ngFor="let viewer of viewers; trackBy: viewerTrackByFn" (mousedown)="setActiveViewer($event, viewer.viewerId, viewer)">
      <app-workbench-viewer-panel [fileId]="viewer.fileId" [active]="activeViewerId == viewer.viewerId" [markers]="viewer.markers"
        (onImageMove)="handleImageMove($event, viewer.viewerId, viewer)" (onImageClick)="handleImageClick($event, viewer.viewerId, viewer)"
        (onMarkerClick)="handleMarkerClick($event, viewer.viewerId, viewer)">
      </app-workbench-viewer-panel>
    </div>
  </div>