@use '@angular/material' as mat;
@mixin nav-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-navbar {
    // .mat-button {
    //   color: map-get($foreground, text);
    // }

    // .mat-button:not(.active) {
    //   opacity: 0.5;
    // }

    // .mat-button:not(.active):hover {
    //   opacity: 1.0;
    // }

    .navbar,
    .navbar-header {
      background: mat.get-color-from-palette($primary);
    }

    a.mat-button,
    a.mat-icon-button,
    .mat-button,
    .mat-icon-button {
      color: mat.get-color-from-palette($primary, default-contrast);
      opacity: 0.8;
    }

    a.active {
      opacity: 1;
      background: rgba(255,255,255,.15);
    }
  }
}
