<nav class="navbar-header mat-elevation-z6" role="navigation">
  <a class="afterglow-button afterglow-logo" routerLink="workbench"
    [queryParams]="(activeTool$ | async) ? {tool: (activeTool$ | async)} : {}" i18n-aria-label aria-label="Home"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact: false, queryParams: 'ignored'}" mat-button>
    <img style="height: 26px;" src="assets/img/core-logo.png" /><span class="pl-2">Afterglow Workbench</span>
  </a>
  <a [routerLink]="['jobs', (selectedJobId$ | async) || '']" i18n-aria-label aria-label="Jobs" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: false}" mat-button class="ml-2">
    <span> Jobs</span>
  </a>

  <div class="flex-spacer"></div>
  <!-- <theme-picker></theme-picker> -->
  <!-- <button mat-icon-button class="afterglow-button" matTooltip="Select a theme!" tabindex="-1">
    <mat-icon>format_color_fill</mat-icon>
  </button> -->

  <ng-container *ngIf="!user">
    <a class="afterglow-button" (click)="login()" i18n-aria-label aria-label="Login" mat-button i18n> Login </a>
  </ng-container>
  <div>
    <ng-container *ngIf="user">
      <button class="mr-2" mat-button aria-label="Core Settings" (click)="openCoreSettingsDialog()" i18n-aria-label>
        <mat-icon>settings</mat-icon>
      </button>

      <button class="mr-2" mat-button [matMenuTriggerFor]="actionMenu" aria-label="Option Menu" i18n-aria-label>
        <ngx-avatar [name]="avatarName" [size]="50" [round]="false"> </ngx-avatar>
      </button>
      <mat-menu #actionMenu="matMenu" class="action-menu">
        <button mat-menu-item (click)="openThemeDialog()" aria-label="Open Theme Editor" i18n-aria-label>
          <mat-icon>format_color_fill</mat-icon>
          <span i18n>Theme Editor...</span>
        </button>
        <button mat-menu-item (click)="openQuickStartGuide()" aria-label="Open Help Dialog" i18n-aria-label>
          <mat-icon>help</mat-icon>
          <span i18n>Help...</span>
        </button>
        <button mat-menu-item (click)="logout()" aria-label="Logout" i18n-aria-label>
          <mat-icon>exit_to_app</mat-icon>
          <span i18n>Logout</span>
        </button>
      </mat-menu>

    </ng-container>
  </div>
</nav>

<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>