<ng-container *ngFor="let itemId of itemIds">
  <ng-container [ngSwitch]="(layoutItems$ | async)[itemId]?.type">
    <ng-container *ngSwitchCase="'container'">
      <app-workbench-viewer-layout
        *ngIf="(containers$ | async)[itemId]; let childContainer"
        fxFlex="1 1 100%"
        [fxLayout]="childContainer.direction"
        [id]="childContainer.id"
        [itemIds]="childContainer.itemIds"
        (onImageClick)="onImageClick.emit($event)"
        (onImageMouseUp)="onImageMouseUp.emit($event)"
        (onImageMouseDown)="onImageMouseDown.emit($event)"
        (onImageMouseMove)="onImageMouseMove.emit($event)"
        (onImageMouseDragStart)="onImageMouseDragStart.emit($event)"
        (onImageMouseDrag)="onImageMouseDrag.emit($event)"
        (onImageMouseDragEnd)="onImageMouseDragEnd.emit($event)"
        (onMarkerClick)="onMarkerClick.emit($event)"
        style="overflow: hidden"
      ></app-workbench-viewer-layout>
    </ng-container>
    <ng-container *ngSwitchCase="'panel'">
      <app-workbench-viewer-panel
        *ngIf="(panels$ | async)[itemId]; let panel"
        fxFlex="1 1 100%"
        [id]="panel.id"
        [viewers]="getViewers(panel.viewerIds)"
        [selectedViewerId]="panel.selectedViewerId"
        [hasFocus]="panel.id == (focusedViewerPanelId$ | async)"
        (onImageMouseMove)="onPanelImageMouseMove($event, panel.id, panel)"
        (onImageMouseUp)="onPanelImageMouseUp($event, panel.id, panel)"
        (onImageMouseDown)="onPanelImageMouseDown($event, panel.id, panel)"
        (onImageMouseDragStart)="onPanelImageMouseDragStart($event, panel.id, panel)"
        (onImageMouseDrag)="onPanelImageMouseDrag($event, panel.id, panel)"
        (onImageMouseDragEnd)="onPanelImageMouseDragEnd($event, panel.id, panel)"
        (onImageClick)="onPanelImageClick($event, panel.id, panel)"
        (onMarkerClick)="onPanelMarkerClick($event, panel.id, panel)"
        (onFileClose)="onFileClose.emit($event)"
        (onFileSave)="onFileSave.emit($event)"
        (click)="setFocusedPanel($event, panel)"
        (mousedown)="setFocusedPanel($event, panel)"
        (mousewheel)="setFocusedPanel($event, panel)"
        style="overflow: hidden"
      >
      </app-workbench-viewer-panel>
    </ng-container>
  </ng-container>
  <div *ngIf="true" class="handler"></div>
</ng-container>
