<div *ngIf="!state?.file" class="alert alert-info">
  <ng-container i18n>Select a data file to see sonifier options.</ng-container>

</div>
<div *ngIf="state?.file">
  <table class="table header-value-table">
    <tbody>
      <tr>
        <th scope="row" i18n>Region Mode:</th>
        <td>
          <mat-button-toggle-group [value]="state?.regionMode" (change)="setRegionMode($event)">
            <mat-button-toggle [value]="SonifierRegionMode.CUSTOM">
              <mat-icon>crop_square</mat-icon>
              <ng-container i18n>Custom</ng-container>
            </mat-button-toggle>
            <mat-button-toggle [value]="SonifierRegionMode.VIEWPORT">
              <mat-icon>remove_red_eye</mat-icon>
              <ng-container i18n>Viewport</ng-container>
            </mat-button-toggle>
          </mat-button-toggle-group>


        </td>
      </tr>
      <tr *ngIf="state?.regionMode==SonifierRegionMode.CUSTOM">
        <th scope="row" i18n>Time Navigation:</th>
        <td>
          <button mat-raised-button (click)="selectSubregionByTime(0)" i18n>
            Early
          </button>
          <button mat-raised-button (click)="selectSubregionByTime(1)" i18n>
            Mid
          </button>
          <button mat-raised-button (click)="selectSubregionByTime(2)" i18n>
            Late
          </button>
        </td>
      </tr>
      <tr *ngIf="state?.regionMode==SonifierRegionMode.CUSTOM">
        <th scope="row" i18n>Tone Navigation:</th>
        <td>
          <button mat-raised-button (click)="selectSubregionByFrequency(0)" i18n>
            Low
          </button>
          <button mat-raised-button (click)="selectSubregionByFrequency(1)" i18n>
            Mid
          </button>
          <button mat-raised-button (click)="selectSubregionByFrequency(2)" i18n>
            High
          </button>
        </td>
      </tr>
      <tr *ngIf="state?.regionMode==SonifierRegionMode.CUSTOM">
        <th scope="row" i18n>Selection Options:</th>
        <td>
          <button mat-raised-button [disabled]="state?.regionHistoryIndex <= 0"
            (click)="undoRegionSelection()" i18n>
            Undo
          </button>
          <button mat-raised-button
            [disabled]="state?.regionHistoryIndex >= (state?.regionHistory?.length-1)"
            (click)="redoRegionSelection()" i18n>
            Redo
          </button>
          <button mat-raised-button (click)="resetRegionSelection()" i18n>
            Reset
          </button>
        </td>
      </tr>
      <tr *ngIf="state?.regionMode==SonifierRegionMode.CUSTOM">

      </tr>
      <tr>
        <th scope="row" i18n>Region Size:</th>
        <td>{{(region$ | async)?.height | number:'1.0-2'}} x {{(region$ | async)?.width | number: '1.0-2'}} pixels</td>
      </tr>
      <tr>
        <th scope="row" i18n>Start Pixel:</th>
        <td>({{(region$ | async)?.x | number:'1.0-2'}}, {{(region$ | async)?.y | number:'1.0-2'}})</td>
      </tr>
      <tr>
        <th scope="row" i18n>End Pixel:</th>
        <td>({{((region$ | async)?.x + (region$ | async)?.width) | number:'1.0-2'}}, {{((region$ | async)?.y + (region$
          | async)?.height) | number:'1.0-2'}})</td>
      </tr>
    </tbody>
  </table>


  <div class="row">
    <div class="col-6">
      <mat-form-field class="">
        <input matInput i18n-placeholder placeholder="Duration" [ngModel]="state?.duration"
          (ngModelChange)="setDuration($event)" type="number" step="1" min="5" max="60">
      </mat-form-field>

    </div>
    <div class="col-6">
      <mat-form-field class="">
        <input matInput i18n-placeholder placeholder="Tones" [ngModel]="state?.toneCount"
          (ngModelChange)="setToneCount($event)" type="number" step="1" min="1" max="100">
      </mat-form-field>
    </div>
  </div>
  <mat-slide-toggle [checked]="state?.viewportSync" [labelPosition]="before"
    (change)="setViewportSync($event)" i18n>
    Keep selected region in viewer
  </mat-slide-toggle>



  <div class="pb-3">
    <button mat-raised-button (click)="sonify()" class="pull-right">
      <mat-icon>audiotrack</mat-icon>
      <ng-container i18n>Sonify</ng-container>
    </button>
    <div style="clear: both"></div>
  </div>


  <div>
    <div *ngIf="sonificationSrcUri && loading" class="alert alert-warning">
      <ng-container i18n>Loading...</ng-container>
    </div>
    <vg-player (onPlayerReady)="onPlayerReady($event)" [hidden]="!sonificationSrcUri || loading" style="height: 50px;">
      <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>
        <vg-time-display vgformat="mm:ss" vgproperty="current"></vg-time-display>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgformat="mm:ss" vgproperty="left"></vg-time-display>
        <vg-time-display vgformat="mm:ss" vgproperty="total"></vg-time-display>

        <vg-mute></vg-mute>
      </vg-controls>
      <audio [vgMedia]="media" #media id="sonificationAudio" [src]="sonificationSrcUri" autoplay>
      </audio>
    </vg-player>
  </div>
</div>
