<div
  fxFlex="1 1 0%"
  class="image-viewer-grid-panel"
  role="region"
  aria-label="image viewers"
  [fxShow]="
    !(inFullScreenMode$ | async) || (fullScreenPanel$ | async) == 'viewer'
  "
>
<app-workbench-viewer-grid [viewers]="viewers$ | async" [activeViewerId]="activeViewerId$ | async" [viewMode]="viewMode$ | async"></app-workbench-viewer-grid>

</div>

<span class="resizer"></span>
<div
  *ngIf="showConfig$ | async"
  fxFlex="0 0 auto"
  class="workbench-config-panel"
  role="region"
  aria-labelledby="settings-header"
  [ngClass]="{ 'full-screen': inFullScreenMode$ | async }"
  [fxShow]="
    !(inFullScreenMode$ | async) || (fullScreenPanel$ | async) == 'tool'
  "
>
  <div class="card workbench-settings-card" style="height: 100%;">
    <div id="settings-header" class="card-header">
      <h5>Image Calculator</h5>
    </div>

    <div class="card-body" style="overflow-y: auto;">
      <div *ngIf="!(activeImageFile$ | async)" class="alert alert-info">
        Select a data file to see image calculator options.
      </div>
      <div *ngIf="activeImageFile$ | async as activeImageFile">
        <mat-tab-group (selectedTabChange)="onTabChange($event)">
          <mat-tab label="Simple">
            <div class="tab-contents">
              <form [formGroup]="imageCalcForm">
                <mat-form-field appearance="outline">
                  <mat-label>Select a mode</mat-label>
                  <mat-select formControlName="mode">
                    <mat-option
                      *ngFor="let mode of modes"
                      [value]="mode.value"
                      >{{ mode.label }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 300px;">
                  <mat-label>Image(s)</mat-label>
                  <mat-select multiple formControlName="imageFileIds">
                    <mat-option
                      *ngFor="let imageFile of allImageFiles$ | async"
                      [value]="imageFile.id"
                      >{{ imageFile.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Select a operand</mat-label>
                  <mat-select formControlName="operand">
                    <mat-option
                      *ngFor="let operand of operands"
                      [value]="operand.symbol"
                      >{{ operand.label }} ( {{ operand.symbol }} )</mat-option
                    >
                  </mat-select>
                </mat-form-field>

                <mat-form-field
                  appearance="outline"
                  [hidden]="imageCalcForm.value?.mode != 'image'"
                >
                  <mat-label>Select an image</mat-label>
                  <mat-select formControlName="auxImageFileId">
                    <mat-option
                      *ngFor="let imageFile of allImageFiles$ | async"
                      [value]="imageFile.id"
                      >{{ imageFile.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>

                <mat-form-field
                  appearance="outline"
                  [hidden]="imageCalcForm.value?.mode != 'scalar'"
                >
                  <mat-label>Specify a scalar value</mat-label>
                  <input matInput formControlName="scalarValue" type="number" />
                </mat-form-field>

                <mat-checkbox formControlName="inPlace"
                  >Overwrite Files</mat-checkbox
                >

                <div
                  *ngIf="
                    imageCalcForm.errors?.divideByZero &&
                    (imageCalcForm.touched || imageCalcForm.dirty)
                  "
                  class="cross-validation-error-message alert alert-danger"
                  style="margin: 10px;"
                >
                  Dividing by zero would result in a catastrophic server
                  meltdown
                </div>

                <div style="clear: both;"></div>
                <button
                  mat-raised-button
                  (click)="submit(imageCalcForm.value)"
                  [disabled]="!imageCalcForm.valid"
                  class="float-right"
                >
                  Submit
                </button>
              </form>
            </div>
          </mat-tab>
          <mat-tab label="Advanced">
            <form [formGroup]="imageCalcFormAdv">
              <mat-form-field appearance="outline" style="width: 300px;">
                <mat-label>Image(s)</mat-label>
                <mat-select multiple formControlName="imageFileIds">
                  <mat-option
                    *ngFor="let imageFile of allImageFiles$ | async"
                    [value]="imageFile.id"
                    >{{ imageFile.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" style="width: 300px;">
                <mat-label>Auxillary image(s)</mat-label>
                <mat-select multiple formControlName="auxImageFileIds">
                  <mat-option
                    *ngFor="let imageFile of allImageFiles$ | async"
                    [value]="imageFile.id"
                    >{{ imageFile.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" style="width: 300px">
                <mat-label>Operation String</mat-label>
                <input matInput formControlName="opString" />
              </mat-form-field>

              <mat-checkbox formControlName="inPlace"
                >Overwrite Files</mat-checkbox
              >

              

              <div style="max-height: 400px; overflow: auto;">
                <mat-table
                  app-cell-focuser
                  #cellFocuser="cellFocuser"
                  #table
                  [dataSource]="pixelOpVariables$"
                  [trackBy]="trackByFn"
                  matSort
                  [matSortDisableClear]="true"
                >
                  <ng-container matColumnDef="name">
                    <mat-header-cell
                      *matHeaderCellDef
                      mat-sort-header
                      class="select-header-cell"
                      app-focusable-cell
                      [rowIndex]="0"
                      [columnIndex]="0"
                      [cellInTabOrder]="true"
                    >
                      Variable Name
                    </mat-header-cell>
                    <mat-cell
                      *matCellDef="let row; let rowIndex = index"
                      app-focusable-cell
                      #cell="cell"
                      [rowIndex]="rowIndex + 1"
                      [columnIndex]="0"
                      [cellInTabOrder]="true"
                    >
                      {{ row.name }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="value">
                    <mat-header-cell
                      *matHeaderCellDef
                      mat-sort-header
                      class="select-header-cell"
                      app-focusable-cell
                      [rowIndex]="0"
                      [columnIndex]="1"
                      [cellInTabOrder]="true"
                    >
                      Value
                    </mat-header-cell>
                    <mat-cell
                      *matCellDef="let row; let rowIndex = index"
                      app-focusable-cell
                      #cell="cell"
                      [rowIndex]="rowIndex + 1"
                      [columnIndex]="1"
                      [cellInTabOrder]="true"
                    >
                      {{ row.value }}
                    </mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="['name', 'value']"
                  ></mat-header-row>
                  <mat-row
                    *matRowDef="let row; columns: ['name', 'value']"
                  ></mat-row>
                </mat-table>
              </div>

              <div style="clear: both;"></div>
              <button
                mat-raised-button
                (click)="submitAdv(imageCalcFormAdv.value)"
                [disabled]="!imageCalcFormAdv.valid"
                class="float-right"
              >
                Submit
              </button>
              <div style="clear: both;"></div>
            </form>
          </mat-tab>
        </mat-tab-group>

        <div *ngIf="showCurrentPixelOpsJobState$ | async" style="padding-top: 10px;">
            <div *ngIf="currentPixelOpsJobRow$ | async; let jobRow">
                <div
                  class="alert alert-info"
                  *ngIf="
                    !jobRow.result ||
                      ['pending', 'in_progress'].includes(jobRow.job.state.status);
                    else jobComplete
                  "
                >
                  Processing job {{ jobRow.job.id }}
                </div>
                <ng-template #jobComplete>
                  <div
                    *ngIf="jobRow.result.errors.length != 0; else noErrors"
                    class="alert alert-danger"
                  >
                    {{ jobRow.result.errors }}
                  </div>
                  <ng-template #noErrors>
                    <div class="alert alert-success">
                      Processing is complete.
                      <div *ngIf="jobRow.result.file_ids.length != 0">
                        Your operation resulted in
                        {{ jobRow.result.file_ids.length }} new file(s)
                      </div>
                      <div *ngIf="jobRow.result.data.length != 0">
                        Your operation resulted in the following scalar values:
                        {{ jobRow.result.data }}
                      </div>
                    </div>
                  </ng-template>
                </ng-template>
              </div>
        </div>
        

<div style="padding-top: 10px;">
  <button mat-raised-button (click)="openPixelOpsJobsDialog()">Show All Pixel Operation Jobs...</button>
</div>

      </div>
    </div>
  </div>
</div>
