.workbench-config-panel {
  width: 375px;
}

.mat-form-field, .mat-checkbox {
  margin: 5px;
}

.tab-contents {
  margin-top: 10px;
}



dt {
  padding-right: 5px;
}

dd, dt {
  padding: 10px;
  margin: 0px;
}

dl {
  margin-bottom: 0px;
}

.dl-horizontal dt {
  float: left;
  width: 150px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
dt {
  font-weight: 700;
}
dd, dt {
  line-height: 1.42857143;
}


.mat-column-select, .cdk-column-select {
  overflow: visible;
  width: 50px;
  padding-left: 15px;
}

/* style mat-table with auto-sizing columns instead of equal distribution of whitespace to flex items */

.mat-table {
  display: table;
  width: 100%;
  padding: 5px;
}

.mat-header-row, .mat-row {
  display: table-row;
  padding: 0;
  border: none;
}

.mat-row {
  min-height: 30px;
}

.mat-header-cell, .mat-cell {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}