#image-viewer-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  width: 100%;
  position: absolute;
  outline: none;
  overflow: hidden;
  user-select: text;
  top: 0px;
  bottom: 0px;
}

.image-viewer-header {
  display: flex;
  flex: 0 0 auto;
  height: 49px;
  border-bottom: 1px solid #d6d6d6;
}

.info-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 36px;
  padding: 5px;
  border-top: 2px solid #FFFFFF;
  background: rgba(0, 0, 0, .9);
  color: #FFF;
}

.viewer {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

/* .viewer.mouse-over-image {
  cursor: grab;
} */

.viewer.dragging {
  cursor: grabbing;
}

.image-viewer-header-wrapper {
  display: flex;
  flex: 1 1 0%;
  height: initial;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  align-items: center;
}

.tool-bar {
  display: flex;
  flex: 0 0 auto;
}

.title-bar {
  padding-left: 5px;
  display: flex;
  flex: 1 1 0%;
}

#svg-placeholder {
  position: absolute;
  top: 0px;
  left: 0px;
}