.workbench-config-panel {
  flex: 0 0 auto;
  position: relative;
  outline: none;
  width: 500px;
}

.workbench-outlet-wrapper {
  display: flex;
  flex: 1 1 0%;
  height: 100%;
  width: 100%;
  outline: none;
  overflow: hidden;
  user-select: text;
  flex-direction: row;
}

.image-viewer-grid-panel {
  flex: 1 1 0%;
  position: relative;
  outline: none;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}