<div fxFlex="1 1 0%" class="image-viewer-grid-panel" role="region" aria-label="image viewers" [fxShow]="
    !(inFullScreenMode$ | async) || (fullScreenPanel$ | async) == 'viewer'
  ">
  <app-workbench-view-manager [primaryViewers]="primaryViewers$ | async" [secondaryViewers]="secondaryViewers$ | async" [activeViewerId]="activeViewerId$ | async" [viewMode]="viewMode$ | async"></app-workbench-view-manager>
</div>

<span class="resizer"></span>

<div *ngIf="showConfig$ | async" fxFlex="0 0 auto" class="workbench-config-panel" role="region" aria-labelledby="settings-header"
  [ngClass]="{ 'full-screen': inFullScreenMode$ | async }" [fxShow]="
    !(inFullScreenMode$ | async) || (fullScreenPanel$ | async) == 'tool'
  ">
  <div class="card workbench-settings-card" style="height: 100%;">
    <div id="settings-header" class="card-header">
      <h5 i18n>Display Settings</h5>
    </div>

    <div class="card-body" style="overflow-y: auto;">

      <div class="row">
        <div class="col-12"></div>
      </div>


      <div *ngIf="!(imageFile$ | async)" class="alert alert-info">
        <ng-container i18n>Select a data file to see viewer options.</ng-container>
      </div>

      <div *ngIf="imageFile$ | async; let imageFile">
        <div>
          <h6 i18n>Brightness and Contrast Presets</h6>
          <div class="pb-1">
            <button mat-raised-button class="m-1" (click)="onPresetClick(10, 95)" i18n-aria-label aria-label="Faint Target Preset">
              <mat-icon>brightness_3</mat-icon>Faint Target
            </button>
            <button mat-raised-button class="m-1" (click)="onPresetClick(10, 99)" i18n-aria-label aria-label="Default Preset">
              <mat-icon>brightness_2</mat-icon>Default
            </button>
            <button mat-raised-button class="m-1" (click)="onPresetClick(10, 99.999)" i18n-aria-label aria-label="Bright Target Preset">
              <mat-icon>brightness_5</mat-icon>Bright Target
            </button>
          </div>
        </div>



        <div class="pr-3 pl-3 pb-0">
          <app-image-hist-chart [width]="440" [height]="250" [hist]="(imageFile$ | async)?.hist" [backgroundPercentile]="
                (normalization$ | async)?.normalizer?.backgroundPercentile
              " [peakPercentile]="(normalization$ | async)?.normalizer?.peakPercentile">
          </app-image-hist-chart>
          <div style="clear: both;"></div>
        </div>


        <div class="pb-4 pt-1">
          <h6 i18n>Brightness and Contrast Settings</h6>
          <app-normalizer-form [normalizer]="(normalization$ | async)?.normalizer" (backgroundPercentileChange)="onBackgroundPercentileChange($event)"
            (peakPercentileChange)="onPeakPercentileChange($event)" (colorMapChange)="onColorMapChange($event)" (stretchModeChange)="onStretchModeChange($event)"
            (invertedChange)="onInvertedChange($event)">
          </app-normalizer-form>
        </div>

        <!-- <app-normalizer
                  [normalizer]="(imageFile$ | async)?.normalizer"
                  [hist]="(imageFile$ | async)?.hist">
                </app-normalizer> -->


        <div>
            <h6 i18n>Image Orientation Options</h6>
            <div class="pb-4">
                <button mat-raised-button class="m-1" (click)="onFlipClick()">
                  <mat-icon>flip</mat-icon><ng-container i18n>Flip</ng-container> 
                </button>
                <button mat-raised-button class="m-1" (click)="onRotateClick()">
                  <mat-icon>rotate_right</mat-icon><ng-container i18n>Rotate</ng-container> 
                </button>
                <button mat-raised-button class="m-1" color="warn" (click)="onResetOrientationClick()">
                  <mat-icon>crop_din</mat-icon><ng-container i18n>Reset Orientation</ng-container> 
                </button>
              </div>
        </div>
        




      </div>
    </div>
  </div>