<div fxLayout="row" fxFill>
  <div fxFlex="0 0 auto" class="sidebar-panel" [ngClass]="{'full-screen': (inFullScreenMode$ | async)}" [fxShow]="!(inFullScreenMode$ | async) || (fullScreenPanel$ | async) == 'file'">
    <div fxLayout="row" fxFlex="1 1 0%"  class="sidebar-wrapper h-100" role="region" aria-label="File Library">
      <div fxFlex="0 0 auto" class="file-list-toolbar-panel toolbar-panel h-100" [class.collapsed]="!(showSidebar$ | async)">
        <div class="vertical-icon-nav-item-group">
          <button id="tab-view-file-library" class="vertical-icon-nav-item" [class.active]="(showSidebar$ | async) && (sidebarView$ | async)==SidebarView.FILES"
            attr.aria-label="{{(showSidebar$ | async) && (sidebarView$ | async)==SidebarView.FILES ? 'Hide' : 'Show' }} File Library List"
            [attr.aria-selected]="(showSidebar$ | async) && (sidebarView$ | async)==SidebarView.FILES" (click)="setSidebarView(SidebarView.FILES)">
            <div class="icon-wrapper">
              <mat-icon>description</mat-icon>
            </div>
          </button>

          <!-- <button id="tab-search-file-library" class="vertical-icon-nav-item" [class.active]="(showSidebar$ | async) && (sidebarView$ | async)==SidebarView.SEARCH"
            attr.aria-label="{{(showSidebar$ | async) && (sidebarView$ | async)==SidebarView.SEARCH ? 'Hide' : 'Show' }} File Library Search"
            [attr.aria-selected]="(showSidebar$ | async) && (sidebarView$ | async)==SidebarView.SEARCH" (click)="setSidebarView(SidebarView.SEARCH)">
            <div class="icon-wrapper">
              <mat-icon>search</mat-icon>
            </div>
          </button> -->
        </div>

      </div>
      <div fxFlex="1 1 0%" *ngIf="(showSidebar$ | async)" class="file-list-panel h-100">
        <div *ngIf="!(files$ | async) || (files$ | async)?.length == 0" class="empty-library-info alert alert-info" style="margin: 10px;">
          Your library is empty.
          Import files from your
            <a [routerLink]="['/data-providers']">data providers</a>.
        </div>
        <ng-container *ngIf="(files$ | async)?.length != 0">
          <div fxLayout="column" fxFlex="1 1 0%" class="file-list-panel-wrapper h-100" *ngIf="(sidebarView$ | async) == SidebarView.FILES" aria-labeledby="tab-view-file-library">
            <div fxFlex="0 0 auto" class="file-list-panel-header">
              <div class="file-list-header-view">
                <button mat-icon-button aria-label="Clear Library" (click)="removeAllFiles()">
                  <mat-icon>delete_sweep</mat-icon>
                </button>
                <button mat-icon-button aria-label="Refresh Library" (click)="refresh()">
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>
            </div>
            <div fxFlex="1 1 auto" class="file-list-panel-content">
              <div class="file-list-content">
                <div [hidden]="!(loading$ | async)">
                  <p>Loading library...</p>
                  <div class="flex-center">
                    <mat-spinner></mat-spinner>
                  </div>
                </div>
                <app-workbench-data-file-list [hidden]="(loading$ | async)" [allowMultiSelection]="(multiFileSelectionEnabled$ | async)"
                  [primarySelection]="(selectedFile$ | async)" (onPrimarySelectionChange)="onFileSelect($event)" (onMultiSelectionChange)="onMultiFileSelect($event)"></app-workbench-data-file-list>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>

  </div>
  <span class="resizer"></span>
  <div fxFlex="1 1 0%" fxFill fxLayout="row" class="workbench-outlet-panel" *ngIf="(files$ | async)?.length != 0">
     
    <router-outlet></router-outlet>

  </div>
  <div fxFlex="0 0 auto" [fxShow]="!(inFullScreenMode$ | async) || (fullScreenPanel$ | async) == 'tool'" class="workbench-nav-panel" [class.collapsed]="!(showConfig$ | async)" *ngIf="(files$ | async)?.length != 0">
    <nav role="navigation" aria-label="workbench">
      <div class="vertical-icon-nav-item-group">
        <div class="workbench-settings-card">
          <div class="card-header spacer"></div>
        </div>
        <button class="vertical-icon-nav-item" [matTooltip]="getToolbarTooltip(VIEWER_ROUTE, 'Display')" [matTooltipPosition]="'left'" [class.active]="(showConfig$ | async) && router.isActive(VIEWER_ROUTE)"
          [attr.aria-label]="getToolbarTooltip(VIEWER_ROUTE, 'Display')" [attr.aria-selected]="(showConfig$ | async) && router.isActive(VIEWER_ROUTE)"
          (click)="onWorkbenchNavClick(VIEWER_ROUTE)">
          <div class="icon-wrapper">
            <mat-icon>remove_red_eye</mat-icon>
          </div>
        </button>
        <button class="vertical-icon-nav-item" [matTooltip]="getToolbarTooltip(FILE_INFO_ROUTE, 'File Info')" [matTooltipPosition]="'left'" [class.active]="(showConfig$ | async) && router.isActive(FILE_INFO_ROUTE)"
          [attr.aria-label]="getToolbarTooltip(FILE_INFO_ROUTE, 'File Info')" [attr.aria-selected]="(showConfig$ | async) && router.isActive(FILE_INFO_ROUTE)"
          (click)="onWorkbenchNavClick(FILE_INFO_ROUTE)">
          <div class="icon-wrapper">
            <mat-icon>info</mat-icon>
          </div>
        </button>
        <button class="vertical-icon-nav-item" [matTooltip]="getToolbarTooltip(MARKER_ROUTE, 'Custom Markers')" [matTooltipPosition]="'left'" [class.active]="(showConfig$ | async) && router.isActive(MARKER_ROUTE)"
          [attr.aria-label]="getToolbarTooltip(MARKER_ROUTE, 'Custom Markers')" [attr.aria-selected]="(showConfig$ | async) && router.isActive(MARKER_ROUTE)"
          (click)="onWorkbenchNavClick(MARKER_ROUTE)">
          <div class="icon-wrapper">
            <mat-icon>place</mat-icon>
          </div>
        </button>
        <button class="vertical-icon-nav-item" [matTooltip]="getToolbarTooltip(PLOTTER_ROUTE, 'Plotting')" [matTooltipPosition]="'left'" [class.active]="(showConfig$ | async) && router.isActive(PLOTTER_ROUTE)"
          [attr.aria-label]="getToolbarTooltip(VIEWER_ROUTE, 'Plotting')" [attr.aria-selected]="(showConfig$ | async) && router.isActive(PLOTTER_ROUTE)"
          (click)="onWorkbenchNavClick(PLOTTER_ROUTE)">
          <div class="icon-wrapper">
            <mat-icon>insert_chart</mat-icon>
          </div>
        </button>
        <button class="vertical-icon-nav-item" [matTooltip]="getToolbarTooltip(SONIFIER_ROUTE, 'Sonification')" [matTooltipPosition]="'left'" [class.active]="(showConfig$ | async) && router.isActive(SONIFIER_ROUTE)"
          [attr.aria-label]="getToolbarTooltip(VIEWER_ROUTE, 'Sonification')" [attr.aria-selected]="(showConfig$ | async) && router.isActive(SONIFIER_ROUTE)"
          (click)="onWorkbenchNavClick(SONIFIER_ROUTE)">
          <div class="icon-wrapper">
            <mat-icon>audiotrack</mat-icon>
          </div>
        </button>
        <!-- <button class="vertical-icon-nav-item" [matTooltip]="getToolbarTooltip(FIELD_CAL_ROUTE, 'Field Calibration')" [matTooltipPosition]="'left'" [class.active]="(showConfig$ | async) && router.isActive(FIELD_CAL_ROUTE)"
          [attr.aria-label]="getToolbarTooltip(FIELD_CAL_ROUTE, 'Field Calibration')"
          [attr.aria-selected]="(showConfig$ | async) && router.isActive(FIELD_CAL_ROUTE)" (click)="onWorkbenchNavClick(FIELD_CAL_ROUTE)">
          <div class="icon-wrapper">
            <mat-icon>flare</mat-icon>
          </div>
        </button> -->
        <button class="vertical-icon-nav-item" [matTooltip]="getToolbarTooltip(SOURCE_EXTRACTOR_ROUTE, 'Photometry')" [matTooltipPosition]="'left'" [class.active]="(showConfig$ | async) && router.isActive(SOURCE_EXTRACTOR_ROUTE)"
          [attr.aria-label]="getToolbarTooltip(VIEWER_ROUTE, 'Photometry')"
          [attr.aria-selected]="(showConfig$ | async) && router.isActive(SOURCE_EXTRACTOR_ROUTE)" (click)="onWorkbenchNavClick(SOURCE_EXTRACTOR_ROUTE)">
          <div class="icon-wrapper">
            <mat-icon>star_border</mat-icon>
          </div>
        </button>
        <button class="vertical-icon-nav-item" [matTooltip]="getToolbarTooltip(IMAGE_ARITHMETIC_ROUTE, 'Image Calculator')" [matTooltipPosition]="'left'" [class.active]="(showConfig$ | async) && router.isActive(IMAGE_ARITHMETIC_ROUTE)"
          attr.aria-label="getToolbarTooltip(IMAGE_ARITHMETIC_ROUTE, 'Image Calculator')"
          [attr.aria-selected]="(showConfig$ | async) && router.isActive(IMAGE_ARITHMETIC_ROUTE)" (click)="onWorkbenchNavClick(IMAGE_ARITHMETIC_ROUTE)">
          <div class="icon-wrapper">
            <mat-icon>add_to_photos</mat-icon>
          </div>
        </button>
        <button class="vertical-icon-nav-item" [matTooltip]="getToolbarTooltip(ALIGNER_ROUTE, 'Aligning')" [matTooltipPosition]="'left'" [class.active]="(showConfig$ | async) && router.isActive(ALIGNER_ROUTE)"
          attr.aria-label="getToolbarTooltip(ALIGNER_ROUTE, 'Aligning')" [attr.aria-selected]="(showConfig$ | async) && router.isActive(ALIGNER_ROUTE)"
          (click)="onWorkbenchNavClick(ALIGNER_ROUTE)">
          <div class="icon-wrapper">
            <mat-icon>photo_size_select_large</mat-icon>
          </div>
        </button>
        <button class="vertical-icon-nav-item" [matTooltip]="getToolbarTooltip(STACKER_ROUTE, 'Stacking')" [matTooltipPosition]="'left'" [class.active]="(showConfig$ | async) && router.isActive(STACKER_ROUTE)"
          attr.aria-label="getToolbarTooltip(STACKER_ROUTE, 'Stacking')" [attr.aria-selected]="(showConfig$ | async) && router.isActive(STACKER_ROUTE)"
          (click)="onWorkbenchNavClick(STACKER_ROUTE)">
          <div class="icon-wrapper">
            <mat-icon>photo_library</mat-icon>
          </div>
        </button>


      </div>

    </nav>

  </div>
</div>