<div class="workbench-wrapper">
  <div class="sidebar-panel">
    <div class="sidebar-wrapper" role="region" aria-label="File Library">
      <div class="file-list-toolbar-panel" [class.collapsed]="!(showSidebar$ | async)">

        <button id="tab-view-file-library" class="vertical-icon-nav-item" [class.active]="(showSidebar$ | async) && (sidebarView$ | async)==SidebarView.FILES"
          attr.aria-label="{{(showSidebar$ | async) && (sidebarView$ | async)==SidebarView.FILES ? 'Hide' : 'Show' }} File Library List"
          [attr.aria-selected]="(showSidebar$ | async) && (sidebarView$ | async)==SidebarView.FILES" (click)="setSidebarView(SidebarView.FILES)">
          <div class="icon-wrapper">
            <mat-icon>description</mat-icon>
          </div>
        </button>

        <button id="tab-search-file-library" class="vertical-icon-nav-item" [class.active]="(showSidebar$ | async) && (sidebarView$ | async)==SidebarView.SEARCH"
          attr.aria-label="{{(showSidebar$ | async) && (sidebarView$ | async)==SidebarView.SEARCH ? 'Hide' : 'Show' }} File Library Search"
          [attr.aria-selected]="(showSidebar$ | async) && (sidebarView$ | async)==SidebarView.SEARCH" (click)="setSidebarView(SidebarView.SEARCH)">
          <div class="icon-wrapper">
            <mat-icon>search</mat-icon>
          </div>
        </button>


      </div>
      <div *ngIf="(showSidebar$ | async)" class="file-list-panel">
        <div class="file-list-panel-wrapper" *ngIf="(sidebarView$ | async) == SidebarView.FILES" aria-labeledby="tab-view-file-library">
          <div class="file-list-panel-header">
            <div class="file-list-header-view">
              <button mat-icon-button aria-label="Clear Library" (click)="removeAllFiles()">
                <mat-icon>delete_sweep</mat-icon>
              </button>
              <button mat-icon-button aria-label="Refresh Library" (click)="refresh()">
                <mat-icon>refresh</mat-icon>
              </button>
            </div>
          </div>
          <div class="file-list-panel-content">
            <div class="file-list-content">
              <app-data-file-selection-list (selectionChange)="onFileSelect($event)" aria-label="File Library">
                <app-data-file-list-item *ngFor="let file of (files$ | async); let index=index; let odd=odd; let even=even; trackBy: trackByFn"
                  [ngClass]="{ odd: odd, even: even }" [file]="file" [selected]="(selectedFile$ | async) == file">
                </app-data-file-list-item>
              </app-data-file-selection-list>
              <!-- <ul class="list-unstyled" style="white-space: nowrap; display: inline-block; margin: 0px; min-width: 100%;"
              aria-label="Library File List" role="listbox" tabindex="0">
                <div *ngFor="let file of (files$ | async); let index=index; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">
                  <app-data-file-list-item [file]="file" [selected]="(selectedFile$ | async) == file" (select)="onFileSelect(file)">
                  </app-data-file-list-item>
                </div>
              </ul> -->
            </div>
          </div>
        </div>
        <!-- <div class="file-list-panel-wrapper" *ngIf="(sidebarView$ | async) == SidebarView.SEARCH" aria-labeledby="tab-search-file-library">
          <div class="file-list-panel-header">
            <div class="file-list-header-search">
              <mat-form-field class="">
                <input matInput placeholder="Filter library files" [(ngModel)]="fileFilterString" type="text">
              </mat-form-field>
              <div *ngIf="fileFilterString != ''" class="alert alert-warning mb-0" role="alert">
                {{( (files$ | async) | filteredFiles: fileFilterString)?.length}} of {{(files$ | async)?.length}} files matched
              </div>
            </div>
          </div>
          <div class="file-list-panel-content">
            <div class="file-list-content">
              <ul class="list-unstyled" style="white-space: nowrap; display: inline-block; margin: 0px; min-width: 100%;" aria-label="Library File List"
                role="listbox" tabindex="0">
                <div *ngFor="let file of (files$ | async); let index=index; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }"
                  role="option">
                  <app-data-file-list-item [file]="file" [selected]="(selectedFile$ | async) == file" (select)="onFileSelect(file)">
                  </app-data-file-list-item>
                </div>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </div>

  </div>
  <span class="resizer"></span>
  <div class="workbench-outlet-panel">

    <router-outlet></router-outlet>
  </div>
  <div class="workbench-nav-panel" [class.collapsed]="!(showConfig$ | async)">
    <nav role="navigation" aria-label="workbench">

      <a class="vertical-icon-nav-item" routerLinkActive #viewerRoute="routerLinkActive" [class.active]="(showConfig$ | async) && viewerRoute.isActive"
        routerLink="viewer" (click)="onClickWorkbenchNav(router.isActive('/workbench/viewer'))">
        <div class="icon-wrapper">
          <mat-icon>remove_red_eye</mat-icon>
        </div>
      </a>
      <a class="vertical-icon-nav-item" routerLinkActive #plotterRoute="routerLinkActive" [class.active]="(showConfig$ | async) && plotterRoute.isActive"
        routerLink="plotter" aria-label="Plotter" (click)="onClickWorkbenchNav(router.isActive('/workbench/plotter'))">
        <div class="icon-wrapper">
          <mat-icon>insert_chart</mat-icon>
        </div>
      </a>
      <a class="vertical-icon-nav-item" routerLinkActive #sonifierRoute="routerLinkActive" [class.active]="(showConfig$ | async) && sonifierRoute.isActive"
        routerLink="sonifier" aria-label="Sonifier" (click)="onClickWorkbenchNav(router.isActive('/workbench/sonifier'))">
        <div class="icon-wrapper">
          <mat-icon>audiotrack</mat-icon>
        </div>
      </a>
      <a class="vertical-icon-nav-item" routerLinkActive #sourceAnalyzerRoute="routerLinkActive" [class.active]="(showConfig$ | async) && sourceAnalyzerRoute.isActive"
        routerLink="source-analyzer" aria-label="Source Analyzer" (click)="onClickWorkbenchNav(router.isActive('/workbench/source-analyzer'))">
        <div class="icon-wrapper">
          <!-- star_rate causes strange issues with viewport width -->
          <!-- <mat-icon>star_rate</mat-icon> -->

          <mat-icon>star_border</mat-icon>
        </div>
      </a>


    </nav>

  </div>
</div>