// .workbench-wrapper {
//   display: flex;
//   height: 100%;
//   width: 100%;
//   outline: none;
//   user-select: text;
//   flex-direction: row;
// }

.sidebar-panel {
  max-width: 400px;
}

// .sidebar-wrapper {
//   display: flex;
//   flex: 1 1 0%;
//   height: initial;
//   flex-direction: row;
//   height: 100%;
//   overflow: hidden;
// }

// .file-list-toolbar-panel {
//   flex: 0 0 auto;
//   position: relative;
//   outline: none;
//   height: 100%;
// }

.file-list-toolbar-panel.collapsed {
  border-right: 2px solid rgba(0, 0, 0, .125);
}

.file-list-panel {
  min-width: 200px;
}

// .file-list-panel-wrapper {
//   display: flex;
//   flex: 1 1 0%;
//   flex-direction: column;
//   overflow: hidden;
//   height: 100%;
// }

.file-list-header-view {
  text-align: center;
}

.file-list-header-search {
  text-align: center;
}

// .file-list-panel-header {
//   flex: 0 0 auto;
//   position: relative;
//   outline: none;
// }


.file-list-panel-content {
  // flex: 1 1 auto;
  // position: relative;
  // outline: none;
  overflow: auto;
}

.file-list-content {
  padding-top: 5px;
}

// .workbench-outlet-panel {
//   flex: 1 1 0%;
//   position: relative;
//   outline: none;
// }

// .workbench-nav-panel {
//   flex: 0 0 auto;
//   position: relative;
//   outline: none;
// }

/* Vertical Icon Nav Styling */

.workbench-nav-panel .card-header.spacer {
  border-left: none;
}

.vertical-icon-nav-item .icon-wrapper {
  padding: 15px 15px;
  text-align: center;
}

button.vertical-icon-nav-item {
  padding: 0;
  border: none;
  cursor: pointer;
  display: block;
}

.vertical-icon-nav-item .icon-wrapper .mat-icon {
  vertical-align: middle;
}

.empty-library-info {
  text-align: center;
}