<div fxFlex="1 1 0%" class="image-viewer-grid-panel" role="region" aria-label="image viewers" [fxShow]="
    !(inFullScreenMode$ | async) || (fullScreenPanel$ | async) == 'viewer'
  ">
  <app-workbench-view-manager [primaryViewers]="primaryViewers$ | async" [secondaryViewers]="secondaryViewers$ | async" [activeViewerId]="activeViewerId$ | async" [viewMode]="viewMode$ | async"
  (onImageClick)="onImageClick($event)" (onMarkerClick)="onMarkerClick($event)"></app-workbench-view-manager>
</div>

<span class="resizer"></span>
<div
  *ngIf="showConfig$ | async"
  fxFlex="0 0 auto"
  class="workbench-config-panel"
  role="region"
  aria-labelledby="settings-header"
  [ngClass]="{ 'full-screen': inFullScreenMode$ | async }"
  [fxShow]="
    !(inFullScreenMode$ | async) || (fullScreenPanel$ | async) == 'tool'
  "
>
  <div class="card workbench-settings-card" style="height: 100%;">
    <div id="settings-header" class="card-header">
      <h5 i18n>Custom Markers</h5>
    </div>

    <div class="card-body" style="overflow-y: auto;">
      <div
        *ngIf="!(activeImageFile$ | async)?.headerLoaded"
        class="alert alert-info"
        i18n
      >
        Select a data file to see custom marker options.
      </div>
      <div *ngIf="(activeImageFile$ | async)?.headerLoaded">
        <div>
          <div class="row pb-1">
            <div class="col-6">
              <div class="form-group">
                <mat-slide-toggle
                  [checked]="(centroidClicks$ | async)"
                  [labelPosition]="before"
                  (change)="onCentroidClicksChange($event)"
                  color="primary"
                  i18n
                >
                  Centroid clicks
                </mat-slide-toggle>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <mat-slide-toggle
                  [checked]="(usePlanetCentroiding$ | async)"
                  [disabled]="!(centroidClicks$ | async)"
                  color="primary"
                  [labelPosition]="before"
                  (change)="onPlanetCentroidingChange($event)"
                  i18n
                >
                  Planet Centroiding
                </mat-slide-toggle>
              </div>
            </div>
          </div>

          <p i18n>Add custom markers by clicking on your image.</p>
          <p class="pb-2" i18n>
            Tip: Hold <span class="kbd">Alt</span> to click beneath existing
            markers
          </p>
        </div>

        <ng-container
          *ngIf="selectedCustomMarkers$ | async; let selectedCustomMarkers"
        >
          <ng-container *ngIf="selectedCustomMarkers.length == 1;">
            <hr />
            <h5 i18n>Marker Customization</h5>
            <app-circle-marker-editor *ngIf="selectedCustomMarkers[0].marker.type == MarkerType.CIRCLE"
              [marker]="selectedCustomMarkers[0].marker"
              (changed)="onMarkerChange($event, selectedCustomMarkers[0])"
            ></app-circle-marker-editor>
            <app-rectangle-marker-editor *ngIf="selectedCustomMarkers[0].marker.type == MarkerType.RECTANGLE"
              [marker]="selectedCustomMarkers[0].marker"
              (changed)="onMarkerChange($event, selectedCustomMarkers[0])"
            ></app-rectangle-marker-editor>
          </ng-container>
          <button mat-raised-button i18n-aria-label aria-label="Delete Selected Markers" i18n-matTooltip matTooltip="Delete Selected Markers" color="warn" (click)="deleteSelectedMarkers(selectedCustomMarkers)"
            [disabled]="selectedCustomMarkers.length == 0">
            <mat-icon>delete</mat-icon> <span i18n>Delete Selected Markers</span>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
