<div *ngIf="hduIds">
  <p i18n>
    WCS calibration extracts sources from your images and attempts to match them to catalogs. If a successful
    match is found, WCS header entries are added to the file and can be used to map between pixel
    and sky coordinates.
  </p>
  <p i18n>
    Turn on the source extraction overlay to preview which sources will be used in the WCS calibration.
  </p>
  <form [formGroup]="wcsCalibrationForm">
    <div>
      <div class="flex flex-row" fxLayoutGap="20px">
        <mat-slide-toggle formControlName="showOverlay" [labelPosition]="'before'" i18n>
          Show extraction overlay
        </mat-slide-toggle>
        <button mat-raised-button>Open Source Extraction Settings</button>
      </div>

      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label i18n>Select Image(s) to Calibrate</mat-label>
        <mat-select multiple formControlName="selectedHduIds">
          <mat-option *ngFor="let hduId of hduIds" [value]="hduId">
            {{ getHduOptionLabel(hduId) | async }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-icon-button (click)="onSelectAllBtnClick()" i18n-matTooltip matTooltip="Select All">
        <mat-icon>select_all</mat-icon>
      </button>

      <button mat-icon-button (click)="onClearSelectionBtnClick()" i18n-matTooltip matTooltip="Clear Selection">
        <mat-icon>clear</mat-icon>
      </button>
    </div>

    <div *ngIf="header$ | async as header" class="mb-3">
      <button mat-raised-button (click)="onAutofillFromFocusedViewerClick(header)">
        <mat-icon>colorize</mat-icon>
        <ng-container i18n>Extract values from current viewer</ng-container>
      </button>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="10px">
      <mat-form-field appearance="outline">
        <mat-label i18n>RA (hours)</mat-label>
        <input matInput formControlName="ra" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label i18n>Dec (degs)</mat-label>
        <input matInput formControlName="dec" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label i18n>Radius (degs)</mat-label>
        <input matInput type="number" formControlName="radius" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label i18n>Max Sources</mat-label>
        <input matInput type="number" formControlName="maxSources" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label i18n>Min Scale (arcsec/pixel)</mat-label>
        <input matInput type="number" formControlName="minScale" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label i18n>Max Scale (arcsec/pixel)</mat-label>
        <input matInput type="number" formControlName="maxScale" />
      </mat-form-field>
    </div>

    <div style="text-align: right; width: 100%">
      <button class="ml-2 mt-3" mat-raised-button (click)="onSubmitClick()" [disabled]="!wcsCalibrationForm.valid" i18n>
        Submit
      </button>
    </div>
  </form>

  <!-- <div *ngIf="showCurrentPixelOpsJobState$ | async" style="padding-top: 10px;"> -->
  <div *ngIf="activeJob$ | async; let job" style="margin-top: 10px">
    <div class="alert alert-info"
      *ngIf="!(activeJobResult$ | async) || ['pending', 'in_progress'].includes(job.state.status); else jobComplete">
      <span i18n>Processing job</span> {{ job.id }} ... ({{ job.state.progress | number: '1.0-0' }}%)

      <ng-container *ngIf="job.state.status == 'in_progress'">
        <div style="margin-top: 5px">
          <mat-progress-bar mode="determinate" [value]="job.state.progress" [color]="'primary'"> </mat-progress-bar>
        </div>
      </ng-container>
    </div>
    <ng-template #jobComplete>
      <div *ngIf="(activeJobResult$ | async)?.errors?.length != 0; else noErrors" class="alert alert-danger">
        <span *ngFor="let error of (activeJobResult$ | async)?.errors">{{ error.detail }}</span>
      </div>
      <ng-template #noErrors>
        <div class="alert alert-success" i18n>Processing is complete.</div>
      </ng-template>
    </ng-template>
  </div>
  <!-- </div> -->
</div>