<div mat-dialog-title class="dialog-title">
  <ng-container *ngIf="config.mode == 'close' else savingFilesBlock" i18n>Closing Files</ng-container>
  <ng-template #savingFilesBlock i18n>Saving Files</ng-template>
  <span *ngIf="config.files && config.files.length > 1"></span>
</div>
<mat-dialog-content *ngIf="currentFile">
  <div class="status pb-3" style="text-align: center" *ngIf="config.files && config.files.length > 1">
    <mat-progress-bar mode="determinate" [value]="(index$.getValue() / config.files.length) * 100"></mat-progress-bar>
    <div>
      {{ config.mode == 'close' ? 'Closing' : 'Saving' }} file {{ index$.getValue() + 1 }} of {{ config.files.length }}
    </div>
  </div>

  <!-- <div *ngIf="config.action" class="pb-4 dialog-action" ><p>{{ config.action }}</p></div> -->
  <div *ngIf="waitingForUserInput" class="pb-2 dialog-message">
    <ng-container i18n>Do you want to save the changes you made to</ng-container> {{ currentFile.name }}?
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="pb-4">
  <span style="padding-right: 40px">
    <mat-spinner *ngIf="!waitingForUserInput" diameter="35"></mat-spinner>
  </span>

  <button *ngIf="currentFile" mat-raised-button (click)="onSaveBtnClick()" [hidden]="!waitingForUserInput">
    <ng-container *ngIf="isReadOnly else saveBtnBlock" i18n>Save As...</ng-container>
    <ng-template #saveBtnBlock i18n>Save</ng-template>
  </button>
  <button *ngIf="currentFile" mat-raised-button (click)="onDiscardBtnClick()" [hidden]="!waitingForUserInput">
    Discard changes
  </button>
  <button mat-raised-button (click)="onCancelBtnClick()">Cancel</button>
</mat-dialog-actions>