<svg:g class="svg-rectangle-marker" [class.selected]="selected">
  <!-- <svg:rect *ngIf="showOutline" class="outer-outline" [attr.x]="x" [attr.y]="y" [attr.width]="width" [attr.height]="height" [attr.vector-effect]="'non-scaling-stroke'"/> -->
  <svg:rect
    *ngIf="showOutline"
    class="inner-outline"
    [attr.x]="x"
    [attr.y]="y"
    [attr.width]="width"
    [attr.height]="height"
    [attr.vector-effect]="'non-scaling-stroke'"
  />
  <svg:rect
    [attr.x]="x"
    [attr.y]="y"
    [attr.width]="width"
    [attr.height]="height"
    [attr.vector-effect]="'non-scaling-stroke'"
  />
</svg:g>
