<svg:g class="svg-rectangle-marker" [class.selected]="marker.selected" transform="translate(-0.5, -0.5)">
  <!-- <svg:rect *ngIf="showOutline" class="outer-outline" [attr.x]="x" [attr.y]="y" [attr.width]="width" [attr.height]="height" [attr.vector-effect]="'non-scaling-stroke'"/> -->
  <svg:rect
    *ngIf="showOutline"
    class="inner-outline"
    [attr.x]="marker.x"
    [attr.y]="marker.y"
    [attr.width]="marker.width"
    [attr.height]="marker.height"
    [attr.vector-effect]="'non-scaling-stroke'"
  />
  <svg:rect
    [attr.x]="marker.x"
    [attr.y]="marker.y"
    [attr.width]="marker.width"
    [attr.height]="marker.height"
    [attr.vector-effect]="'non-scaling-stroke'"
  />
</svg:g>
