@use '~@angular/material' as mat;
@mixin file-manager-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-file-manager {
    .wrapper {
      background-color: mat.get-color-from-palette($background, 'app-bar');
      border: 1px solid mat.get-color-from-palette($foreground, divider);
    }

    .toolbar {
      padding: 15px;
      min-height: 65px;
    }

    .path {
      border: 1px solid mat.get-color-from-palette($foreground, divider);
      background: mat.get-color-from-palette($background, 'card');
      min-height: 50px;
    }

    .path .path-item {
      margin-left: 10px;
      padding: 10px 0px;
    }

    .path .path-item:last-child:after {
      display: none;
    }

    .path .path-item:after {
      border-style: solid;
      border-width: 0.1em 0.1em 0 0;
      content: '';
      display: inline-block;
      height: 0.45em;
      left: 0.15em;
      position: relative;
      top: 0.85em;
      transform: rotate(45deg);
      vertical-align: top;
      width: 0.45em;
    }

    .file-items-panel {
      position: relative;
      min-height: 200px;
    }

    .table-wrapper {
      position: relative;
      overflow: auto;
    }

    .loading-shade {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0px;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    table {
      width: 100%;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    tr.mat-header-row {
      height: 40px;
    }

    td.select .mat-checkbox {
      display: none;
    }
    tr.selected td.select,
    td.select:hover,
    table.multi-selection-mode td.select {
      .mat-checkbox {
        display: unset;
      }
    }

    .mat-cell,
    .mat-header-cell,
    .mat-footer-cell {
      padding: 5px 15px !important;
    }

    .mat-cell > span.ellipsis {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .mat-column-select {
      width: 60px;
    }

    td.name {
      white-space: nowrap;
    }

    tr {
      cursor: default;
      background-color: mat.get-color-from-palette($background, 'app-bar') !important;

      &.selected td {
        background: mat.get-color-from-palette($primary);
        color: mat.get-color-from-palette($primary, default-contrast);
      }

      &.selected:hover td {
        background: mat.get-color-from-palette($primary, 0.88);
      }

      &:hover td {
        background: mat.get-color-from-palette($background, 'hover');
      }
    }
  }

  .bottom-toolbar {
    border: 1px solid mat.get-color-from-palette($foreground, divider);
    background: mat.get-color-from-palette($background, 'card');
    min-height: 50px;
  }

  .name-filter .mat-form-field-wrapper {
    padding-bottom: 0px;
    margin-bottom: 0p;
  }
}
