<div style="height: 600px" fxLayout="column" class="wrapper">
  <div *ngIf="showToolbar" class="toolbar" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px"
    style="width: 100%">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <button mat-raised-button *ngIf="showCreate$ | async" (click)="onCreateClick()">
        <mat-icon>create_new_folder</mat-icon> New directory
      </button>
      <button mat-raised-button *ngIf="showCopy$ | async" (click)="onCopyClick()">
        <mat-icon>file_copy</mat-icon> Copy to
      </button>
      <button mat-raised-button *ngIf="showMove$ | async" (click)="onMoveClick()">
        <mat-icon>drive_file_move</mat-icon> Move to
      </button>
      <button mat-raised-button *ngIf="showDelete$ | async" (click)="onDeleteClick()">
        <mat-icon>delete</mat-icon> Delete
      </button>
      <button mat-raised-button *ngIf="showRename$ | async" (click)="onRenameClick()">
        <mat-icon>drive_file_rename_outline</mat-icon> Rename
      </button>
      <button mat-raised-button *ngIf="showUpload$ | async" (click)="onUploadClick()">
        <mat-icon>publish</mat-icon> Upload
      </button>
      <input [hidden]="true" type="file" [accept]="allowedFileExtensions?.join(',')"
        (change)="handleUploadFilesChange($event)" multiple #fileUpload />
      <button mat-raised-button *ngIf="showDownload$ | async" (click)="onDownloadClick()">
        <mat-icon>get_app</mat-icon> Download
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <button mat-raised-button (click)="refresh$.next(true)" fxFlexAlign="end">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
  <div class="path" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="start center" style="width: 100%">
    <ng-container *ngIf="error$ | async; else pathBlock; let error">
      <div (click)="clearError()" class="alert-danger"
        style="width: 100%; padding: 10px; vertical-align: center; text-align: center">
        {{ error }}
      </div>
    </ng-container>
    <ng-template #pathBlock>
      <span class="path-item">
        <button mat-flat-button (click)="navigateToRoot()">Files</button>
      </span>
      <ng-container *ngIf="parentDataProvider$ | async; let parentDataProvider">
        <span class="path-item">
          <button mat-flat-button (click)="navigateTo(parentDataProvider.id, [])">
            {{ parentDataProvider.displayName }}
          </button>
        </span>
        <ng-container *ngFor="let asset of path?.assets; let i = index">
          <span class="path-item">
            <button mat-flat-button (click)="navigateTo(path.dataProviderId, path.assets.slice(0, i + 1))">
              {{ asset.name }}
            </button>
          </span>
        </ng-container>
      </ng-container>
    </ng-template>
  </div>
  <div fxFlex="1 1 auto" class="file-items-panel">
    <div class="loading-shade" *ngIf="isLoading || (dataSource?.loading$ | async)">
      <mat-spinner></mat-spinner>
    </div>
    <div class="table-wrapper" fxLayout="column" style="height: 100%">
      <div fxFlex="1 1 auto" style="overflow: auto">
        <table mat-table matSort [matSortActive]="(parentDataProvider$ | async)?.defaultSort?.field || 'name'"
          [matSortDirection]="(parentDataProvider$ | async)?.defaultSort?.direction || 'asc'"
          (matSortChange)="onSortChange($event)" [class.multi-selection-mode]="selection.selected.length > 1"
          [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select" sticky>
            <th class="select" mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="masterToggle()" [checked]="isAllSelected$ | async"
                [indeterminate]="isIndeterminate$ | async"
                [aria-label]="(isAllSelected$ | async) ? 'select all' : 'deselect all'">
              </mat-checkbox>
            </th>
            <td class="select" mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name" sticky>
            <th class="name" mat-header-cell mat-sort-header="name" *matHeaderCellDef>Name</th>
            <td class="name" mat-cell *matCellDef="let item">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                <mat-icon *ngIf="item.isDirectory; else fileIcon"> folder </mat-icon>
                <ng-template #fileIcon>
                  <mat-icon> insert_drive_file </mat-icon>
                </ng-template>
                <span>{{ item.name }}</span>
              </div>
            </td>
          </ng-container>

          <ng-container *ngFor="let column of columns$ | async" [matColumnDef]="column.caption">
            <th mat-header-cell [mat-sort-header]="column.dataField" [disabled]="!column.sortable" class="meta-column"
              *matHeaderCellDef>
              {{ column.caption }}
            </th>
            <td mat-cell class="meta-column" *matCellDef="let item">
              <span class="">{{ resolvePath(item, 'metadata.' + column.dataField) }} </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns$ | async; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; let rowIndex = index; columns: displayedColumns$ | async"
            [class.selected]="selection.isSelected(row)" (click)="onRowClick$.next({ $event: $event, item: row })"
            (dblclick)="onRowDblClick$.next({ $event: $event, item: row })"></tr>
        </table>
      </div>
      <div fxFlex="0 0 auto" class="bottom-toolbar">
        <div class="mat-paginator-outer-container">
          <div *ngIf="showNameFilter" class="name-filter p-2">
            <mat-form-field appearance="outline">
              <mat-label>Filter by name</mat-label>
              <input #nameFilterInput matInput i18n-placeholder placeholder="Filter by name"
                (input)="onNameFilterChange(nameFilterInput.value)" [value]="nameFilter" />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="mat-paginator-container">
            <div class="mat-paginator-page-size">
              <div class="mat-paginator-page-size-label" i18n>Items per page:</div>

              <mat-form-field class="mat-paginator-page-size-select">
                <mat-select [value]="pageSize" i18n-aria-label [aria-label]="'Items per page'"
                  (selectionChange)="_changePageSize($event.value)">
                  <mat-option *ngFor="let pageSizeOption of pageSizeOptions" [value]="pageSizeOption">
                    {{ pageSizeOption }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="mat-paginator-page-size-value" *ngIf="pageSizeOptions.length <= 1">{{ pageSize }}</div>
            </div>
            <div class="mat-paginator-range-actions">
              <button mat-icon-button type="button" class="mat-paginator-navigation-first"
                (click)="dataSource.first(); selection.clear()" [attr.aria-label]="'first page'"
                [matTooltip]="'first page'" [matTooltipDisabled]="!(dataSource?.firstLink$ | async)"
                [matTooltipPosition]="'above'" [disabled]="!(dataSource?.firstLink$ | async)"
                *ngIf="showFirstLastButtons">
                <svg class="mat-paginator-icon" viewBox="0 0 24 24" focusable="false">
                  <path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z" />
                </svg>
              </button>
              <button mat-icon-button type="button" class="mat-paginator-navigation-previous"
                (click)="dataSource.previous(); selection.clear()" [attr.aria-label]="'previous page'"
                [matTooltip]="'previous page'" [matTooltipDisabled]="!(dataSource?.prevLink$ | async)"
                [matTooltipPosition]="'above'" [disabled]="!(dataSource?.prevLink$ | async)">
                <svg class="mat-paginator-icon" viewBox="0 0 24 24" focusable="false">
                  <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                </svg>
              </button>
              <button mat-icon-button type="button" class="mat-paginator-navigation-next"
                (click)="dataSource.next(); selection.clear()" [attr.aria-label]="'next page'"
                [matTooltip]="'next page'" [matTooltipDisabled]="!(dataSource?.nextLink$ | async)"
                [matTooltipPosition]="'above'" [disabled]="!(dataSource?.nextLink$ | async)">
                <svg class="mat-paginator-icon" viewBox="0 0 24 24" focusable="false">
                  <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                </svg>
              </button>
              <button mat-icon-button type="button" class="mat-paginator-navigation-last"
                (click)="dataSource.last(); selection.clear()" [attr.aria-label]="'last page'"
                [matTooltip]="'last page'" [matTooltipDisabled]="!(dataSource?.lastLink$ | async)"
                [matTooltipPosition]="'above'" [disabled]="!(dataSource?.lastLink$ | async)"
                *ngIf="showFirstLastButtons">
                <svg class="mat-paginator-icon" viewBox="0 0 24 24" focusable="false">
                  <path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>