<svg:g class="outlined-ellipse" transform="translate(-0.5, -0.5)">
  <svg:ellipse
    *ngIf="secondaryOutline"
    class="secondary-outline"
    [attr.cx]="cx"
    [attr.cy]="cy"
    [attr.rx]="rx"
    [attr.ry]="ry"
    [attr.vector-effect]="'non-scaling-stroke'"
    style="fill-opacity: 0"
    [style.stroke-width]="strokeWidth + outlineWidth + secondaryOutlineWidth"
    [style.stroke]="secondaryOutline"
    [style.stroke-opacity]="secondaryOutlineOpacity"
  />

  <svg:ellipse
    *ngIf="outline"
    class="outline"
    [attr.cx]="cx"
    [attr.cy]="cy"
    [attr.rx]="rx"
    [attr.ry]="ry"
    [attr.vector-effect]="'non-scaling-stroke'"
    style="fill-opacity: 0"
    [style.stroke-width]="strokeWidth + outlineWidth"
    [style.stroke]="outline"
    [style.stroke-opacity]="outlineOpacity"
  />

  <svg:ellipse
    class="stroke"
    [attr.cx]="cx"
    [attr.cy]="cy"
    [attr.rx]="rx"
    [attr.ry]="ry"
    [attr.vector-effect]="'non-scaling-stroke'"
    style="fill-opacity: 0"
    [style.stroke-width]="strokeWidth"
    [style.stroke]="stroke"
    [style.stroke-opacity]="strokeOpacity"
  />
</svg:g>
