@use '@angular/material' as mat;
@import '@angular/material/theming';
@import './app/workbench/components/navbar/navbar-theme';
@import './app/workbench/containers/workbench-theme';
@import './app/workbench/containers/image-viewer/image-viewer-theme';
@import './app/workbench/containers/viewer-panel/viewer-panel-theme';
@import './app/workbench/containers/data-file-list/data-file-list-theme';
@import './app/workbench/tools/display/display-panel/display-panel-theme';
@import './app/workbench/components/image-viewer-status-bar/image-viewer-status-bar-theme';
@import './app/data-providers/components/file-manager/file-manager-theme';
@import './app/utils/alert-dialog/alert-dialog-theme';
@import './app/jobs/components/jobs-table/jobs-table-theme';
@import './app/jobs/components/job-details/job-details-theme';
@import './app/jobs/containers/jobs-page/jobs-page-theme';
@import './app/settings/settings-page/settings-page-theme';

// Styles for the docs app that are based on the current theme.
@mixin afterglow-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // .app-background {
  //   background: mat-color($background, background);
  // }

  // .primary-header {
  //   background: mat-color($primary);

  //   h1 {
  //     color: mat-color($primary, default-contrast);
  //   }
  // }

  // .footer {
  //   background: mat-color($primary);
  //   color: mat-color($primary, default-contrast);
  // }


  @include nav-bar-theme($theme);
  @include workbench-theme($theme);
  @include display-panel-theme($theme);
  @include image-viewer-theme($theme);
  @include image-viewer-status-bar-theme($theme);
  @include viewer-panel-theme($theme);
  @include data-file-list-theme($theme);
  @include file-manager-theme($theme);
  @include alert-dialog-theme($theme);
  @include jobs-table-theme($theme);
  @include job-details-theme($theme);
  @include jobs-page-theme($theme);
  @include settings-page-theme($theme);

  .context-menu .context-label {
    padding-right: 30px;
  }

  .context-menu .mat-menu-item {
    line-height: 36px;
  }

  header {
    box-shadow: 0 10px 6px -6px mat.get-color-from-palette($foreground, divider);
  }

  .mat-input-element {
    color: mat.get-color-from-palette($foreground, text);
  }

  .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border-left: none;
  }

  .mat-button-toggle {
    outline: none;
    background: mat.get-color-from-palette($background, unselected-chip);
    color: mat.get-color-from-palette($foreground, secondary-text);
    opacity: 0.9;
  }

  .mat-button-toggle-button:focus {
    outline: none !important;
    // border-top: solid 2px mat-color($foreground, text);
    // border-bottom: solid 2px mat-color($foreground, text);
  }

  .mat-button-toggle-checked {
    background: mat.get-color-from-palette($background, app-bar);
    opacity: 1;
    outline: none;
    color: mat.get-color-from-palette($foreground, text) !important;
    border-top: solid 2px mat.get-color-from-palette($primary);
    border-bottom: solid 2px mat.get-color-from-palette($primary);
  }

  .mat-button-toggle-disabled.mat-button-toggle-checked {
    background: mat.get-color-from-palette($background, app-bar);
    outline: none;
    opacity: 0.7;
    color: mat.get-color-from-palette($foreground, secondary-text) !important;
    border: none;
  }

  .mat-button-toggle-disabled {
    outline: none;
    opacity: 0.5;
    color: mat.get-color-from-palette($foreground, hint-text) !important;
  }

  /* Layer menu for blend mode and color map */
  .mat-menu-item.selected,
  .mat-menu-item:hover:not([disabled]) {
    background: mat.get-color-from-palette($primary);
    color: mat.get-color-from-palette($primary, default-contrast);
  }

  theme-picker {
    .mat-button,
    .mat-icon-button {
      color: mat.get-color-from-palette($primary, default-contrast);
      opacity: 0.8;
    }

    a.active {
      opacity: 1;
    }
  }

  .mat-tooltip {
    background-color: mat.get-color-from-palette($foreground, text, 1);
    color: mat.get-color-from-palette($background, card);
    max-width: 600px !important;
    white-space: nowrap;
  }

  .mat-dialog-container {
    background: mat.get-color-from-palette($background, card);
    color: mat.get-color-from-palette($foreground, text);
  }

  .kbd {
    display: inline-block;
    border: 1px solid mat.get-color-from-palette($primary, 0.5);
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: mat.get-color-from-palette($primary);
    color: mat.get-color-from-palette($primary, default-contrast);
  }

  .cfp-hotkeys-container {
    background-color: mat.get-color-from-palette($background, card) !important;
  }

  .cfp-hotkeys-key {
    display: inline-block;
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
    margin-right: 5px;
    box-shadow: inset 0 1px 0 #666, 0 1px 0 #bbb;
    padding: 5px 9px;
    font-size: 1em;
  }

  /* override bootstrap */
  .app-root {
    color: mat.get-color-from-palette($foreground, text);
  }

  .main-content {
    background: mat.get-color-from-palette($background, background, 0.8);
  }

  .card {
    background: mat.get-color-from-palette($background, card);
  }

  label,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  th,
  td,
  p {
    color: mat.get-color-from-palette($foreground, text);
  }

  svg text {
    fill: mat.get-color-from-palette($foreground, text);
  }

  .breadcrumb {
    background: mat.get-color-from-palette($background, card);
  }

  a {
    color: mat.get-color-from-palette($accent);
  }

  .alert-info a {
    color: #0c5460;
  }

  .alert-success a {
    color: #155724;
  }

  // .plotly {
  //   svg {
  //     background-color: #ABABAB;
  //   }
  // }
}
