
@import "~@angular/material/theming";
@import "./app-theme";

@include mat-core();

//Define a light theme.
$light-primary: mat-palette($mat-indigo, 600, 400, 800);
$light-accent: mat-palette($mat-deep-orange);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
@include angular-material-theme($light-theme);
@include afterglow-app-theme($light-theme);

// Define a dark theme.
$dark-primary: mat-palette($mat-cyan, 500, 400, 700);
$dark-accent: mat-palette($mat-orange);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.cyan-dark-theme {
  @include angular-material-theme($dark-theme);
  @include afterglow-app-theme($dark-theme);

  app-navbar {
    .navbar,
    .navbar-header {
      background: mat-color($mat-grey, 700);
    }

    .mat-button,
    .mat-icon-button {
      $foreground: map-get($dark-theme, foreground);
      color: mat-color($foreground, text);
    }
  }
}

// Define a dark high contrast theme.
$dark-hc-primary: mat-palette($mat-yellow, 500, 400, 600);
$dark-hc-text: mat-color($mat-yellow, 500);
$dark-hc-disabled-text: mat-color($mat-yellow, 700);
$dark-hc-icons: mat-color($mat-yellow, 400);
$dark-hc-accent: mat-palette($mat-yellow, 600);
$dark-hc-theme: mat-dark-theme($dark-hc-primary, $dark-hc-accent, $dark-warn);
$foreground: map-get($dark-hc-theme, foreground);
// @debug $foreground;
$foreground: map_merge(
  $foreground,
  (
    text: $dark-hc-text,
    "secondary-text": $dark-hc-text,
    icon: $dark-hc-icons,
  )
);

$background: map-get($dark-hc-theme, background);
// @debug $foreground;
$background: map_merge($background, ());

$dark-hc-theme: map_merge(
  $dark-hc-theme,
  (
    foreground: $foreground,
    background: $background,
  )
);

.high-contrast-theme {
  @include angular-material-theme($dark-hc-theme);
  @include afterglow-app-theme($dark-hc-theme);

  .mat-button,
  .mat-icon-button {
    color: mat-color($foreground, text);
  }

  app-navbar {
    .navbar,
    .navbar-header {
      background: mat-color($background, background);
    }

    a.mat-button,
    a.mat-icon-button,
    .mat-button,
    .mat-icon-button {
      color: mat-color($foreground, text);
    }
  }

  theme-picker {
    .mat-button,
    .mat-icon-button {
      color: mat-color($foreground, text);
    }
  }
}



$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
.icon-user {
  @extend .fa;
  @extend .fa-user;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$custom-typography: mat-typography-config(
  $font-family: 'Roboto'
);
@include angular-material-typography($custom-typography);


body {
  font-family: Roboto, Arial, sans-serif;
}

.mono {
  // font-family: 'Anonymous Pro', monospace;
  font-family: "Roboto Mono", monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

th {
  font-weight: 500;
}

.data-provider-menu {
  max-width: 350px !important;
}

.action-menu {
  max-width: 450px !important;
}

.fx-workbench-outlet {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex: 1 1 0%;
  outline: none;
  flex-direction: row;
}


/* fix bootstrap underlining and applying color to button font */
a.mat-button {
  color: inherit;
  text-decoration: none;
}

/* fix margin beneath mat-button-toggle */
label.mat-button-toggle-label {
  margin-bottom: 0px;
}

/* fix bootstrap margin bottom on labels */
.mat-checkbox label {
  margin-bottom: 0px;
}

.no-axis-labels .tick text,
.no-axis-labels .nv-axisMaxMin text {
  display: none;
}

.td-data-table-cell-content-wrapper {
  padding: 0px 5px 0px 5px !important;
}

.data-file-tool-tip {
  background-color: rgba(35, 35, 35, 255);
  font-size: 12px;
}

.file-path-tooltip {
  max-width: 400px !important;
  background: rgba(97, 97, 97, 1) !important;
  font-size: 12px !important;
}

.viewer-panel .mat-tab-label .mat-tab-label-content {
  width: 100%;
}

#example10positionSelector {
  margin-top: 1em;
}

/* Angular Material Tabs Full Height in Workbench View Manager */

.mat-tab-group.mat-tab-fill-height .mat-tab-body-wrapper {
  flex: 1 1 100%;
}

/* Important.  Prevents central view manager from pushing tool panel to the right. */
/* This allows the mat-tabs to overflow with scrolling */
.workbench-outlet-panel .image-viewer-grid-panel {
  min-width: 250px;
}

/* Data Provider File Manager */
.dx-drawer-panel-content.dx-drawer-panel-content-initial {
  display: none !important;
}


/* Photometry Data Tooltips */
.photometry-data-tooltip {
  white-space: pre !important;
}