@import '~@angular/material/theming';
// @import '~@covalent/core/theming/all-theme';
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// @import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Lato|Roboto+Mono|Roboto');
@import './app-theme';

// Include material core styles.
@include mat-core();


// @function afterglow-light-theme($primary, $accent, $warn: mat-palette($mat-red), $background-color: #fafafa, $foreground-color: #000000) {
//   $theme:  mat-light-theme($primary, $accent, $warn);
//   $background: map-get($theme, background);
//   @debug $background;
//   $background: map_merge($background, (background: $background-color));
//   $theme: map_merge($theme, (background: $background));
//   $foreground: map-get($theme, foreground);
//   @debug $foreground;
//   $foreground: map_merge($foreground, (foreground: $foreground-color));
//   $theme: map_merge($theme, (foreground: $foreground));

//   @return $theme;
// }

// @function afterglow-dark-theme($primary, $accent, $warn: mat-palette($mat-red), $background-color: #000000, $foreground-color: #fafafa) {
//   $theme:  mat-dark-theme($primary, $accent, $warn);
//   // $background: map-get($theme, background);
//   // $background: map_merge($background, (background: $background-color));
//   // $theme: map_merge($theme, (background: $background));

//   @return $theme;
// }


//Define a light theme.
$light-primary: mat-palette($mat-indigo, 600, 400, 800);
$light-accent:  mat-palette($mat-deep-orange);
$light-warn:    mat-palette($mat-red);
$light-theme:   mat-light-theme($light-primary, $light-accent, $light-warn);
@include angular-material-theme($light-theme);
@include afterglow-app-theme($light-theme);

// Define a dark theme.
$dark-primary: mat-palette($mat-cyan, 500, 400, 700);
$dark-accent:  mat-palette($mat-orange);
$dark-warn:    mat-palette($mat-red);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.cyan-dark-theme {
  @include angular-material-theme($dark-theme);
  @include afterglow-app-theme($dark-theme);

  app-navbar {
    .navbar, .navbar-header {
      background: mat-color($mat-grey, 700);
    }

    .mat-button, .mat-icon-button {
      $foreground: map-get($dark-theme, foreground);
      color: mat-color($foreground, text);
    }
  }
}

// Define a dark high contrast theme.
$dark-hc-primary: mat-palette($mat-yellow, 500, 400, 600);
$dark-hc-text: mat-color($mat-yellow, 500);
$dark-hc-disabled-text: mat-color($mat-yellow, 700);
$dark-hc-icons: mat-color($mat-yellow, 400);
$dark-hc-accent: mat-palette($mat-yellow, 600);
$dark-hc-theme:  mat-dark-theme($dark-hc-primary, $dark-hc-accent, $dark-warn);
$foreground: map-get($dark-hc-theme, foreground);
// @debug $foreground;
$foreground: map_merge($foreground, (
  text: $dark-hc-text,
  'secondary-text': $dark-hc-text,
  icon: $dark-hc-icons,
));

$background: map-get($dark-hc-theme, background);
// @debug $foreground;
$background: map_merge($background, (
  
));


$dark-hc-theme: map_merge($dark-hc-theme, (foreground: $foreground, background: $background));


.high-contrast-theme {
  @include angular-material-theme($dark-hc-theme);
  @include afterglow-app-theme($dark-hc-theme);

  .mat-button, .mat-icon-button {
    color: mat-color($foreground, text);
  }

  app-navbar {
    .navbar, .navbar-header {
      background: mat-color($background, background);
    }

    a.mat-button, a.mat-icon-button, .mat-button, .mat-icon-button {
      color: mat-color($foreground, text);
    }
  }

  theme-picker {
    .mat-button, .mat-icon-button {
      color: mat-color($foreground, text);
    }
  }
}

.large {
  label, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, th, td, p, span, input, button, a, th, td, .mat-cell {
    font-size: 1.25em;
  }
  .mat-slide-toggle {
    line-height: normal;
  }
}

.largest {
  label, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, th, td, p, span, input, button, a, th, td, .mat-cell {
    font-size: 1.5em;
  }
  .mat-slide-toggle {
    line-height: normal;
  }
}


.bold {
  label, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, th, td, p, span, input, button, a, th, td, .mat-cell {
    font-weight: bold;
  }
}

.boldest {
  label, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, th, td, p, span, input, button, a, th, td, .mat-cell {
    font-weight: bolder;
  }
}

.data-provider-menu {
  max-width: 350px !important;
}

.action-menu {
  max-width: 450px !important;
}


$fa-font-path:"~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
.icon-user {
  @extend .fa;
  @extend .fa-user;
}


$custom-typography: mat-typography-config(
  $font-family: '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($custom-typography);

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.mono {
  // font-family: 'Anonymous Pro', monospace;
  font-family: 'Roboto Mono', monospace;
}

html, body {
  height: 100%;
  width: 100%;
}

.fx-workbench-outlet {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex: 1 1 0%;
  outline: none;
  flex-direction: row;
}


/* Videogular 2 Player */

vg-player {
  background: rgb(240, 240, 240) !important;
}

vg-controls {
  background: rgb(240, 240, 240) !important;
}

vg-controls * {
  color: black !important;
}

vg-controls vg-scrub-bar-current-time .background {
  border: 1px solid black !important;
}

vg-scrub-bar-current-time .background {
  background-color: black !important;
}

/* fix bootstrap underlining and applying color to button font */
a.mat-button {
  color: inherit;
  text-decoration: none;
  
}

/* fix margin beneath mat-button-toggle */
label.mat-button-toggle-label {
  margin-bottom: 0px;
}

/* fix bootstrap margin bottom on labels */
.mat-checkbox label {
  margin-bottom: 0px;
}


.no-axis-labels .tick text,  .no-axis-labels .nv-axisMaxMin text{
  display: none;
}



/* fix for datatables which scroll bar is hidden, column widths don't match header widths */
div.ui-datatable-scrollable-body {
  overflow-y: scroll;
}

/* fix for kendo ui grid selected rows with bootstrap css theme */
.k-grid tr.k-state-selected:hover, .k-grid th.k-state-selected:hover, .k-grid td.k-state-selected:hover {
  background-color: rgba(0, 123, 255, 0.25);
}


.td-data-table-cell-content-wrapper {
  padding: 0px 5px 0px 5px !important;
}


.data-file-tool-tip {
  background-color: rgba(35,35,35,255);
  font-size: 12px;
}


// /* Material Icon */
// /* Rules for sizing the icon. */
// .material-icons.md-18 { font-size: 18px; }
// .material-icons.md-24 { font-size: 24px; }
// .material-icons.md-36 { font-size: 36px; }
// .material-icons.md-48 { font-size: 48px; }

// /* Rules for using icons as black on a light background. */
// .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
// .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// /* Rules for using icons as white on a dark background. */
// .material-icons.md-light { color: rgba(255, 255, 255, 1); }
// .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3)}

.ngxp-title {
  padding: 10px;
  background: #fc5722;
  color: #ffffff;
}
.ngxp__container {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 10px;
  text-align: center;
  z-index: 99999;
  max-width: 400px;
}

#example10positionSelector {
  margin-top: 1em;
}

.ngxp__container[x-placement^="top"] .ngxp__arrow {
  border-width: 10px 0px 10px 10px !important;
  bottom: -10px !important;
  border-color: #fc5722 transparent transparent transparent;
}

.ngxp__container[x-placement^="bottom"] .ngxp__arrow {
  border-width: 0px 10px 10px 10px !important;
  top: -10px !important;
  border-color: transparent transparent #fc5722 transparent;
}

.ngxp__container[x-placement^="right"] .ngxp__arrow {
  border-width: 10px 10px 10px 0px !important;
  left: -10px !important;
  border-color: transparent #fc5722 transparent transparent;
}

.ngxp__container[x-placement^="left"] .ngxp__arrow {
  border-width: 10px 10px 0px 10px !important;
  right: -10px !important;
  border-color: transparent transparent transparent #fc5722;
}



/* Angular Material Tabs Full Height in Workbench View Manager */

.mat-tab-group.mat-tab-fill-height .mat-tab-body-wrapper {
  flex: 1 1 100%;
}

