<svg:g class="svg-line-marker" [class.selected]="selected">
    <svg:line *ngIf="showShadow" class="shadow" [attr.x1]="x1" [attr.y1]="y1" [attr.x2]="x2" [attr.y2]="y2" [attr.vector-effect]="'non-scaling-stroke'"/>
    <svg:line *ngIf="showOutline" class="outline" [attr.x1]="x1" [attr.y1]="y1" [attr.x2]="x2" [attr.y2]="y2" [attr.vector-effect]="'non-scaling-stroke'"/>
    <svg:line class="stroke" [attr.x1]="x1" [attr.y1]="y1" [attr.x2]="x2" [attr.y2]="y2" [attr.vector-effect]="'non-scaling-stroke'"/>
</svg:g>
